.blogcard{
    border-radius: 20px;
    box-shadow: 0px 0px 10px 4px #dddfe2;
}
.parent{
    display: flex;
    align-items: center;
}


.date{
    
    min-width: 20%;
    text-align: center !important;
    margin-right: 20px;
    color: #333333;
}

.contents{
    border-left: 3px solid #333333;
    padding-left: 20px;
    color: #333333;
}

.contents h2{
    text-transform: uppercase;
}
.contents p{
    margin-bottom: 0;
}
.contents p span{
    position: relative;
    cursor: pointer;
    font-weight: 500;
}
.contents p span a:hover{
    text-decoration: underline;
}

.blogcard:hover{
   background-color: aliceblue;
   cursor: default;
}

.tag_style {
    color: black;
    display: inline-block;
    word-break: break-word;
    max-width: 100%;
    margin: 5px 1px 4px 2px;
    padding: 5px;
    background-color: rgb(233, 232, 232);
    border: 2px solid rgb(255, 255, 255);
    border-radius: 8px;
  }

@media screen and (max-width : 450px) {
    .parent{
        flex-direction: column;
        position: relative;
        align-items: flex-start;
    }
    .contents{
        width: 100%;
        border-left: none;
        border-top: 3px solid #333333 ;
        padding-left: 0;
        padding-right: 0;
        padding-top: 5px;
    }
    .date{
        width: 100%;
        text-align: right !important;
        margin-right: 0;
    }
    .date h2{
        font-size: 1.0625rem;
    }
}
