.AcmLogo {
    transform: scale(2.5);
    margin-top: 30px;
}





@media only screen and (max-width: 768px) {
    .AcmLogo {
        transform: scale(2);
        margin-left: 15px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}