* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


/* CardHeader */
/* .drop-text {
font-size:medium;
width: fit-content;
margin-left: 35px;
} */

.post-btn{
margin-right: 35px;
}

/* post section */
.post-section{
text-transform: uppercase;
background-color: white;
height: 50vh;
padding-top: 3px;
padding: 0;
overflow-y: auto;
}

.cont-nodata{
display: flex;
justify-content: center;
align-items: center;
height: 50vh;

}

.h-line{
margin: auto;
}

.post-component{

height: auto;
}

.contentBox{
display: flex;
justify-content: space-between;
align-items: center;
flex-wrap: nowrap;
padding: 10px 20px;
border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.contentBox:hover{
background-color: aliceblue;
}


.details{
display: flex;
flex-direction: column;
padding-right: 15px;
}

.Buttons{
  display: flex;
}


@media screen and (max-width : 400px) {
      .contentBox{
        flex-direction: column;
        position: relative;
        text-align: center;
      }
      .details{
        padding-right: 0px;

      }
}

@media screen and (min-width: 768px) and (max-width : 900px) {
      /* .smallBox{
        max-width: 45%;
      } */
}

@media screen and (min-width : 768px){

  .temp{
    margin: 0;
    padding: 0;
  }
}
