.navbarLogo {
  height: 60px !important;
}
.topSection {
  position: absolute;
  height: 100vh;
  width: 100vw;
  display: block;
  box-sizing: border-box;
  height: 500px;
  background-color: #11cdef;
  clip-path: ellipse(115% 70% at 100% -5%);
}
.registerPage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  place-items: center;
}
.registerLeft {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px 20px 20px 30px;
  max-width: 500px;
}
.registerRight {
  max-width: 500px;
}
.loginPage {
  display: grid;
  /* grid-template-columns: 1fr 1fr; */
  place-items: center;
}
.glass {
  backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(255, 255, 255, 0.75);
  border-radius: 12px;
  border: 1px solid rgba(209, 213, 219, 0.3);
}
@media screen and (max-width: 768px) {
  .registerPage {
    /* grid-template-rows: 1fr 1fr; */
    grid-template-columns: 1fr;
  }
  .registerLeft {
    width: 100%;
    margin-top: 3rem;
  }
  .registerRight {
    width: 100%;
    padding: 0;
  }
}
