.reset_btn{
    background-color:deepskyblue;
    color: white;
    border: 0;
    
}
.reset_btn:hover{
    background-color:#81dfff;
    color:black;

}
@media screen and (max-width:434px) {
    .resetpassword{
        max-width: 300px;
    }
}
@media screen and (max-width:332px) {
    .resetpassword{
        max-width: 250px;
        padding: 0;
    }
}