:root {
    --primary: #4e73df;
    --dark: #5a5c69;
    --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
      "Liberation Mono", "Courier New", monospace;
  }

body{
    background: var(--primary);
    font-family: var(--font-family-monospace);
}
form{
    display: flex;
    flex-direction: column;
    background: white;
    width: fit-content;
    margin: auto;
    padding: 2vw;
    border-radius: .5rem;
    box-shadow: rgba(0, 0, 0, 1);

}
input{
    margin: 10px auto;
    width: 20vw;
    height: 3vh;
    font-size: 1.5em;
}
input{
    border-radius: 14px;
}
label{
    position: relative;
    text-align: center;
    margin-top: 1vh;
}
button{
    background-color: rgb(0, 204, 255); 
    border-radius: 3px;
    margin-top: 10px;
    width: 10vw;
    color: var(--dark);
    font-weight: bold;
    align-self: center;
    cursor: pointer;
    padding:1vw ;
}