
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@300&display=swap');
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  margin-left: 1px;
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.globalContent{
     -webkit-box-flex:1;
     -ms-flex-positive:1;
     flex-grow:1;
     font-family:'Camphor','Open Sans','Segoe UI','sans-serif';
     font-weight:400;
     font-style:normal;
     display:flex;
     flex-direction:column;
     margin:0;
     padding:0;
}
.common-Link{
     text-decoration:none;
     -webkit-tap-highlight-color:transparent;
}
.head-1,.head-2,.head-3,.para,figure{
     margin:0;
     padding:0;
}
.container-lg{
     margin:0 auto;
     padding:0px 20px;
     width:100%;
     max-width:1040px
}
.common-PageTitle{
     font-weight:300;
     font-size:30px;
     line-height:56px;
     color:#32325d;
     letter-spacing:-.01em
}
.common-IntroText{
     font-weight:300;
     font-size:21px;
     line-height:32px;
     color:#424770
}
.common-StripeGrid{
     --stripe-height:48px;
     --content-columns:12;
     --gutter-columns:4;
     position:absolute;
     width:100%;
     top:0;
     bottom:0;
     z-index:-1;
     pointer-events:none;
}
.common-StripeGrid .backgroundContainer,
.common-StripeGrid .stripeContainer{
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-orient:vertical;
     -webkit-box-direction:normal;
     -ms-flex-direction:column;
     flex-direction:column;
     -webkit-box-align:center;
     -ms-flex-align:center;
     align-items:center;
     position:absolute;
     width:100%;
     height:100%;
     -webkit-transform:skewY(-12deg);
     transform:skewY(-12deg)
}
.common-StripeGrid.anchorBottom .backgroundContainer,
.common-StripeGrid.anchorBottom .stripeContainer{
     -webkit-box-pack:end;
     -ms-flex-pack:end;
     justify-content:flex-end
}

.common-StripeGrid .backgroundContainer .grid{
     grid-template-columns:1fr;
     min-width:0
}

.common-StripeGrid.anchorBottom .grid{
     height:200%;
     -ms-flex-line-pack:end;
     align-content:end
}

.common-StripeGrid .grid{
     --content-column-width:minmax(0,calc(1040px / var(--content-columns)));
     --gutter-column-width:1fr;
     position:absolute;
     width:100%;
     height:100%;
     display:grid;
     grid-template-rows:repeat(auto-fill,var(--stripe-height));
     grid-template-columns:[viewport-start] 1fr [left-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width)) [left-gutter-end content-start] repeat(var(--content-columns),var(--content-column-width)) [content-end right-gutter-start] repeat(var(--gutter-columns),var(--gutter-column-width)) [right-gutter-end] 1fr [viewport-end]
}
.common-StripeGrid .backgroundContainer .background{
     grid-row:1/-1;
     grid-column:1/-1;
     z-index:-1
}

.common-StripeGrid .stripeContainer{
     overflow:hidden
}
.common-MediumBodyText{
     font-weight:400;
     font-size:19px;
     line-height:32px;
     color:#525f7f
}

.common-SectionTitle{
     font-weight:400;
     font-size:34px;
     line-height:44px;
     color:#32325d
}
.common-BodyText{
     font-weight:400;
     font-size:17px;
     line-height:28px;
     color:#525f7f
}

.u-overflow-hidden{
     overflow:hidden
}
.u-emphasis{
     font-weight:500
}
.header{
     position:relative;
}
.header-content{
     padding:100px 0 70px;
     max-width:720px;
     margin:0 auto;
     text-align:center
}
.header-title{
     margin:0 0 20px;
     font-weight:400
}
.header-title span{
     display:inline-block
}
.header-content .u-emphasis{
     color:#32325d
}
.header .common-StripeGrid .stripeContainer .stripe:first-child{
     grid-row:-10;
     grid-column:left-gutter-start/span 3;
     box-shadow:inset 0 0 0 1.5px #e6ebf1
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(2){
     grid-row:-9;
     grid-column:4/span 2;
     background-color:#c4f0ff;
     margin-top:-2px
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(3){
     grid-row:-8;
     grid-row:-6;
     grid-column:span 2/right-gutter-end;
     background-color:#87bbfd
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(4){
     grid-row:-5;
     grid-column:right-gutter-start/span 2;
     box-shadow:inset 0 0 0 1.5px #e6ebf1
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(5){
     grid-row:-4;
     grid-column:left-gutter-start/span 3;
     background-color:#87bbfd
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(6){
     grid-row:-3;
     grid-column:viewport-start/span 6;
     background-color:#424770
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(7){
     grid-row:-2;
     grid-column:3/span 3;
     background-color:#c4f0ff
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(8){
     grid-row:-2;
     grid-column:6/span 3;
     background-color:#6772e5
}
.header .common-StripeGrid .stripeContainer .stripe:nth-child(9){
     grid-row:-2;
     grid-column:span 3/right-gutter-end;
     background-color:#6772e5
}
.section-intro{
     text-align:center;
}
.section-intro .common-IntroText{
     max-width:800px;
     margin:0 auto
}
.section-intro .common-SectionTitle{
     margin:0 0 18px
}
.customers{
     background-color:#f6f9fc;
     z-index:3
}
.section{
     position:relative
}
.section--padding{
     padding:60px 0
}
.today{
     position:relative;
     padding:140px 0 70px;
     background:linear-gradient(transparent,transparent 50%,#f6f9fc 0,#f6f9fc)
}
.today-content{
     display:grid;
     grid-template-rows:auto auto;
     grid-template-columns:1fr;
     grid-gap:40px 0;
     gap:40px 0;
     position:relative;
     z-index:2;
}
.today-content p+p{
     margin:16px 0 0
}
.today-title{
     margin:0 0 16px;
     font-size: 26px ;
     line-height:1.4;
     color:#32325d
}
.today-content .u-emphasis{
     color:#32325d
}
.today-chart{
     position:relative;
     z-index:2
}
.chart{
     background-image: url('../images/img1.jpg');
     background-position: center;
     background-size: cover;
     background-repeat: no-repeat;
     border-radius: 4px;
     display:grid;
     grid:auto/auto-flow 67px;
     align-items:end;
     justify-content:space-evenly;
     position:relative;
     height:240px;
     overflow:visible;
     box-shadow:0 13px 27px -5px rgba(50,50,93,.25),0 8px 16px -8px rgba(0,0,0,.3),0 -6px 16px -6px rgba(0,0,0,.025)
}
.today .common-StripeGrid{
     z-index:1
}
.today .common-StripeGrid .backgroundContainer .background{
     background-color:rgb(242 248 255);
}
.today .common-StripeGrid .stripeContainer .stripe:first-child{
     grid-row:1;
     grid-column:
     span 6/viewport-end;
     background-color:#c4f0ff
}
.today .common-StripeGrid .stripeContainer .stripe:nth-child(2){
     grid-row:2;
     grid-column:-8/span 2;
     background-color:#87bbfd
}
.today .common-StripeGrid .stripeContainer .stripe:nth-child(3){
     grid-row:2;
     grid-column:-6/span 3;
     background-color:#424770
}
.today .common-StripeGrid .stripeContainer .stripe:nth-child(4){
     grid-row:4;
     grid-column:-5/span 2;
     box-shadow:inset 0 0 0 1.5px #e6ebf1
}

.customers-grid{
     display:grid;
     margin:40px 0;
     grid-template-rows:repeat(10,1fr);
     grid-template-columns:repeat(2,1fr);
     grid-gap:14px 30px;gap:14px 30px
}
.customers-customer{
     display:flex;
     justify-content:center;
     align-items:center
}
.customers-customer svg{
     max-width:100%;
     height:auto;
     transform:scale(.8)
}
.customers-callout{
     max-width:810px;
     margin:60px auto 0;
     padding:30px;
     display:flex;
     flex-direction:column;
     align-items:center;
     justify-content:flex-start;
     color:#525f7f;
     border:2px solid #e6ebf1;
     border-radius:4px
}
.customers-callout span{
     color:#32325d
}
.customers-callout figure{
     margin:0 0 22px;
     display:none
}
#site-wrapper{
     margin:0;
     min-height:100%;
     font-family: 'Nunito Sans', sans-serif;
}
#site-wrapper:after{
     height:auto;
     content:"";
     display:block;
}
#site-body{
     min-width:1020px;
     font-size:17px;
     font-weight:600;
     letter-spacing:-.008em;
     line-height:1.23536em;
}
.collab-card {
     width: 250px !important;
     height: 280px;
     margin: 3% 1%;
     border-radius: 8px;
     text-align: center;
     /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); 
     box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
     -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
     -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72); */
     background-color: white;
     background-image: linear-gradient(to bottom right, white, #e6ffff);
   }
   .collab-card:hover {
     width: 250px !important;
     height: 280px;
     margin: 3% 1%;
     border-radius: 8px;
     text-align: center;
     /* box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
     -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
     -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72); */
     background-color: white;
     background-image: linear-gradient(to bottom right, white, #e6ffff);
   }
   /* .card-1 {
     background: url('../images/collab/coursera-ConvertImage.png') no-repeat;
     display: inline-block !important;
     width: 10rem !important;
     height: 10rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   }
   .collab-card:hover > .card-1 {
     background: url('../images/collab/coursera.png') no-repeat;
     display: inline-block !important;
     width: 12rem !important;
     height: 12rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   } */
   .card-2 {
     background: url('../images/collab/docker.png') no-repeat;
     display: inline-block !important;
     width: 10rem !important;
     height: 10rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   }
   /* .collab-card:hover > .card-2 {
     background: url('../images/collab/docker.png') no-repeat;
     display: inline-block !important;
     width: 12rem !important;
     height: 12rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   } */
   .card-3 {
     background: url('../images/collab/lenskart.png') no-repeat;
     display: inline-block !important;
     width: 10rem !important;
     height: 10rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   }
   /* .collab-card:hover > .card-3 {
     background: url('../images/collab/lenskart.png') no-repeat;
     display: inline-block !important;
     width: 12rem !important;
     height: 12rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   } */
   .card-4 {
     background: url('../images/collab/coding.png') no-repeat;
     display: inline-block !important;
     width: 10rem !important;
     height: 10rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   }
   /* .collab-card:hover > .card-4 {
     background: url('../images/collab/coding.png') no-repeat;
     display: inline-block !important;
     width: 12rem !important;
     height: 12rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   } */
   .card-5 {
     background: url('../images/collab/cad.png') no-repeat;
     display: inline-block !important;
     width: 10rem !important;
     height: 10rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   }
   /* .collab-card:hover > .card-5 {
     background: url('../images/collab/cad.png') no-repeat;
     display: inline-block !important;
     width: 12rem !important;
     height: 12rem !important;
     padding: 2vh 4vh;
     background-position: center;
     background-size: contain;
     text-align: center;
     transition: all 0.5s ease-in-out !important;
   } */
   .blue-hr {
     margin: 0px !important;
     border-style: none;
     border-top: 6px solid #0297ff !important;
     border-radius: 8px;
   }
   .collab-heading {
     font-size: 1.5rem;
     font-weight: 500;
     color: #222;
   }

   .meet-us{
     background-color: #2250fc;
     margin-top: 20px;
   }

   input::-webkit-outer-spin-button,
   input::-webkit-inner-spin-button {
     -webkit-appearance: none;
    margin: 0;
     }

     input[type=number] {
          -moz-appearance: textfield;
     }

   .container-btn {  
      
     display: grid;  
     } 
     button {  
          background-color: lightblue;  
          color: black;
          font-family:'Camphor','Open Sans','Segoe UI','sans-serif';  
          font-size: 25px;  
          margin: auto; 
          cursor:pointer; 
          }   
#milestones{
     padding-top:5.5rem;
     padding-bottom: 2rem;
     position:relative
}
#milestones:after{
     display:block;
     content:'';
     position:relative;
     top:0;
     left:0;
     right:0;
     bottom:0;
     margin:0 auto;
     width:178px;
     height:82px;
     z-index:0;
}
#milestones.lazy-bg-loaded:after{
     background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='179.312' height='81.61' viewBox='0 0 179.312 81.61'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:none;stroke:%23525252;stroke-linecap:round;stroke-miterlimit:10;stroke-width:2px;stroke-dasharray:0.1 4;%7D.b%7Bopacity:0.08;%7D.c%7Bfill:%23ff8f4a;%7D.d%7Bmix-blend-mode:overlay;isolation:isolate;fill:url(%23a);%7D.e%7Bfill:%23de5c5c;opacity:0.49;%7D.f%7Bfill:%23fff;%7D.g%7Bopacity:0.4;%7D.h%7Bfill:%23ccc;%7D%3C/style%3E%3ClinearGradient id='a' x1='3.867' y1='-1.869' x2='3.705' y2='-3.12' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-opacity='0.478'/%3E%3Cstop offset='0.565' stop-opacity='0.51'/%3E%3Cstop offset='0.565' stop-opacity='0.322'/%3E%3Cstop offset='1' stop-opacity='0'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cg transform='translate(-1141.012 -3028.121)'%3E%3Cpath class='a' d='M0,22.075c3.491.884,7.163-.447,10.332-2.122a45.387,45.387,0,0,0,12.056-9.242,19.643,19.643,0,0,0,4.563-7.1,1.923,1.923,0,0,0,.1-1.212,1.516,1.516,0,0,0-2.2-.487,3.72,3.72,0,0,0-1.315,2.129c-.675,2.172-.941,4.706.412,6.553a6.149,6.149,0,0,0,5.645,2.1,13.984,13.984,0,0,0,5.789-2.38A39.361,39.361,0,0,0,46.251,0' transform='translate(1146.263 3060.707) rotate(10)'/%3E%3Cg transform='translate(1185.333 3028.121)'%3E%3Cpath class='b' d='M471.184,391.547l.023-.026q.243-.266.453-.537l.048-.062c.036-.048.072-.1.107-.146l.054-.076c.033-.047.065-.1.1-.143l.051-.079c.03-.048.06-.1.089-.143l.045-.077c.029-.049.057-.1.083-.148.01-.018.019-.037.028-.055.065-.125.124-.25.176-.376h0a3.265,3.265,0,0,0,.125-2.317,6.408,6.408,0,0,0-4.318-4.572l-.068-.019-.13-.035a5.768,5.768,0,0,0-2.088-.169,8.394,8.394,0,0,1-3.9-.356,10.352,10.352,0,0,1-2.412-1.13c-.059-.038-.119-.076-.179-.116l-.116-.078a12.274,12.274,0,0,1-1.888-1.6c-4.112-4.241-15.185.214-15.185.214-4.945,1.56-11.573,3.881-19.045,6.582L395.6,379.392h0l-7.232-1.751-15.365,4.9,25.193,12.54.238.119c-10.276,3.8-20.523,7.589-29.168,10.64L353.165,396.5l-7.024.868,9.239,18.715c.3.938.695,2.03,1.2,3.309h0v0l.124.317.148.373c.077.194.24.561.446,1.018l.187.411.1.218c.745,1.625,1.753,3.766,1.753,3.766,11.1-1.621,22.014-3.792,32.33-6.206L369.59,449.383l18.386-4.512,36.933-34.616C446,403.752,460,398,460,398l.027-.01.006,0,.024-.009.017-.006.036-.013.023-.008.041-.015.037-.014.049-.019.024-.009.147-.056.029-.011.07-.027.057-.022.079-.031.056-.022.091-.036.059-.023.1-.039.06-.024.112-.045.027-.011.315-.128.008,0,.139-.057.062-.026.139-.058.071-.03.142-.06.075-.032.152-.065.064-.027.17-.074.012-.005c.2-.089.415-.183.634-.282l.062-.029.18-.083.078-.036.182-.085.077-.036.19-.09.064-.03c.311-.148.631-.3.956-.469l.05-.026.211-.108.073-.038.208-.108.074-.039.212-.112.062-.033c.333-.179.668-.365,1-.559l.051-.029.215-.127.072-.042.209-.126.073-.044.211-.13.058-.036c.327-.2.649-.416.962-.632l.052-.036.2-.138.072-.051.187-.136.074-.055.185-.139.062-.048.193-.15,0,0q.328-.26.632-.529l.053-.046.159-.145.067-.063.149-.142.067-.066.144-.144.058-.061C471.088,391.649,471.137,391.6,471.184,391.547Z' transform='translate(-337.729 -367.772)'/%3E%3Cpath class='c' d='M463.883,354.486l-32.34-16.1,15.365-4.9,47.067,11.4Z' transform='translate(-404.678 -333.301)'/%3E%3Cpath class='d' d='M476.071,341.59l-16.552,6.161,26.3,13.089,30.092-9.6Z' transform='translate(-426.609 -339.655)'/%3E%3Cpath class='c' d='M452.254,353.178s-48.349,19.858-100.665,27.5c0,0-2.133-4.529-2.485-5.413-4.185-10.5-2.161-9.237,6.172-12.074,22.376-7.62,61.575-22.934,79.261-28.512,0,0,11.074-4.455,15.185-.214s8.534,3.294,8.534,3.294,4.756-.735,6.562,4.779S452.254,353.178,452.254,353.178Z' transform='translate(-338.395 -332.634)'/%3E%3Cpath class='e' d='M462.969,392.92s-51.521,19.313-107.47,26c.088.226.179.455.273.693.353.885,2.485,5.413,2.485,5.413,52.316-7.643,100.665-27.5,100.665-27.5s10.569-3.77,12.439-8.321A48.883,48.883,0,0,1,462.969,392.92Z' transform='translate(-345.065 -376.978)'/%3E%3Cpath class='c' d='M338.625,434.933l-24.394-14.146-7.024.867,9.512,19.268Z' transform='translate(-307.207 -401.74)'/%3E%3Cpath class='f' d='M783.18,349.917a9.3,9.3,0,0,1-6.722-1.757,48.031,48.031,0,0,1-4.679,2.028l-3.5,1.156v0l-5.073,1.676c-1.355.448-2.028,2.229-1.506,3.987s2.066,2.847,3.433,2.4l7.025-2.321v0l3.568-1.179s6.581-2.35,10.275-5.578A5.921,5.921,0,0,0,783.18,349.917Z' transform='translate(-663.359 -344.805)'/%3E%3Cpath class='f' d='M507.7,454.986h0c.526,1.772,2.067,2.847,3.433,2.4l2.856-.944c1.355-.448,2.028-2.229,1.506-3.987h0c-.526-1.772-2.067-2.847-3.433-2.4L509.21,451C507.855,451.447,507.182,453.228,507.7,454.986Z' transform='translate(-464.244 -424.604)'/%3E%3Cpath class='f' d='M631.28,414.168h0c.526,1.772,2.067,2.847,3.433,2.4l2.447-.808c1.355-.448,2.028-2.229,1.506-3.987h0c-.527-1.772-2.067-2.847-3.433-2.4l-2.446.808C631.431,410.628,630.758,412.41,631.28,414.168Z' transform='translate(-561.12 -392.711)'/%3E%3Cpath class='f' d='M688.768,396.873h0c.527,1.772,2.067,2.847,3.433,2.4l2.447-.808c1.355-.448,2.028-2.229,1.506-3.987h0c-.526-1.772-2.066-2.847-3.433-2.4l-2.446.808C688.919,393.333,688.246,395.115,688.768,396.873Z' transform='translate(-606.186 -379.153)'/%3E%3Cpath class='f' d='M570.96,434.342h0c.527,1.772,2.067,2.847,3.433,2.4l2.447-.808c1.355-.448,2.028-2.229,1.506-3.987h0c-.527-1.772-2.067-2.847-3.433-2.4l-2.446.808C571.111,430.8,570.438,432.584,570.96,434.342Z' transform='translate(-513.833 -408.526)'/%3E%3Cg class='g' transform='translate(43.467 3.355)'%3E%3Cpath class='h' d='M766.185,354.392l3.5-1.155a48.1,48.1,0,0,0,4.679-2.027,9.3,9.3,0,0,0,6.722,1.756,4.967,4.967,0,0,1,1.055-.009A23.246,23.246,0,0,0,786,350.325a5.925,5.925,0,0,0-2.822-.409,9.3,9.3,0,0,1-6.722-1.756,48.042,48.042,0,0,1-4.679,2.027l-3.5,1.156v0l-5.073,1.675a2.827,2.827,0,0,0-1.678,2.913l4.66-1.538Z' transform='translate(-706.826 -348.16)'/%3E%3Cpath class='h' d='M509.262,452l2.856-.943c1.366-.451,2.906.623,3.433,2.394a3.956,3.956,0,0,1-.009,2.363,3.549,3.549,0,0,0,.622-3.417c-.526-1.771-2.066-2.846-3.433-2.394l-2.856.943a2.44,2.44,0,0,0-1.5,1.623A2.142,2.142,0,0,1,509.262,452Z' transform='translate(-508.379 -427.915)'/%3E%3Cpath class='h' d='M633.045,411l2.446-.808c1.366-.451,2.907.623,3.433,2.394h0a3.947,3.947,0,0,1-.021,2.4,3.63,3.63,0,0,0,.481-3.252h0c-.527-1.771-2.067-2.846-3.433-2.394l-2.447.808a2.428,2.428,0,0,0-1.482,1.58A2.178,2.178,0,0,1,633.045,411Z' transform='translate(-605.308 -396.039)'/%3E%3Cpath class='h' d='M690,394.117l2.447-.808c1.366-.451,2.906.623,3.433,2.394h0a4.07,4.07,0,0,1,.107,1.929,3.663,3.663,0,0,0,.43-3.185h0c-.527-1.771-2.067-2.846-3.433-2.394l-2.447.808a2.57,2.57,0,0,0-1.608,2.052A2.195,2.195,0,0,1,690,394.117Z' transform='translate(-649.914 -382.489)'/%3E%3Cpath class='h' d='M579.665,431.9h0c-.526-1.771-2.067-2.846-3.433-2.394l-2.447.808a2.31,2.31,0,0,0-1.316,1.191,2.036,2.036,0,0,1,.206-.081l2.447-.808c1.366-.451,2.906.623,3.433,2.394h0a3.82,3.82,0,0,1-.186,2.79A3.208,3.208,0,0,0,579.665,431.9Z' transform='translate(-558.621 -411.846)'/%3E%3C/g%3E%3Cpath class='c' d='M442.912,457.74l-27.18,37.047,18.386-4.512,48-42.545Z' transform='translate(-392.284 -422.861)'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat
}
#milestones .wrapper{
     width:92%;
     max-width:1010px;
     margin-right: auto;
     margin-left: auto;
}
#milestones .heading{
     text-align:center;
     margin-bottom:50px
}
#milestones .item{
     width:calc(50% + 8px);
     display:flex;
     justify-content:space-between;
     clear:both;
}
#milestones .item.right{
     float:right;
}
#milestones .item.left{
     float:left;
     direction:rtl;
}
#milestones .item:first-child .marker:after{
     top:13px;
}
#milestones .marker{
     width:16px;
     position:relative;
}
#milestones .marker:before{
     display:block;
     content:'';
     position:absolute;
     top:0;
     left:0;
     right:0;
     bottom:0;
     margin:13px auto 0;
     width:16px;
     height:16px;
     z-index:14;
}
#milestones .marker:after{
     display:block;
     content:'';
     position:absolute;
     top:0;
     left:0;
     right:0;
     bottom:0;
     margin:0 auto;
     width:4px;
     height:100%;
     background:#D6D6D6;
}
#milestones.lazy-bg-loaded .marker:before{
     background:url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cdefs%3E%3Cstyle%3E.a%7Bfill:%23fff;stroke:%23d6d6d6;stroke-width:4px;%7D.b%7Bstroke:none;%7D.c%7Bfill:none;%7D%3C/style%3E%3C/defs%3E%3Cg class='a' transform='translate(4 4)'%3E%3Ccircle class='b' cx='8' cy='8' r='8'/%3E%3Ccircle class='c' cx='8' cy='8' r='10'/%3E%3C/g%3E%3C/svg%3E") center center/contain no-repeat
}
#milestones .content{
     display:flex;
     flex-direction:column;
     width:95%;
     padding-bottom:30px;
}
#milestones .time{
     font-size:40px;
     font-weight:700;
     line-height:1.1em;
     letter-spacing:0;
     color:#000;
}
#milestones .time+div{
     align-self:center;
     padding:10px 0
}
#milestones .time+div p{
     font-size:17px;
     letter-spacing:-.14px;
     color:rgba(0,0,0,.8);
}
#milestones .time+div p:first-child{
     margin-top:0
}
#milestones .time+div p:last-child{
     margin-bottom:0;
}
#milestones .left .content{
     flex-flow:row-reverse;
}
#milestones .left .time{
     order:2;
     margin-left:20px;
}
#milestones .left .time+div{
     order:1;
     width:90%;
}
#milestones .right .content{
     flex-flow:row;
}
#milestones .right .time{
     order:1;
     margin-right:20px;
}
#milestones .right .time+div{
     order:2;
     width:90%;
}
.section2{
     max-width:100%;
     width:100%;
     overflow:hidden;
     padding:1px 0;
}
.section2 .heading{
     font-size:64px;
     font-weight: 500;
     letter-spacing:-.009em;
     line-height:1.0625em;
     color:#000;
}
.section2 p{
     font-size:19px;
     font-family: 'Camphor','Open Sans','Segoe UI','sans-serif';
     font-weight:400;
     letter-spacing:0;
     line-height:1.2105em;
     color:#000;
}
#milestones  p{
     font-weight: 600;
}
.clearfix:after,.clearfix:before{content:" ";display:table}
.clearfix:after{clear:both}



#empowering{
     padding:3rem 0 7rem;
}
#empowering .wrapper{
     display:flex;
     justify-content:space-between;
     width:92%;
     text-align: left;
     margin: 0 auto;
}
#empowering .wrapper>div{
     display:block;
     align-self:center;
     width:calc(5/12 * 100%);
}
#empowering .wrapper>div h2{
     margin:0;
}
#empowering .wrapper>div+div{width:50%}
#empowering .wrapper>div+div p{margin-top:0}


#address{background:#005281;padding:7rem 0}
#address.lazy-bg-loaded .wrapper:after{
background: url(../images/graph.jpeg);     
}
#address .wrapper{display:flex;position:relative;width:92%;
     margin:0 auto;
}
#address .wrapper>div{width:calc(7/12 * 100%);align-self:center}
#address .wrapper>div h2,
#address .wrapper>div p{width:90%;max-width:720px;margin:0 auto}
#address .wrapper>div h2{color:#fff;margin-bottom:40px}
#address .wrapper>div p{color:rgba(255,255,255,.8);margin-bottom:25px}
#address .wrapper>div p:last-child{margin-bottom:0}
#address .wrapper:after{display:block;content:'';position:relative;width:570px;height:456px;margin:0 0 0 auto;align-self:flex-end}


@media only screen and (max-width:767px){
     body{
          overflow-x: hidden;
     }
     #milestones:after{
          margin-left:0;
          top:-30px;
          left:calc((4vw + 8px) * -1);
     }
     #milestones .item{
          width:calc(87vw + 8px);
     }
     #milestones .item:last-child .content{
          padding-bottom:70px;
     }
     #milestones .item.left{
          float:right;
          direction:initial
     }
     #milestones .content{
          flex-wrap:wrap
     }
     #milestones .time{
          flex:1 100%;
     }
     #milestones .left .content{
          flex-flow:wrap
     }
     #milestones .left .time{
          order:1;
          margin-left:0;
          margin-right:20px;
     }
     #milestones .left .time+div{
          order:2;
          width:100%;
     }
     #milestones .right .content{
          flex-flow:wrap;
     }
     #milestones .right .time+div{
          width:100%;
     }
     .section2 .heading{
          font-size:40px;
          line-height:1.1em;
          letter-spacing:0;
     }
     div.wrapper{
          margin:0 auto;
          width:95%;
     }


     #empowering .wrapper{
          flex-wrap:wrap
     }
     #empowering .wrapper>div{
          width:100%
     }
     #empowering .wrapper>div h2{margin-bottom:50px}
     #empowering .wrapper>div+div{width:100%}

     #address.lazy-bg-loaded .wrapper:after{
          background:0 0;
     }
     #address.lazy-bg-loaded .wrapper h2:after{
          background:url("../images/About\ us/graph.png") center center/contain no-repeat
     }
     #address .wrapper>div{width:100%}
     #address .wrapper>div h2:after{display:block;content:'';position:relative;width:315px;height:245px;margin:40px auto 30px}
     #address .wrapper:after{display:none}

}
@media only screen and (max-width:768px){
     body{
      overflow-x: hidden;
          }
     #site-body{
          position:relative;
          width:768px;
          min-width:100%;
          overflow-x:hidden;
     }
     .mobile-view {
          width: 100%;
          margin: 0;
     }
}
@media only screen and (min-width:769px) and (max-width:1019px){
     body{
          overflow-x: hidden;
     }
     #site-body{
          min-width:769px;
     }
     #site-body div.wrapper{
          width:95%;
          margin-left:auto;
          margin-right:auto;
     }
}
@media only screen and (max-width:1023px){
     body{
          overflow-x: hidden;
     }
     #milestones .time{
          font-size:32px;
          line-height:1.125em;
          letter-spacing:.004em;
     }
     .section2 .heading{
          font-size:calc(48px + 8 * ((100vw - 768px) /255));
          line-height:1.0833em;
          letter-spacing:-.003em;
     }
     .section2 p{
          font-size:17px;
          line-height:1.23536em;
          letter-spacing:-.008em;
     }
}
@media only screen and (max-width:1440px){
     body{
          overflow-x: hidden;
     }
     .section2 .heading{
          
          line-height:1.0714em;
          letter-spacing:-.02em
     }
     #address .wrapper>div h2,#address .wrapper>div p{width:100%}
     #address .wrapper:after{width:450px;height:350px}
}
@media only screen and (max-width:1441px){
     body{
          overflow-x: hidden;
     }
     #site-body{
          width:100%;
          min-width:auto!important;
     }
} 

@media(min-width:420px){
     body{
          overflow-x: hidden;
     }
     .header-content{
          padding:160px 0 80px
     }
     .today{
          padding:150px 0 70px
     }
     .today > div:first-child{
         padding: 60px 20px;
     }
}

@media (min-width:670px){
     body{
          overflow-x: hidden;
     }
     .common-PageTitle{
          font-size:53px;
          line-height:68px
     }
     .common-IntroText{
          font-size:24px;
          line-height:36px
     }
     .common-StripeGrid{
          --stripe-height:64px
     }
     .common-SectionTitle{
          font-size:42px;
          line-height:52px
     }
     .header-content{
          padding:130px 0 70px
     }
     .section--padding{
          padding:80px 0
     }
     .today{
          padding:160px 0 80px
     }
     .section-intro .common-SectionTitle{
          margin:25px 0 18px
     }
     .chart{
          z-index:1;
          border-radius:4px;
          height:350px;
     }
     .customers-grid{
          margin:50px 0;
          grid-gap:25px;
          gap:25px;
          grid-template-rows:repeat(5,1fr);
          grid-template-columns:repeat(4,1fr)
     }
     .customers-customer svg{
          transform:none
     }
     .customers-callout{
          flex-direction:row;
          padding:30px 40px;
          border:none;
          margin:0 auto
     }
     .customers-callout figure{
          margin:0 35px 0 0;
          display:block
     }
}
@media(min-width:880px){
     body{
          overflow-x: hidden;
     }
     .header-content{
          padding:160px 0 120px
     }
     .header-title br{
          display:block
     }
     .header-title span{
          display:none
     }
     .today{
          padding:180px 0 80px
     }
     .today-content{
          grid-template-columns:1fr 1fr;
          grid-template-rows:auto;
          grid-gap:0 40px;
          gap:0 40px
     }
     .customers-grid{
          margin:70px 0;
          grid-gap:40px;
          gap:40px;
          grid-template-rows:repeat(4,1fr);
          grid-template-columns:repeat(5,1fr)
     }
}

@media (min-width:1040px){
     body{
          overflow-x: hidden;
     }
     .common-StripeGrid .grid{
          --gutter-column-width:var(--content-column-width);
          min-width:calc(1040px / var(--content-columns) * (var(--gutter-columns) * 2 + var(--content-columns)))
     }
      .header-content{
          padding:160px 0 140px
     }
     .today{
          padding:180px 0 100px
     }
     .today-content{
          grid-gap:0 100px;
          gap:0 100px
     }
     .customers-grid{
          grid-gap:50px;
          gap:50px
     }
}

.collab-btn{
     background-color:#0297ff;
     color: white;
     border-color: #0297ff;
     border-style: solid;
     border-width: 2px;
     font-weight: 630;
     border-radius: 8px;
     font-size: 1.2rem;
}
.collab-btn:hover{
     background-color: white;
    color: #0297ff;
}