@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  font-family: 'Lato', sans-serif;
  margin-left: 1px;
}

/* h1, h2, h3, h4, h5 {
  font-family: 'Montserrat', sans-serif;
} */
ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.section-heading {
  color: #4169e1;
  font-weight: bold;
  font-size: 2.7rem;
  display: inline-block;
}

.parallax-section {
  background-attachment: fixed !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

.btn-capsul {
  border-radius: 30px;
}

.btn-aqua {
  background: #0297ff;
  color: #fff;
}

.btn-aqua:hover {
  background: #10629b;
  color: #fff;
}

.btn-dark-blue {
  background: #0c242e;
  color: #fff;
}

.btn-dark-blue:hover {
  background: #063d28;
  color: #fff;
}

.btn-transparent-white {
  border: 2px solid #fff;
  color: #fff;
}

.btn-transparent-white:hover,
.btn-transparent-white:focus {
  background: #fff;
  color: #0297ff;
}

.relative-box {
  position: relative;
}

#benefits,
#header,
#registration {
  width: 100%;
  padding: 80px 0;
}

/* why join us page banner*/
.join-us-banner {
  margin-left: 10%;
  margin-right: 10%;
  padding-top: 3%;
  margin-bottom: 0%;
}

/* section {
  width: 100%;
  padding: 80px 0;
} */

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/*Swiper*/
.swiper-container {
  width: 100%;
  height: 80vh;
}

.swiper-slide {
  text-align: center;
  font-size: 14px;
  font-weight: bolder !important;
  padding-bottom: 50px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-end;
}

.main-slider .slider-bg-position {
  background-size: cover !important;
  /* background-position: center center !important; */
}

.main-slider .swiper-button-prev,
.main-slider .swiper-button-next {
  background-image: none !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.main-slider h2 {
  color: #fff;
  font-size: 54px;
  line-height: 59px;
  padding: 0 19%;
  text-transform: uppercase;
}

.main-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.9);
}

.main-slider .swiper-pagination-bullet-active {
  background: #0297ff;
}

/* SERVICE SECTION
-------------------------------------------------- */
.service-sec .heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}

.service-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #0297ff;
  font-size: 32px;
}

.p-t-150 {
  padding-top: 150px !important;
}

.p-b-150 {
  padding-bottom: 150px !important;
}

.m-b-30 {
  margin-bottom: 30px !important;
}

.p-b-80 {
  padding-bottom: 80px !important;
}

.p-t-80 {
  padding-top: 80px !important;
}

.service-sec h2 small {
  color: #222;
  display: block;
  font-size: 22px;
  margin-bottom: 18px;
}

.service-sec i {
  border: 1px solid #0297ff;
  border-radius: 2px;
  font-size: 25px;
  padding: 12px 0;
  width: 52px;
  color: #0297ff;
  margin-bottom: 20px;
}

.service-sec h3 {
  font-size: 23px;
  font-weight: 600;
}

.service-sec p {
  line-height: 22px;
  margin-top: 13px;
  padding: 0 21px;
}

.service-sec .service-block {
  margin-top: 30px;
}

/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
  background: url("http://grafreez.com/wp-content/temp_demos/burnout/img/para-01.jpg") no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.about-sec:before {
  content: " ";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(22, 122, 192, 0.8);
  top: 0;
  left: 0;
}

.about-sec h2 {
  font-size: 55px;
  font-weight: 800;
  margin-top: 25%;
}

.about-sec h2 small {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.about-sec p {
  font-size: 16px;
}

.action-sec {
  width: 100%;
  float: left;
  background: #222;
}

.action-box {
  float: left;
  width: 100%;
  text-align: center;
}

.action-box h2 {
  color: #fff;
  font-size: 20px;
}

.test-dev1 {
  margin: 0;
  align-items: center;
}

.test-dev2 {
  margin-top: 2rem;
}

.test-dev3 {
  color: grey;
}

.test-dev4{
  font-size:16px;text-align:left;
}

/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: October 16, 2016
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.swiper-container-no-flexbox .swiper-slide {
  float: left;
}

.swiper-container-vertical>.swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.swiper-container-multirow>.swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
}

.swiper-container-free-mode>.swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto;
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height;
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x;
}

.swiper-button-next,
.swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat;
}

.swiper-button-next.swiper-button-disabled,
.swiper-button-prev.swiper-button-disabled {
  opacity: 0.35;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto;
}

.swiper-button-prev.swiper-button-black,
.swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-prev.swiper-button-white,
.swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto;
}

.swiper-button-next.swiper-button-black,
.swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E");
}

.swiper-button-next.swiper-button-white,
.swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E");
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}

.swiper-container-horizontal>.swiper-pagination-bullets,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%;
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0);
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}

.swiper-pagination-progress {
  background: rgba(0, 0, 0, 0.25);
  position: absolute;
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top;
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top;
}

.swiper-container-horizontal>.swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}

.swiper-container-vertical>.swiper-pagination-progress {
  width: 4px;
  height: 60%;
  left: 0;
  top: 0;
}

a {
  color: inherit;
}

ul {
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, 0.5);
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
}

.swiper-container-3d .swiper-cube-shadow,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear,
      left top,
      right top,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear,
      right top,
      left top,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear,
      left top,
      left bottom,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear,
      left bottom,
      left top,
      from(rgba(0, 0, 0, 0.5)),
      to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom,
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0));
}

.swiper-container-coverflow .swiper-wrapper,
.swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px;
}

.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1;
}

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%;
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0;
}

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-next+.swiper-slide,
.swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible;
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0;
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity;
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center;
}

.swiper-zoom-container>canvas,
.swiper-zoom-container>img,
.swiper-zoom-container>svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, 0.1);
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}

.swiper-container-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}

.swiper-scrollbar-cursor-drag {
  cursor: move;
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite;
}

.swiper-lazy-preloader:after {
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat;
}

.pt-card {
  padding: 6.5%;
  border-radius: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 3.5px #0297ff;
  margin-bottom: -13%;
  background-image: url('../images/benefits-banner.png');
}

.uheading {
  font-size: 36px;
}

.lheading {
  font-size: 36px;
}

@media (min-width: 200px) and (max-width: 580px) {
  .uheading {
    font-size: 20px;
  }

  .lheading {
    font-size: 20px;
  }

  .acm-logo-navbar {
    margin-left: 10px;
  }

  .pt-card {
    margin-top: 10px;
  }
  .benefit-card-container {
    margin-left: 0;
    margin-right: 0;
  }
}

@media (min-width: 200px) and (max-width: 780px) {
  .uheading {
    font-size: 26px;
  }

  .lheading {
    font-size: 26px;
  }

  .pt-card {
    margin-top: 7%;
    margin-bottom: -20%;
  }
}

@media (min-width: 200px) and (max-width: 700px) {
  .alert-info.new2 {
    font-size: 12px;
  }

  .md-text-custom {
    font-size: 14px;
  }
  .mobile-view {
    width: 100%;
  }
}

.perk-card {
  width: 18rem !important;
  /* height: 15rem; */
  margin: 3%;
  border-radius: 8px;
  text-align: center;
}

/* ******************************************************************ALUMNI************************************************************ */
.images img {
  width: 50%;
  height: 50%;
  border-radius: 100%;
  border-bottom-right-radius: 0;
  transform: rotate(45deg);
  border: solid 5px #0297ff;
  box-shadow: 2px 2px 4px grey;
  transition: all 0.5s ease;
}

.images {
  width: 80%;
  text-align: center;
  margin: auto;
  /* box-shadow: 2px 2px 4px grey;
 border-radius: 1rem;
 padding: 1rem 0; */
}

.images h4 {
  margin-top: 2.5rem;
  color: #0297ff;
  text-shadow: 1px 1px 2px grey;
  font-size: 1.4rem;
}

.images h5 {
  font-size: 1rem;
}

.line {
  width: 15%;
  /* color: #3106F9; */
  background-color: #0297ff;
  height: 5px;
  border-radius: 1rem;
  margin-bottom: 1rem;
  margin-top: -2rem;
}

.alumnus {
  margin-bottom: 3rem;
  padding: 0;
}

.alumn h1 {
  margin-bottom: 3rem;
  font-size: 2rem;
}

.alumn h1 b {
  color: #0297ff;
  text-decoration: none;
}

.alumni-prev {
  color: #0297ff !important;
  font-weight: 700 !important;
}

.alumni-next {
  color: #0297ff !important;
  font-weight: 700 !important;
}

@media only screen and (max-width: 700px) {
  .alumni-prev {
    visibility: hidden;
  }

  .alumni-next {
    visibility: hidden;
  }
}

/* ********************************************************************WINNERS******************************************************* */
.winnerInnerDiv img {
  
  border-radius: 100%;
  }



.winners {
  position: relative;
  top: 0;
  left: 0;
  text-align: center;
  width: 98vw;
}

.winners h1 {
  margin: 1rem;
  text-align: left;
}

.winners h1 b {
  color: #0297ff;
  font-weight: 500;
}
.innerContent h1 {
  font-weight: normal;
  color: #eee;
  font-size: 34px;
  margin-bottom: 20px;
  opacity: 0;
  transition: 300ms ease-in-out;
}
/* .innerContent h3 {
  color: rgb(138, 138, 138) !important;
} */
.innerContent h2 {
  font-weight: normal;
  color: #ddd;
  font-size: 28px;
  margin: 10px 0;
}

.outerContent h3{
  color: #fff;
  position: absolute;
  bottom: 10px;
  width: 100%;
  align-items: center;
  height: 18%;
}

.winnerContainer {
  position: relative;
  height: 550px;
  padding-top: 70px;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  /* overflow: hidden; */
  max-width: 100%;
}
.winnerOne:not(:last-child){
  margin-right: 50px;
}
.winnerOne {
  height: 400px !important;
  box-shadow: 5px 5px 20px #0e8e96;
  background-color: #0e8e96;
  position: relative;
  border-radius: 25px;
  width: 280px !important;
  z-index: 1;
  flex-shrink: 0;
}
/* .winnerContainer  {
  box-shadow: 10px 10px 40px #0e8e96;
  background-color: #0e8e96;
  position: relative;
  border-radius: 25px;
  width: 350px !important;
  height: 500px !important;
  overflow: hidden;
  z-index: 1;
  flex-shrink: 0;
} */
.circleCard {
  border-radius: 25px;
}

.eventName{
  height: 40px !important;
  width: 285px !important;
}

.winnerOne .eventName {
  position: relative;
  top: 20%;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  transition: 300ms ease-in-out;
}
.winnerOne .eventName img {
  position: relative;
  /* height: 10vh;
  width: 10vh; */
  height: 150px;
  width: 100%;
  object-fit: cover;
  transition: 300ms ease-in-out;

  border-radius: 100%;
}
.eventName img {
  padding: 5px !important;
}
.winnerOne:hover .eventName img {
  width: 100px;
  height: 100px;
  transform: rotate(-360deg);
}
.winnerOne .circleCard {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #fff;
  clip-path: circle(250px at 50% -2%);
  transition: 300ms ease-in-out;
}
.winnerOne:hover .circleCard {
  clip-path: circle(170px at 50% -20%);
}
.winnerOne:hover .eventName {
  top: 10%;
}
.winnerOne .innerContent {
  position: absolute;
  bottom: 10%;
  transform: translatey(50%);
  width: 100%;
  text-align: center;
  transition: 300ms;
  opacity: 0;
}
.winnerOne:hover .innerContent {
  bottom: 45%;
  opacity: 1;
}
.winnerOne .innerContent div {
  margin: 10px 0 20px 0;
}
.winnerOne .innerContent span {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  color: #111;
  transition: 90ms ease-in-out;
}
.winnerOne:hover> .outerContent > h3{
  display: none;
}
.winnerOne .innerContent .spanGreen:hover {
  background-color: #7cad22;
  color: #eee;
  cursor: pointer;
}
.winnerOne .innerContent .spanBlue:hover {
  background-color: #1e4789;
  color: #eee;
  cursor: pointer;
}
.winnerOne .innerContent .spanRed:hover {
  background-color: #b70c0c;
  color: #eee;
  cursor: pointer;
}
.winnerOne .innerContent .spanGreen {
  border: solid 1px #7cad22;
}
.winnerOne .innerContent .spanBlue {
  border: solid 1px #2256aa;
}
.winnerOne .innerContent .spanRed {
  border: solid 1px #e02121;
}
.winnerOne .innerContent .separator {
  border-bottom: solid 1px #777;
  margin: 30px;
}
.winnerOne .innerContent a {
  padding: 10px;
  font-size: 18px;
  text-decoration: none;
  color: #eee;
  border-radius: 5px;
  text-transform: uppercase;
}
.winnerOne .innerContent .btnGreen {
  background-color: #7cad22;
}
.winnerOne .innerContent .btnBlue {
  background-color: #2256aa;
}
.winnerOne .innerContent .btnRed {
  background-color: #e02121;
}
.winnerOne .innerContent .btnGreen:hover {
  background-color: #7cad22bb;
}
.winnerOne .innerContent .btnBlue:hover {
  background-color: #2256aabb;
}
.winnerOne .innerContent .btnRed:hover {
  background-color: #e02121bb;
}
.winnerOne:hover .innerContent h1 {
  opacity: 1;
}


/* .winnerInnerDiv {
  position: relative;
  box-shadow: 0 0 0.3rem 0 BLACK;
  border-radius: 1rem;
  width: 80%;
  transition: all 0.5s ease;
  padding-bottom: 0.5rem;
  background: linear-gradient(180deg, #2dd6e0 0%, #0e8e96 100%);
  margin: auto;
}

.winnerInnerDiv:hover {
  box-shadow: 0 0 1.5rem 0 grey;
}

.winnerDetails>.col>h2 {
  text-shadow: 0 0 1rem rgba(0, 0, 0, 0.6);
  line-height: 1.2;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
} */

.winners h4 {
  font-size: 1rem;
  color: white;
}

/* .winnerDetails>.col {
  display: flex;
  align-items: center;
  height: 100px;
  justify-content: center;
  flex-direction: column;
  padding-top: 0;
} */

.winners #overlay {
  position: absolute;
  top: -2rem;
  left: -3rem;
  height: 80px;
  width: 100px;
  z-index: 2;
  opacity: 0;
  transition: all 0.5s ease;
}


/* .winnerInnerDiv:hover #overlay {
  opacity: 1;
} */

/* .fa-crown {
  color: #f9b605;
  transform: rotate(-45deg);
} */

.line {
  width: 15%;
  background-color: #0297ff;
  z-index: 1;
  border-radius: 1rem;
  height: 5px;
  margin: 1rem;
}

.custom-canvas {
  position: absolute;
  z-index: -1;
  /* left: 0;
  top: 0; */
  width: 99% !important;
  height: 80% !important;
}

.winBox {
  padding: 1.5rem 0.7rem;
}

.glider {
  padding: 1rem;
}

.winnerOut {
  padding-bottom: 3rem;
}

.alumni-prev1 {
  color: #0297ff !important;
  font-weight: 700 !important;
  margin-top: 85px;
}

/* .winnerNav{
  max-width: 100%;
} */
.alumni-next1 {
  color: #0297ff !important;
  font-weight: 700 !important;
  margin-top: 85px;
}

@media only screen and (max-width: 600px) {
  .alumni-prev1 {
    visibility: hidden;
  }

  .alumni-next1 {
    visibility: hidden;
  }
}

.alert-info.new2 {
  vertical-align: middle;
  background: #f3f8f3;
  border: none;
  border-left: 4px solid #5bc0de;
  border-radius: 0;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
  margin-top: 7%;
  margin-bottom: -6%;
  border-radius: 0 15px 15px 0;
  margin-left: 9%;
  margin-right: 9%;
}

.alert-info.new2.p-4 {
  padding: 0.75rem 0.75rem !important;
  vertical-align: justify;
}

.alert-info.new2 .fa {
  color: #5bc0de;
  text-align: center;
  vertical-align: middle;
  font-size: 40px;
  margin-left: 1%;
  vertical-align: middle;
}

.alert-info .alert-body {
  /* padding-left: 0.75rem; */
  color: rgba(0, 0, 0, 0.5);
  vertical-align: middle;
}

.alert-info .alert-header {
  font-weight: 700;
  color: #5bc0de;
  padding: 0;
  margin: 0;
  vertical-align: middle;
}

/* ***************************************************Registration form************************************************** */

.registration-form-div {
  width: 100%;
  background: #ffffff;
  box-shadow: 4px 4px 26px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  display: block;
  text-align: center;
  padding: 0% !important;
}

.form-input-boxes-manual {
  box-shadow: 0.5px 0.7px 2.5px #0297ff;
  width: 100%;
}

.registration-heading {
  font-family: inherit;
  font-style: normal;
  font-weight: 500;
  font-size: 35px;
  text-decoration: overline;
  text-decoration-color: #0297ff;
  text-decoration-thickness: 5px;
  line-height: 26px;
  text-align: left;
  margin: 20px auto 40px auto;

  /* color: #0297ff; */
}

.blue-hr {
  margin: 0px !important;
  border-style: none;
  border-top: 6px solid #0297ff !important;
  border-radius: 8px;
  width: 100%;
}

.registration-img {
  width: 100%;
  margin-top: 3%;
}

.registration-inner-div {
  width: 80%;
  margin: 20px auto;
}

.registration-button {
  padding: 8px 30px;
  color: white;
  background: #0297ff;
  border-radius: 8px;
  margin: 40px auto 0 auto;
}

.club {
  text-align: left;
}

.col-md-6 .form-group {
  padding: 2% !important;
}

.form-group {
  margin: 0px 0px 10px !important;
}

.label-course {
  margin-left: 5px;
}

.m-t-20 {
  margin-top: 20px !important;
}

.text-box {
  padding: 40px;
  text-align: center;
  transition: background 0.4s ease 0s;
  cursor: pointer;
}

.text-box i {
  font-size: 42px;
  margin: 30px 0 20px;
}

.text-box i {
  color: #fff;
  transition: all 0.4s ease 0s;
}

.text-box h3,
.text-box h5,
.text-box p {
  font-weight: 100;
  color: #fff;
  transition: all 0.4s ease 0s;
}

.text-box:hover {
  background: #eeeeee;
}

.text-box:hover i,
.text-box:hover h3,
.text-box:hover h5,
.text-box:hover p {
  color: #333;
}

.text-box.text-box-light {
  border: 1px solid #d9d9d9;
  background: #fff;
}

.text-box.text-box-light i,
.text-box.text-box-light h3,
.text-box.text-box-light h5,
.text-box.text-box-light p {
  color: #1f1f1f;
}

.text-box.text-box-light:hover {
  background: #2250fc;
}

.text-box.text-box-light:hover i,
.text-box.text-box-light:hover h3,
.text-box.text-box-light:hover h5,
.text-box.text-box-light:hover p {
  color: #fff;
}

.text-box.hover-effect {
  padding: 30px 30px 10px 30px;
}

.text-box.hover-effect i {
  margin: 90px 0 20px;
}

.text-box.hover-effect p {
  opacity: 0;
}

.text-box.hover-effect:hover i {
  margin: 70px 0 6px 0;
}

.text-box.hover-effect:hover p {
  opacity: 1;
}

.signin {
  color: white;
  background-color: #0297ff;
  border-color: #0297ff;
  border-style: solid;
  border-width: 2px;
  font-weight: 600;
  /* position: absolute; */
}

.signin:hover {
  color: #007aff;
  background-color: white;

}

/* ----------------------------------------------------------------
      Featured Boxes
  -----------------------------------------------------------------*/
.feature-box {
  background-color: #fff;
  margin-bottom: 0px;
  padding: 44px;
  border-radius: 4px;
  background-clip: padding-box;
  box-shadow: 0 7px 20px -10px rgba(171, 171, 171, 0.7);
  transition: all 0.55s ease;
  text-align: center;
  min-height: 250px;
}

.feature-box.feature-box-transparent {
  background-color: transparent;
  box-shadow: none;
}

.feature-box.feature-box-transparent:hover {
  background-color: #fff;
}

.feature-box>i {
  font-size: 46px;
  margin-bottom: 20px;
}

.feature-box:hover {
  transform: translateY(-10px);
  box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.9);
}

.feature-box:hover h2,
.feature-box:hover h3,
.feature-box:hover h4 {
  color: #2250fc;
}

.feature-box h2,
.feature-box h3,
.feature-box h4 {
  font-size: 14px;
  text-transform: uppercase;
  transition: all 0.33s;
  margin-top: 0px;
  margin-bottom: 10px;
}

.feature-box p {
  font-size: 14px;
  margin-bottom: 0;
}

.col-lg-2 .feature-box p {
  font-size: 12px;
  margin-bottom: 0;
  line-height: 18px;
  opacity: 0.8;
}

.text-small {
  font-size: 16px;
  font-weight: 800;
  line-height: 1.1;
}

#widget-contact-form {
  clear: left;
}

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}

.form-group {
  margin-bottom: 20px;
}

.form-group label:not(.error) {
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 4px;
  color: #444;
}

.form-inline button {
  margin: 0px;
}

.form-group>label {
  display: block;
}

.has-feedback label~.form-control-feedback {
  top: 44px;
}

.form-gray-fields .form-control {
  background-color: rgba(238, 238, 238, 0.6);
  border-color: transparent;
  color: #333;
}

.form-gray-fields .form-control:focus {
  background-color: #eee;
}

.form-transparent-fields .form-control {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4);
}

.form-transparent-fields .form-control:focus {
  background-color: rgba(0, 0, 0, 0.7);
}

.form-transparent-light-fields .form-control {
  background-color: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.1);
}

.form-transparent-light-fields .form-control:focus {
  background-color: rgba(255, 255, 255, 0.7);
}

label.error {
  color: #b71828;
  display: none !important;
  font-weight: 400;
}

.form-control.error,
.sm-form-control.error {
  border-color: #b71828;
}

.form-control.error {
  color: #b71828;
}

.form-control::-moz-placeholder,
.form-control::-ms-input-placeholder,
.form-control::-webkit-input-placeholder {
  color: #bbbbbb;
}

input[type='color'] {
  width: 100%;
  height: 100%;
  min-height: 3px;
  padding: 0;
  border: 0px;
  cursor: pointer;
}

input[type="color"]:focus {
  box-shadow: none;
}

/*form select*/
select.form-control:not([size]):not([multiple]) {
  height: 40px;
}

select {
  width: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url(../images/dropdown-arrow.png) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important;
}

select[multiple] {
  background-image: none;
}

.order-select>h6 {
  margin-bottom: 0;
}

.order-select p {
  font-size: 13px;
}

.button-search {
  background-color: #fff;
  border-color: #e9e9e9 #e9e9e9 #e9e9e9;
  border-style: solid;
  border-width: 1px 1px 1px 0 !important;
  box-shadow: none;
  margin-left: -6px !important;
  z-index: 2 !important;
}

/* ----------------------------------------------------------------------
 Reservation form
-------------------------------------------------------------------------*/
.reservation-form-over {
  top: -80px;
  z-index: 10;
  margin-bottom: -80px;
  overflow: inherit;
}

.reservation-form {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  min-height: 160px;
  padding: 30px;
  position: relative;
  z-index: 9999 !important;
}

.reservation-form label {
  color: #555;
}

.reservation-form input,
.reservation-form select {
  border: 0px;
  border-radius: 4px;
  background-color: #fff;
  border: 1px solid #ececec;
  width: 100%;
}

.reservation-form .date input {
  border-radius: 4px 0 0 4px;
  border-width: 2px 0 2px 2px;
}

.reservation-form .input-group-addon {
  -moz-border-bottom-colors: none;
  -moz-border-left-colors: none;
  -moz-border-right-colors: none;
  -moz-border-top-colors: none;
  background-color: #fff !important;
  border-color: #ddd;
  border-image: none;
  border-style: solid;
  border-width: 2px 2px 2px 0;
}

.reservation-form input,
.reservation-form select {
  color: #555;
  display: block;
  font-size: 15px;
  line-height: 1.42857;
  padding: 8px 14px;
  width: 100%;
}

/*reservation form style 2*/
#book {
  background-color: rgba(0, 0, 0, 0.4);
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 40px;
}

#book label {
  color: #fff;
}

#book .date input {
  border-radius: 4px 0 0 4px;
}

#book input,
#book select {
  color: #555;
  display: block;
  font-size: 15px;
  line-height: 1.42857;
  padding: 8px 14px;
  width: 100%;
}

#book .input-group-addon {
  background-color: #fff !important;
  border: 0 none;
}

#book input,
#book select {
  border: 0 none;
}

/* Fixes */
.widget .input-group-text {
  height: 40px;
}

.list-group input[type="radio"] {
  display: none;
}

.list-group input[type="radio"]+.list-group-item {
  cursor: pointer;
}

.list-group input[type="radio"]:checked+.list-group-item {
  background-color: #f6f9fa;
}

#search {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: #fff;
  line-height: normal;
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.5s;
}

#search #search-logo {
  top: -1px;
  left: 30px;
  opacity: 0;
  transition: opacity 0.5s;
  position: absolute;
  line-height: 80px;
  height: 80px;
}

#search #search-logo img {
  width: 100%;
  height: 100%;
}

#search .search-form {
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
  margin: 80px 0;
}

#search .search-form .text-muted {
  opacity: 0.4;
}

#search .search-form .form-control {
  border-width: 0px 0px 2px 0px;
  border-radius: 0px;
  font-size: 34px;
  padding: 10px 0;
  border-color: #cecece;
  font-family: "Poppins", "Helvetica", "Arial", sans-serif;
  font-weight: 700;
  margin-bottom: 20px;
  background-color: transparent;
}

#search .search-form .form-control:focus {
  background-color: transparent;
}

#search .search-form .form-control:-webkit-input-placeholder {
  color: #cecece;
}

#search .search-form .form-control:-moz-placeholder {
  color: #cecece;
}

#search .search-form .form-control:-ms-input-placeholder {
  color: #cecece;
}

#search .btn-search-close {
  font-size: 2em;
  position: absolute;
  top: 20px;
  right: 30px;
  display: none;
  padding: 12px;
  line-height: 12px;
  background-color: #2250fc;
  border: 0;
  cursor: pointer;
  border-radius: 5px;
  color: #fff;
  opacity: 0;
  transform: scale3d(0.8, 0.8, 1);
  transition: opacity 0.5s, transform 0.5s;
}

#search .search-suggestion-wrapper {
  display: flex;
  width: 60%;
}

#search .search-suggestion-wrapper .search-suggestion {
  width: 33.33%;
  text-align: left;
  opacity: 0;
  transform: translate3d(0, -30px, 0);
  transition: opacity 0.5s, transform 0.5s;
}

#search .search-suggestion-wrapper .search-suggestion:nth-child(2) {
  margin: 0 3em;
}

#search .search-suggestion-wrapper .search-suggestion h3 {
  font-size: 1.35em;
  margin: 0 0 12px 0;
}

#search .search-suggestion-wrapper .search-suggestion h3::before {
  content: "\21FE";
  display: inline-block;
  padding: 0 0.5em 0 0;
}

#search .search-suggestion-wrapper .search-suggestion p {
  line-height: 1.4;
  margin: 0 0 10px 0;
}

/* ----------------------------------------------------------------
      Search / Open state
  -----------------------------------------------------------------*/
body.search-open #search {
  pointer-events: auto;
  opacity: 1;
}

body.search-open #search #search-logo {
  display: block;
  opacity: 1;
}

body.search-open #search .search-form {
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

body.search-open #search .btn-search-close {
  display: block;
  opacity: 1;
  transform: scale3d(1, 1, 1);
}

body.search-open #search .search-suggestion {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

body.search-open #search .search-suggestion:nth-child(2) {
  transition-delay: 0.1s;
}

body.search-open #search .search-suggestion:nth-child(3) {
  transition-delay: 0.2s;
}

/* ----------------------------------------------------------------
      Search Responsive
  -----------------------------------------------------------------*/
@media (max-width: 991px) {
  #search #search-logo {
    margin: 0 auto !important;
    max-width: 130px;
    left: auto;
  }

  #search .search-form {
    margin: 40px;
  }

  #search .search-form .form-control {
    font-size: 24px;
    margin-bottom: 8px;
  }

  #search .search-form .text-muted {
    font-size: 10px;
  }

  #search .btn-search-close {
    font-size: 1em;
    padding: 8px;
    line-height: 8px;
  }

  #search .search-suggestion-wrapper {
    display: none;
  }
}

@media (min-width: 992px) {
  #header[data-transparent="true"]+main {
    top: -122px;
    margin-bottom: -122px;
    position: relative;
  }

  #header[data-transparent="true"]+main>#page-title {
    padding: 220px 0 160px 0;
  }

  #header[data-transparent="true"]+#page-title {
    top: -122px;
    margin-bottom: -122px;
    position: relative;
    padding: 220px 0 160px 0;
  }

  .signin {
    margin-left: 0% !important;
  }

  .leaders {
    margin-left: -5% !important;
  }
}

#widget-contact-form {
  clear: left;
}

.background-colored {
  background-color: #2250fc;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: -1;
}

.particles canvas {
  position: absolute;
  top: 0;
  left: 0;
}

.animated-background {
  animation: 120s linear 0s normal none infinite running animatedBackground;
  background-repeat: repeat-x;
  background-size: cover;
}

.animated.infinite {
  animation-duration: 3s;
  animation-fill-mode: both;
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -3000px 0;
  }
}

@keyframes animatedBackground {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: -3000px 0;
  }
}

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@media (min-width: 992px) {
  #header[data-transparent='true']+main {
    top: -122px;
    margin-bottom: -122px;
    position: relative;
  }

  #header[data-transparent='true']+main>#page-title {
    padding: 220px 0 160px 0;
  }

  #header[data-transparent='true']+#page-title {
    top: -122px;
    margin-bottom: -122px;
    position: relative;
    padding: 220px 0 160px 0;
  }

  @keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg);
    }

    .leaders {
      margin-left: -5% !important;
    }
  }

  .signin {
    margin-left: 15% !important;
  }

  #widget-contact-form {
    clear: left;
  }

  .sm-text-custom {
    height: 5%;
  }

  .background-colored {
    background-color: #2250fc;
  }

  #particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
    z-index: -1;
  }

  .particles canvas {
    position: absolute;
    top: 0;
    left: 0;
  }

  .animated-background {
    animation: 120s linear 0s normal none infinite running animatedBackground;
    background-repeat: repeat-x;
    background-size: cover;
  }

  .animated.infinite {
    animation-duration: 3s;
    animation-fill-mode: both;
  }

  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -3000px 0;
    }
  }

  @keyframes animatedBackground {
    0% {
      background-position: 0 0;
    }

    100% {
      background-position: -3000px 0;
    }
  }

  @-webkit-keyframes swiper-preloader-spin {
    100% {
      -webkit-transform: rotate(360deg);
    }
  }

  @keyframes swiper-preloader-spin {
    100% {
      transform: rotate(360deg);
    }
  }