.category {
  display: inline-block;
  background-color: #007bff;
  padding: 2px 8px;
  line-height: 1.5;
  font-size: 14px;
  border-radius: 5px;
  color: #fff;
  margin-right: 10px;
}

.a-block {
  display: block;
  background-size: cover;
  background-position: center center;
  padding: 30px;
  position: relative;
  margin-bottom: 30px;
  /* height: 100px; */
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}

.a-block:hover {
  text-decoration: none;
  box-shadow: 0 5px 22px gray;
}

.a-block.height-lg {
  /* height: 500px; */
}

.a-block.height-md {
  height: 300px;
}

.a-block:before {
  background: #000;
  position: absolute;
  content: '';
  z-index: 1;
  opacity: 0.25;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.a-block .text {
  position: relative;
  z-index: 2;
  max-width: 100%;
}

.a-block .text.half-to-full {
  /* max-width: 50%; */
}

@media (max-width: 767.98px) {
  .a-block .text.half-to-full {
    /* max-width: 100%; */
  }
}

.a-block .text .post-meta {
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  font-size: 13.5px;
  margin-bottom: 30px;
}

.a-block .text h3 {
  color: #fff;
}

.a-block .text p {
  color: #fff;
}

.a-block:hover:before {
  opacity: 0.4;
}

.lower {
  display: flex;
}
.left-side {
  width: 70%;
  display: inline-block;
}
.right-side {
  padding-left: 5%;
  width: 30%;
  display: inline-block;
}
.card-text {
  margin-top: 7%;
}
.card-span {
  color: #b3b3b3;
}
.card-span-dot {
  font-size: 3px;
  margin: auto 5px auto 5px;
}
.card {
  margin: 0 2%;
  margin-bottom: 5%;
}
.category-heading {
  color: #000;
  margin: 15px 10px 25px 0;
}
@media (min-width: 300px) and (max-width: 993px) {
  .lower {
    display: block;
  }
  .left-side {
    width: 100%;
    display: block;
  }
  .right-side {
    padding-left: 0%;
    width: 100%;
    display: block;
  }
  .card-text {
    margin-top: 7%;
  }
  .card-span {
    color: #b3b3b3;
  }
  .card-span-dot {
    font-size: 3px;
    margin: auto 5px auto 5px;
  }
  .card {
    margin: 5% 2%;
  }
  .category-heading {
    color: #000;
    margin: 10px 5px 20px 0;
    font-size: 28px;
  }
  .right-side {
    display: none;
  }
}

.rightImage {
  width: 100%;
}

.rightImage img {
  width: 100%;
}

.rightText h5 {
  font-size: 1rem;
  color: #000;
}

.cardDown {
  font-size: 0.8rem;
}

.rightCard {
  margin-bottom: 1rem;
}

.categoryLeft {
  color: #007bff;
}
.categoryRight {
  text-align: right;
}

.categories {
  padding: 0;
}

.categoryCards {
  margin: 2rem 0;
  margin-bottom: 1rem;
  color: #000;
}

.right-side a:hover {
  text-decoration: none;
}
.categoryCards .col {
  padding: 0;
}

.tags {
  margin: 4rem 0;
  margin-bottom: 1rem;
  color: #000;
}

.tags .col {
  padding: 0;
}

.tag {
  background-color: #f2f2f2;
  border-radius: 0.3rem;
  padding: 0.2rem;
  margin: 0.1rem;
  margin-bottom: 0.3rem;
  display: inline-block;
}

.tag:hover {
  background-color: #007bff;
  color: white;
}
