@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  margin-left: 1px;
}

section {
  width: 100%;
  padding: 80px 0;
}

.decodisasterimg-head {
  margin: 0% 10% 0 10%;
}

.pt-card {
  margin: 5% 0 -10% 0;
  padding: 12%;
  border-radius: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 3.5px #0297ff;
  background-image: url("../images/DecoDisaster/deco3.jpeg");
}
.uheading {
  font-size: 36px;
}
.lheading {
  font-size: 36px;
}

#collab {
  margin-top: 0;
  padding-bottom: 0;
}

.acm1img {
  width: 160px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.acm2img {
  width: 320px;
  padding-top: 10px;
  padding-left: 25px;
  padding-right: 25px;
}

.footer-links {
  padding: 0 4%;
}

#quick {
  padding: 2px;
}

.quickul {
  padding-left: 0;
}

.social-links {
  font-size: x-large;
  text-align-last: justify;
}

.contactus-footer {
  padding: 2px;
}

@media (min-width: 300px) and (max-width: 580px) {
  .uheading {
    font-size: 20px;
  }
  .lheading {
    font-size: 20px;
  }
  .acm-logo-navbar {
    margin-left: 10px;
  }
  .pt-card {
    margin-top: 10px;
  }
}
@media (min-width: 580px) and (max-width: 780px) {
  .uheading {
    font-size: 26px;
  }
  .lheading {
    font-size: 26px;
  }
}
.collab-card {
  width: 250px !important;
  height: 280px;
  margin: 3% 1%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}
.collab-card:hover {
  width: 250px !important;
  height: 280px;
  margin: 3% 1%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
  -webkit-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
  background-color: white;
  background-image: linear-gradient(to bottom right, white, #e6ffff);
}
.collab-main-heading {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.highlight {
  color: #0297ff;
}

.card-1,
.card-2,
.card-3,
.card-4,
.card-5,
.card-6,
.card-7 {
  margin-top: 15%;
}
.card-1 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-1:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-2 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-2:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-3 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-3:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-4 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-4:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-5 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-5:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-6 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-6:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-7 {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 10rem !important;
  height: 10rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}
.card-7:hover {
  background: url("../images/DecoDisaster/PDF.svg") no-repeat;
  display: inline-block !important;
  width: 12rem !important;
  height: 12rem !important;
  padding: 2vh 4vh;
  background-position: center;
  background-size: contain;
  text-align: center;
  transition: all 0.5s ease-in-out !important;
}

.blue-hr {
  margin: 0px !important;
  border-style: none;
  border-top: 6px solid #0297ff !important;
  border-radius: 8px;
}
.collab-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #222;
}

@media (min-width: 200px) and (max-width: 580px) {
  .uheading {
    font-size: 16px;
  }
  .lheading {
    font-size: 16px;
  }
  .acm-logo-navbar {
    margin-left: 10px;
  }
  .pt-card {
    margin-top: 7%;
    margin-bottom: -40%;
  }
}
.text-and-logo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}

.navbar-gap {
  font-size: 16px;
  padding: 0;
  margin-bottom: -11px;
}

.outstanding-logo {
  width: 160px;
  animation-name: scale-up-center;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.2);
    transform: scale(0.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@media (min-width: 350px) and (max-width: 1200px) {
  .footer-info {
    display: flex;
    flex-direction: column !important;
  }
}
