* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.title {
  padding-top: 5%;
}

#hero-img {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: -1;
  width: 100%;
  height: 100vh;
}

.head {
  padding-top: 1.5rem;
  padding-bottom: 0rem;
  padding-left: 1.3rem;
  padding-right: 1.3rem;
}

.head h1 {
  /* font-family: 'Montserrat', sans-serif; */
  font-family: inherit;
  padding-left: 0.5rem;
  font-size: 4rem;
  letter-spacing: 1px;
  font-weight: 400;
  cursor: pointer;
  color: white;
  padding-top: 2.5%;
}

#hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

#hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  /* background-color: black; */
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.title-area {
  margin: 2rem;
  margin-top: 0.1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: auto;
}

.title-img {
  width: 50%;
}

.title-img img{
  width: 77%;
  padding-bottom: 2rem;
  padding-left: 7rem;
  cursor: pointer;
  transition: transform .4s;
}

.title-img img:hover {
  transform: scale(1.15);
}

.title-text {
  padding-left: 1rem;
}

.title-text h1 {
  font-family: 'Labrada', serif;
  font-size: 3rem;
  line-height: 4rem;
  cursor: pointer;
  color: black;
}

.title-text h4 {
  font-family: 'Labrada', serif;
  font-size: 1.8rem;
  font-weight: 400;
  padding-top: 1rem;
  cursor: pointer;
  color: black;
}

.title-text button {
  width: 13rem;
  margin-top: 2rem;
  font-size: 1.3rem;
  padding: 0.5rem 0.7rem;
  border-radius: 15px;
  border: 2px solid #005daa;
  color: #005daa;
  font-weight: 500;
  background-color: transparent;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  transition-duration: 0.6s;
  cursor: pointer;
}

.title-text button:hover {
  color: white;
  font-weight: 500;
  background-color: #005daa;
}

.yearly-events {
  background-color: rgb(240, 235, 235);
  background-position: center;
  background-size: cover;
  background-attachment: scroll;
  background-repeat: no-repeat;
}
.events-head h1 b {
    color: #0297ff;
}


.events-head h1 {
  margin-top: 1rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: inherit;
  font-weight: 400;
  font-size: 3rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 40%;
}

#hover-underline-a {
  display: inline-block;
  position: relative;
  color: black;
}

#hover-underline-a:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

#hover-underline-a:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.cards {
  display: flex;
  padding: 25px 0px;
  list-style: none;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
}

.card {
  display: flex;
  flex-direction: column;
  flex: 0 0 33%;
  padding: 20px;
  background: var(--white);
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
  scroll-snap-align: start;
  transition: all 0.2s;
  background-color: white;
}

.card:not(:last-child) {
  margin-right: 10px;
}

/* .card:hover {
  color: var(--white);
  background: var(--blue);
} */

.card .card-title {
  font-size: 20px;
}

.card .card-content {
  margin: 20px 0;
  max-width: 85%;
}

.card .card-link-wrapper {
  margin-top: auto;
}

.card .card-link {
  display: inline-block;
  text-decoration: none;
  color: white;
  background: var(--red);
  padding: 6px 12px;
  border-radius: 8px;
  transition: background 0.2s;
} 

.card:hover .card-link {
  background: var(--darkred);
}

.cards::-webkit-scrollbar {
  height: 12px;
}

.cards::-webkit-scrollbar-thumb,
.cards::-webkit-scrollbar-track {
  border-radius: 92px;
}

.cards::-webkit-scrollbar-thumb {
  background: var(--darkred);
}

.cards::-webkit-scrollbar-track {
  background: var(--thumb);
}



#year h4 {
  letter-spacing: 5px;
  font-size: 40px;
  font-weight: 600;
  color: black;
  font-family: 'Tilt Prism', cursive;
  /* margin-bottom: 15px; */
  text-align: center;
}

.no-of-events {
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}

#event-no {
  font-size: 3rem;
  font-weight: 50;
  color: rgb(98, 97, 97);
  padding-right: 1%;
}

.event-text {
  font-size: 2.5rem;
  font-weight: 100;
  color: rgb(98, 97, 97);
  letter-spacing: 2px;
}

#tagline {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
  font-size: 1.4rem;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: black;
}

.card button {
  border-radius: 15px;
  color: #005daa;
  background-color: white;
  padding: 0.5rem 1rem;
  margin-left: 68%;
  margin-top: 4%;
  border: none;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.1rem;
  transition-duration: 0.6s;
  cursor: pointer;
  font-weight: 600;
}

.card button:hover {
  border: 2px solid #005daa;
}

.gallary {
  background-image: url(pngtree-square-abstract-background-abstract-blue-light-blue-three-dimensional-picture-image_1336894.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: -2rem;
  width: auto;
}

.gallary-head h1 {
  margin-top: 1rem;
  /* font-family: 'Montserrat', sans-serif; */
  font-family: inherit;
  font-weight: 500;
  font-size: 3rem;
  letter-spacing: 1px;
  cursor: pointer;
  margin-left: 45%;
  text-align: center;
}

.slideshow {
  margin-top: 1 rem;
  padding-top: 3rem;
  padding-bottom: 2rem;
  height: 30rem;
  perspective: 1000px;
}

.content {
  margin: auto;
  width: 200px;
  perspective: 1000px;
  position: relative;
  padding-top: 80px;
  transform-style: preserve-3d;
}

.slider-content {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotate 15s infinite linear;
  transform-style: preserve-3d;
}

.slider-content:hover {
  cursor: pointer;
  animation-play-state: paused;
}

.slider-content figure {
  width: 180px;
  height: 120px;
  border: 1px solid #555;
  overflow: hidden;
  position: absolute;
}

.slider-content img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.slider-content img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 0px #000;
}

.slider-content figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(300px);
}

.slider-content figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(300px);
}

.slider-content figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(300px);
}

.slider-content figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(300px);
}

.slider-content figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(300px);
}

.slider-content figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(300px);
}

.slider-content figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(300px);
}

.slider-content figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(300px);
}

.slider-content figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(300px);
}

.slider-content figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(300px);
}

.slider-content figure:nth-child(11) {
  transform: rotateY(400deg) translateZ(300px);
}

.slider-content figure:nth-child(12) {
  transform: rotateY(440deg) translateZ(300px);
}

.slider-content figure:nth-child(13) {
  transform: rotateY(480deg) translateZ(300px);
}

.slider-content figure:nth-child(14) {
  transform: rotateY(520deg) translateZ(300px);
}

.slider-content figure:nth-child(15) {
  transform: rotateY(560deg) translateZ(300px);
}

@keyframes rotate {
  from {
    transform: rotateY(0deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 480px) {
  .gallary {
    background-image: url(pngtree-square-abstract-background-abstract-blue-light-blue-three-dimensional-picture-image_1336894.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: -2rem;
    /* width:auto; */
  }
  
  .gallary-head h1 {
    margin-top: 1rem;
    /* font-family: 'Montserrat', sans-serif; */
    font-family: inherit;
    font-weight: 500;
    font-size: 3rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 30%;
  }

  .slideshow {
    margin-top: 1 rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
    height: 20rem;
    perspective: 1500px;
    overflow: hidden;
  }
  
  .content {
    margin: auto;
    /* width: 200px; */
    perspective: 1500px;
    position: relative;
    padding-top: 80px;
    transform-style: preserve-3d;
  }
  
  .slider-content {
    width: 100%;
    position: absolute;
    float: right;
    animation: rotate 15s infinite linear;
    transform-style: preserve-3d;
  }
  
  .slider-content:hover {
    cursor: pointer;
    animation-play-state: paused;
  }
  
  .slider-content figure {
    width: 120px;
    height: 90px;
    border: 1px solid #555;
    overflow: hidden;
    position: absolute;
  }
  
  .slider-content img {
    image-rendering: auto;
    transition: all 300ms;
    width: 100%;
    height: 100%;
  }
  
  .slider-content img:hover {
    transform: scale(1.2);
    transition: all 300ms;
  }
  
  .shadow {
    position: absolute;
    box-shadow: 0px 0px 0px #000;
  }
  
  .slider-content figure:nth-child(1) {
    transform: rotateY(0deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(2) {
    transform: rotateY(30deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(3) {
    transform: rotateY(60deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(4) {
    transform: rotateY(90deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(5) {
    transform: rotateY(120deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(6) {
    transform: rotateY(150deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(7) {
    transform: rotateY(180deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(8) {
    transform: rotateY(210deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(9) {
    transform: rotateY(240deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(10) {
    transform: rotateY(270deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(11) {
    transform: rotateY(300deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(12) {
    transform: rotateY(330deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(13) {
    transform: rotateY(360deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(14) {
    transform: rotateY(390deg) translateZ(300px);
  }
  
  .slider-content figure:nth-child(15) {
    transform: rotateY(420deg) translateZ(300px);
  }
  @keyframes rotate {
    from {
      transform: rotateY(0deg);
    }
  
    to {
      transform: rotateY(360deg);
    }
  }
}


@media screen and (max-width: 480px) {
  .title {
    padding-top: 20%;
  }
  
  #hero-img {
    position: absolute;
    left: 0px;
    /* top: 30%; */
    /* z-index: -1; */
    /* width: 40rem; */
    /* height:40rem; */
    background-repeat: no-repeat;
    background-size: cover;
  }

  .head h1 {
    font-family: inherit;
    font-size: 3rem;
    color: black;
    margin-left: -1%;
    font-weight: 600;
  }
  #hover-underline-animation {
    display: inherit;
    text-align: center;
    /* position: relative;
    left: 28%; */
    color: black;
  }
  
  #hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: black;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
  #hover-underline-animation:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  
  .title-area {
    margin: 1rem;
    margin-top: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
  }
  .title-area h3,h4{
    text-align: center;

  }
  
  .title-img {
    width: 50%;
    text-align: center;
    margin-right: 17%;
  }
  
  .title-img img{
    width: 180%;
    margin-left: -54%;
    padding-bottom: 2.5rem;
    padding-top: 1.5rem;
    cursor: pointer;
    transition: transform .4s;
  }
  
  .title-img img:hover {
    transform: scale(1);
  }
  
  .title-text {
    /* padding-left: 1rem; */
    display: contents;
  }
  
  .title-text h1 { 
    font-family: 'Labrada', serif;
    font-size: 2rem;
    line-height: 4rem;
    color: black;
  }
  
  .title-text h4 {
    font-family: 'Labrada', serif;
    font-size: 1.4rem;
    font-weight: 400;
    padding-top: 1rem;
    cursor: pointer;
    color: black;
  }
  
  .title-text button {
    width: 13rem;
    margin-top: 2rem;
    /* margin-left: 23%; */
    font-size: 1.3rem;
    padding:  0.5rem 1rem;
    border-radius: 15px;
    border: 2px solid #005daa;
    color: #005daa;
    font-weight: 500;
    background-color: transparent;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
  }
  
  .title-text button:active {
    color: white;
    font-weight: 500;
    background-color: #005daa;
    border: none;
  }
  .events-head{
    margin-top: -8%;
  }
  .events-head h1 {
    margin-top: 1rem;
    font-family: inherit;
    font-weight: 400;
    font-size: 3rem;
    letter-spacing: 1px;
    cursor: pointer;
    margin-left: 20%;
    font-size: 2.5rem;
  }
  .cards {
    display: flex;
    padding: 25px 0px;
    list-style: none;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    flex: 0 0 100%;
    padding: 20px;
    background: var(--white);
    border-radius: 12px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 15%);
    scroll-snap-align: start;
    transition: all 0.2s;
    background-color: white;
  }
  
  .card:not(:last-child) {
    margin-right: 10px;
  }
  
  /* .card:hover {
    color: var(--white);
    background: var(--blue);
  } */
  
  .card .card-title {
    font-size: 20px;
  }
  
  .card .card-content {
    margin: 20px 0;
    max-width: 85%;
  }
  
  .card .card-link-wrapper {
    margin-top: auto;
  }
  
  .card .card-link {
    display: inline-block;
    text-decoration: none;
    color: white;
    background: var(--red);
    padding: 6px 12px;
    border-radius: 8px;
    transition: background 0.2s;
  }
  
  .card:hover .card-link {
    background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar {
    height: 12px;
  }
  
  .cards::-webkit-scrollbar-thumb,
  .cards::-webkit-scrollbar-track {
    border-radius: 92px;
  }
  
  .cards::-webkit-scrollbar-thumb {
    background: var(--darkred);
  }
  
  .cards::-webkit-scrollbar-track {
    background: var(--thumb);
  }
  .card button {
    border-radius: 15px;
    color: #005daa;
    background-color: lightgrey;
    padding: 0.5rem 1rem;
    margin-left: 68%;
    margin-top: 4%;
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1rem;
    transition-duration: 0.6s;
    cursor: pointer;
    font-weight: 600;
  }
  
  .card button:active {
    border: 2px solid #005daa;
  }
}