@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@500&display=swap");

body {
  background-color: black;
}

/* ----------NavBar hackathon page ---------- */

.nav {
  background-color: black;
  font-size: 1.1rem;
}

.nav {
  background-color: black;
}

.nav-link {
  color: #e8e3e3;
  padding: 20px;
}

.nav-link:hover {
  color: red;
}

.nav-item {
  padding-left: 25px;
  padding-right: 10px;
}

/* -----------Hero ------------*/

canvas {
  position: absolute;
  height: 100vh;
  width: 98.5vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-hackathon {
  min-height: 100vh;
  width: 98.5vw;
}

.hero-container {
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  margin-top: 7%;
}

.hero-left-div {
  font-family: "Ruda", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #70ff00;
  font-size: 6rem;
}

.hero-right-div {
  margin-top: 50px;
  font-family: Ruda;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.hero-register-button {
  background: #000000;
  border: 3px solid #70ff00;
  box-sizing: border-box;
  color: white;
  margin: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
}

.font-red{
  color: red;
}

.countdown-item{
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

.countdown-span{
  display: block;
}

#countdown{
  margin-top: 3%;
  text-align: center;
  align-self: center;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 786px) {
  .hero-left-div {
    font-size: 3rem;
  }
  .hero-right-div{
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  .hero-register-button{
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px){
  .themeHackhathon{
    margin-top: -5%;
  }
}

/* ----------theme hackathon page ---------- */

.themeHackhathon {
  background-color: black;
  font-family: "Source Sans Pro", sans-serif;
}

#themeHackhathonHeader {
  color: white;
  font-size: 2.2rem;
  padding: 0.7rem;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 0;
}

.themeBox {
  display: inline-block;
  text-align: center;
  margin-left: -4px;
}

.themeBoxContent {
  border: white solid 3.5px;
  border-radius: 15px;
  background-color: black;
  color: white;
  width: 90%;
  margin: 30px;
  padding: 20px;
}

.col-sm-12 {
  padding-left: 0;
  /* padding-right: 0; */
}

.themeBoxContentHeader {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 2.2rem;
  margin-top: 10px;
  padding: 0.7rem;
}

.themeBoxContentImage {
  width: 13rem;
  height: 11rem;
  border-radius: 50%;
  margin-top: 10px;
  text-align: center;
}

.themeBoxContentDescription {
  font-size: 1.1rem;
  line-height: 1.4;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  margin-top: 0px;
}

@media (max-device-width: 320px) {
  #themeHackhathonHeader {
    font-size: 1.7rem;
    margin-bottom: 0;
  }

  .themeBox {
    margin-left: 5px;
  }

  /* .col-sm-12 {
    padding-right: 0;
  } */

  .themeBoxContent {
    margin: 30px;
    padding: 25px;
    width: 80%;
  }

  .themeBoxContentHeader {
    font-size: 1.6rem;
  }

  .themeBoxContentImage {
    margin-top: 10px;
    width: 9.5rem;
    height: 8.5rem;
  }

  .themeBoxContentDescription {
    font-size: 0.9rem;
    line-height: 1.3;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1439px) {
  #themeHackhathonHeader {
    font-size: 3.5rem;
    text-align: center;
    padding: 1.5rem;
  }

  .themeBox {
    margin-left: -7px;
  }
/*
  .col-lg-4,
  .col-md-6 {
    padding-right: 0;
    padding-left: 0;
  } */

  .themeBoxContent {
    width: 90%;
    border: white solid 5px;
  }

  .themeBoxContentHeader {
    font-size: 2.5rem;
    margin-top: 10px;
    padding: 0.7rem;
  }

  .themeBoxContentImage {
    margin-top: 10px;
    width: 14rem;
    height: 12rem;
  }

  .themeBoxContentDescription {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 0px;
  }
}

@media (min-device-width: 1440px) {
  #themeHackhathonHeader {
    font-size: 3.5rem;
    text-align: center;
    padding: 1.5rem;
  }

  .themeBox {
    margin-left: -7px;
    flex-wrap: nowrap;
    margin-right: 0;
    display: inline-block;
  }

  /* .col-lg-4 {
    padding-right: 30px;
    padding-left: 30px;
  } */

  .themeBoxRow {
    width: 60%;
  }

  .themeBoxContent {
    width: 90%;
    border: white solid 5px;
  }

  .themeBoxContentHeader {
    font-size: 3rem;
    margin-top: 12px;
    padding: 0.9rem;
  }

  .themeBoxContentImage {
    margin-top: 10px;
    width: 17rem;
    height: 15rem;
  }

  .themeBoxContentDescription {
    font-size: 1.3rem;
    line-height: 1.5;
    margin-top: 0;
  }
}

/* ------prizes hackathon-------- */

.prizes {
  margin-top: 100px;
  background-color: black;
  text-align: center;
}

/* .prizeSecond {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 20%;
  height: 30%;
  border: white solid 3px;
  display: inline-block;
}

.prizeFirst {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 20%;
  height: 50%;
  border: white solid 3px;
  display: inline-block;
}

.prizeThird {
  margin-top: 60px;
  margin-bottom: 100px;
  width: 20%;
  height: 10%;
  border: white solid 3px;
  display: inline-block;
} */

.otherPerksContentImage {
  border-radius: 50%;
  width: 16rem;
  height: 15rem;
  text-align: center;
  margin-left: -2px;
  padding: 10px;
}

.otherPerksContent {
  border-top-left-radius: 65px;
  border-top-right-radius: 65px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  width: 85%;
}

#otherPerksHeader {
  text-align: left;
  margin-left: 1.5%;
  color: white;
  font-size: 3.5rem;
  padding-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
}

.otherPerksContentDescription {
  text-align: left;
  font-size: 1.3rem;
  line-height: 1.6;
  font-family: "Source Sans Pro", sans-serif;
  margin-top: 20px;
}
/*
.col-lg-3 {
  padding-left: 0;
  padding-right: 0;
} */

@media (max-device-width: 767px) {
  .otherPerksContentImage {
    width: 13.5rem;
    height: 12.5rem;
  }

  .otherPerksContentDescription {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-top: 15px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1439px) {
  .otherPerksContentImage {
    border-radius: 50%;
    width: 10.5rem;
    height: 10rem;
    text-align: center;
  }

  .otherPerksContent {
    margin-left: 20px;
  }

  .otherPerksContentDescription {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 10px;
  }
}

@media (max-device-width: 320px) {
  .otherPerksContentImage {
    width: 11rem;
    height: 10rem;
  }

  #otherPerksHeader {
    font-size: 3rem;
  }

  .otherPerksContent {
    margin-left: 35px;
    width: 80%;
  }

  .otherPerksContentDescription {
    font-size: 1.1rem;
    line-height: 1.5;
    margin-top: 15px;
  }
}

/* ************************************ Organising Team ******************************************** */

.orgainisingTeamLeftHeadingCard {
  display: inline-block;
  border: 2px solid #fff;
  border-left: none;
  border-radius: 10px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  /* float: left; */
}
.orgainisingTeamLeftHeading {
  height: 20%;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding: 1.5rem 2rem 1.5rem 8rem;
  text-align: right;
  font-family: "Source Sans Pro", sans-serif;
}
.orgainisingTeamRightHeadingCard {
  display: inline-block;
  border: 2px solid #fff;
  border-right: none;
  border-radius: 10px;
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
  text-align: right;
  /* float: right; */
}
.orgainisingTeamRightHeading {
  height: 20%;
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  padding: 1.5rem 8rem 1.5rem 2rem;
  text-align: left;
  font-family: "Source Sans Pro", sans-serif;
}
/* .col-lg-3 .col-md-3 .col-sm-6 .col-6 {
  padding: 3%;
} */
.orgainisingTeamCard {
  margin: 3% 0%;
}
.orgainisingTeamMember {
  width: 100%;
  /* border: 2px solid #fff; */
  border-radius: 10px;
  padding: 10%;
}
/* @media (min-width: 300px) and (max-width: 580px) {

} */
