  .team {
    margin: 0;
    padding: 0;
    /* width: 100%;
    height: 80vh; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #0c5db9; */
  }
  .secondLine{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .profile-card {
    position: relative;
    font-family: sans-serif;
    width: 180px;
    height: 180px;
    background: #46aff5;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px rgba(71, 71, 71, 0.4);
    transition: 0.6s;
    margin: 25px 25px;
  }
  .profile-card:hover {
    border-radius: 10px;
    height: 240px;
  }
  .profile-card .img {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 99;
  }
  .profile-card:hover .img {
    transform: translateY(-60px);
  }
  .img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
  }
  .profile-card:hover img {
    border-radius: 10px;
  }
  .caption {
    text-align: center;
    transform: translateY(-100px);
    opacity: 0;
    transition: 0.6s;
  }
  .profile-card:hover .caption {
    opacity: 1;
  }
  .caption h3 {
    font-size: 17px;
    font-weight: bold;
    font-family: sans-serif;
  }
  .caption p {
    font-size: 13px;
    color: #ffffff;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
  }
  .caption .social-links a {
    color: rgb(7, 7, 7);
    margin-right: 15px;
    font-size: 18px;
    transition: 0.6s;
  }
  .social-links a:hover {
    color: #fbfbff;
  }
  
  .gap {
    height: 10px;
    width: 5vw;
  }