  .team {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    /* background-color: #0c5db9; */
  }
  .profile-card {
    position: relative;
    font-family: sans-serif;
    width: 180px;
    height: 180px;
    background: #fff;
    padding: 30px;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
    margin: 0 25px;
  }
  .profile-card:hover {
    border-radius: 10px;
    height: 220px;
  }
  .profile-card .img {
    margin: 0;
    padding: 0;
    position: relative;
    width: 100%;
    height: 100%;
    transition: 0.6s;
    z-index: 99;
  }
  .profile-card:hover .img {
    transform: translateY(-60px);
  }
  .img img {
    width: 100%;
    border-radius: 50%;
    box-shadow: 0 0 22px #3336;
    transition: 0.6s;
  }
  .profile-card:hover img {
    border-radius: 10px;
  }
  .caption {
    text-align: center;
    transform: translateY(-80px);
    opacity: 0;
    transition: 0.6s;
  }
  .profile-card:hover .caption {
    opacity: 1;
  }
  .caption h3 {
    font-size: 18px;
    font-family: sans-serif;
  }
  .caption p {
    font-size: 13px;
    color: #0c52a1;
    font-family: sans-serif;
    margin: 2px 0 9px 0;
  }
  .caption .social-links a {
    color: #333;
    margin-right: 15px;
    font-size: 18px;
    transition: 0.6s;
  }
  .social-links a:hover {
    color: #0c52a1;
  }
  
  .gap {
    height: 10px;
    width: 5vw;
  }