/* **********************hero section *********************** */
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.hero-slider {
	width: 100%;
	height: 500px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 0;
	top: 85px;
}

@media (max-width: 991px) {
	.hero-slider {
		height: 600px;
	}
}

@media (max-width: 767px) {
	.hero-slider {
		height: 500px;
	}
}

.hero-slider .swiper-slide {
	overflow: hidden;
	color: #fff;
}

.hero-slider .swiper-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.hero-slider .slide-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-size: contain;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
	background: transparent;
	width: 55px;
	height: 55px;
	line-height: 47px;
	margin-top: -30px;
	text-align: center;
	border: 2px solid #d4d3d3;
	border-radius: 55px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}

.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

@media (max-width: 767px) {

	.hero-slider .swiper-button-prev,
	.hero-slider .swiper-button-next {
		display: none;
	}
}

.hero-slider .swiper-button-prev {
	left: 25px;
	transform: translateX(50px);
}

.hero-slider .swiper-button-prev:before {
	font-family: 'Font Awesome 5 Free';
	content: '\f060';
	font-size: 15px;
	color: #d4d3d3;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}

.hero-slider .swiper-button-next {
	right: 25px;
	transform: translateX(-50px);
}

.hero-slider .swiper-button-next:before {
	font-family: 'Font Awesome 5 Free';
	content: '\f061';
	font-size: 15px;
	color: #d4d3d3;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	text-align: left;
	line-height: 12px;
	font-size: 12px;
	color: #000;
	opacity: 0.3;
	background: #fff;
	transition: all 0.2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
	opacity: 1;
}

.hero-slider .swiper-container-horizontal>.swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
	bottom: 30px;
}

.swiper-pagination {
	text-align: left;
}

.hero-slider .swiper-container-horizontal>.swiper-pagination-bullets {
	bottom: 50px;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
}

@media (min-width: 767px) {
	.hero-slider .swiper-container-horizontal>.swiper-pagination-bullets {
		bottom: 30px;
	}
}

/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
	transition: all 0.4s ease;
}

@media (max-width: 991px) {
	.hero-style {
		height: 630px;
	}
}

@media (max-width: 767px) {
	.hero-style {
		height: 500px;
	}
}

.hero-style .slide-text,
.hero-style .slide-btns {
	max-width: 690px;
}

.hero-style .slide-title>h2 {
	font-size: 50px;
	font-weight: 600;
	line-height: 1;
	color: #ffffff;
	margin: 0 0 40px;
	text-transform: capitalize;
	transition: all 0.4s ease;
}

@media (max-width: 1199px) {
	.hero-style .slide-title>h2 {
		font-size: 75px;
	}
}

@media (max-width: 991px) {
	.hero-style .slide-title>h2 {
		font-size: 50px;
		margin: 0 0 35px;
	}
}

@media (max-width: 767px) {
	.hero-style .slide-title>h2 {
		font-size: 35px;
		margin: 0 0 30px;
	}
}

.hero-style .slide-text>p {
	opacity: 0.8;
	font-size: 32px;
	font-weight: 300;
	line-height: 1.25;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0 0 40px;
	transition: all 0.4s ease;
}

@media (max-width: 767px) {
	.hero-style .slide-text>p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: normal;
		margin: 0 0 30px;
	}
}

.hero-style .slide-btns>a:first-child {
	margin-right: 10px;
}

/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn,
.theme-btn-s2 {
	background-color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	color: #2b3b95;
	padding: 9px 32px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	display: inline-block;
	line-height: initial;
	transition: all 0.4s ease;
}

.theme-btn-s2 {
	background-color: rgba(255, 255, 255, 0.9);
	color: #131e4a;
}

.theme-btn:hover,
.theme-btn-s2:hover,
.theme-btn:focus,
.theme-btn-s2:focus,
.theme-btn:active,
.theme-btn-s2:active {
	background-color: #2b3b95;
	color: #fff;
}

.theme-btn-s3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #ffffff;
	text-transform: uppercase;
}

i.fa-chevron-circle-right {
	height: 22px;
	width: 22px;
}

a:hover {
	text-decoration: none;
}

@media (max-width: 991px) {

	.theme-btn,
	.theme-btn-s2,
	.theme-btn-s3 {
		font-size: 13px;
		padding: 15px 25px;
	}
}

@media (max-width: 767px) {

	.theme-btn,
	.theme-btn-s2 {
		padding: 13px 20px;
		font-size: 13px;
	}
}

/* typewriter effect */
#typewriter {
	top: calc(40% - 3rem);
	height: 5rem;
	width: 53vw;
	left: calc(50% - 25vw);
	position: absolute;
	z-index: 100;
	text-align: center;
}

.typewriter-box {
	position: relative;
	font-size: 3rem;
	font-weight: 700;
	color: #fff;
}

.typewriter-box::after {
	position: absolute;
	content: '';
	width: 5px;
	height: 3rem;
	background: rgb(255, 255, 255);
	margin: 0 0 0 1px;
	bottom: 0.5rem;
	animation: blink 0.75s none infinite;
	animation-delay: 0s;
}

@keyframes blink {
	from {
		opacity: 0;
	}

	to {
		opacity: 1;
	}
}

/* **********************hero section ends*********************** */

/* ***************************contact us style********************************************************* */
.s-form {
	width: 500px;
}

.s-form-group:hover {
	color: #ffffff;
}

@media screen and (max-height: 500px) {
	.s-form-group {
		margin-bottom: 5px;
	}
}

.contact-button:active {
	color: #fff;
	border: none;
}

.svg-media {
	display: block;
	height: 440px;
	width: 440px;
	border-radius: 10px 0 0 10px;
}

.form-input {
	display: flex;
	justify-content: space-between;
}

.form-margin-top {
	margin-top: 50px;
}

.closebtn {
	float: right;
	margin-bottom: 5px;
}

.dsph {
	display: none;
	justify-content: center;
	align-items: center;
	padding: 5px;
	border-radius: 5px;
	background-color: white;
}

.s-backg {
	background-color: white;
	padding: 5px;
	border-radius: 5px;
}

.s-back {
	background-color: white;
	border-radius: 5px;
	padding: 20px;
}

#contact {
	position: fixed;
	/* Sit on top of the page content */
	display: none;
	/* Hidden by default */
	width: 100%;
	/* Full width (cover the whole page) */
	height: 100%;
	/* Full height (cover the whole page) */
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(211, 211, 211, 0.5);
	/* Black background with opacity */
	z-index: 1000;
	/* Specify a stack order in case you're using a different order for other elements */
	/* cursor: pointer; Add a pointer on hover */
}

@media (max-width: 796px) {
	.svg-media {
		display: none;
	}

	.showbtn {
		margin-left: 40%;
	}
}

@media (max-width: 425px) {
	.showbtn {
		margin-left: 30%;
	}

	.s-form {
		width: 300px;
	}
}

/* **************************contact us style end************************************************** */

/* **************************footer style start************************************************** */

/* **************************footer style end************************************************** */
/* ********************blog style********************************************************** */

.b-container {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 90px;
}

.b-card {
	width: auto;
	height: 280px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	border-radius: 10px;
}

.b-card img {
	width: 400px;
	height: 250px;
	border-radius: 10px;
	transition: all 0.4s ease;
	z-index: 0;
}

.b-infos {
	width: 380px;
	color: #007bff;
	background-color: #fff;
	position: absolute;
	top: 210px;
	border-radius: 10px;
	padding: 20px;
	transition: all 0.4s ease;
	z-index: 1;
	box-shadow: 3px 3px 12px rgb(0 0 0 / 24%);
}

.b-infos .b-button {
	background: #005daa;
	color: #fff;
	border-radius: 6px;
	border: none;
	font-size: 16px;
	padding: 15px 25px;
	text-decoration: none;
}

.b-infos .b-button i {
	font-size: 14px;
	vertical-align: middle;
	padding-left: 10px;
}

.b-infos::after {
	content: '';
	background: #005daa;
	border-radius: 10px;
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: -1;
	clip-path: circle(10% at 0% 0%);
	transition: all 0.3s ease-in;
}

.b-infos:hover {
	transform: translate(0, -10px);
}

.b-infos:hover::after {
	clip-path: circle(100%);
}

.b-infos:hover {
	color: #fff;
}

.b-infos:hover~img {
	transform: translate(0, 10px);
}

.b-infos:hover .b-button {
	background: rgb(243 243 243);
	color: #0397fe;
}

.b-text {
	font-size: 0.9rem;
	font-weight: 600;
	margin-bottom: 5px;
}

.b-date {
	font-size: 0.7rem;
	pointer-events: none;
}

@media (max-width: 1024px) {
	.b-infos {
		top: 130px;
	}
}

@media (max-width: 800px) {
	.b-container {
		margin-top: 6px;
		flex-direction: column;
	}

	.b-card {
		margin: 0;
		margin-top: 10px;
		width: 300px;
	}

	.b-infos {
		top: 130px;
	}
}

/* *************************blog style end***************************************** */
/* *****************************our team style******************************************** */

.about {
	position: fixed;
	z-index: 10;
	bottom: 10px;
	right: 10px;
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: flex-end;
	align-items: flex-end;
	transition: all 0.2s ease;
}

.t-t-wrapper {
	flex-wrap: wrap;
	justify-content: center;
}

.about .t-bg_links {
	width: 40px;
	height: 40px;
	border-radius: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.2);
	border-radius: 100%;
	backdrop-filter: blur(5px);
	position: absolute;
}

.about .logo {
	width: 40px;
	height: 40px;
	z-index: 9;
	background-image: url(https://rafaelavlucas.github.io/assets/codepen/logo_white.svg);
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: 10px 7px;
	opacity: 0.9;
	transition: all 1s 0.2s ease;
	bottom: 0;
	right: 0;
}

.about .t-social {
	opacity: 0;
	right: 0;
	bottom: 0;
}

.about .t-social .t-icon {
	width: 100%;
	height: 100%;
	background-size: 20px;
	background-repeat: no-repeat;
	background-position: center;
	background-color: transparent;
	display: flex;
	transition: all 0.2s ease, background-color 0.4s ease;
	opacity: 0;
	border-radius: 100%;
}

.about .t-social.portfolio {
	transition: all 0.8s ease;
}

.about .t-social.portfolio .t-icon {
	background-image: url(https://rafaelavlucas.github.io/assets/codepen/link.svg);
}

.about .t-social.dribbble {
	transition: all 0.3s ease;
}

.about .t-social.dribbble .t-icon {
	background-image: url(https://rafaelavlucas.github.io/assets/codepen/dribbble.svg);
}

.about .t-social.linkedin {
	transition: all 0.8s ease;
}

.about .t-social.linkedin .t-icon {
	background-image: url(https://rafaelavlucas.github.io/assets/codepen/linkedin.svg);
}

.about:hover {
	width: 105px;
	height: 105px;
	transition: all 0.6s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .logo {
	opacity: 1;
	transition: all 0.6s ease;
}

.about:hover .t-social {
	opacity: 1;
}

.about:hover .t-social .t-icon {
	opacity: 0.9;
}

.about:hover .t-social:hover {
	background-size: 28px;
}

.about:hover .t-social:hover .t-icon {
	background-size: 65%;
	opacity: 1;
}

.about:hover .t-social.portfolio {
	right: 0;
	bottom: calc(100% - 40px);
	transition: all 0.3s 0s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .t-social.portfolio .t-icon:hover {
	background-color: #698fb7;
}

.about:hover .t-social.dribbble {
	bottom: 45%;
	right: 45%;
	transition: all 0.3s 0.15s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .t-social.dribbble .t-icon:hover {
	background-color: #ea4c89;
}

.about:hover .t-social.linkedin {
	bottom: 0;
	right: calc(100% - 40px);
	transition: all 0.3s 0.25s cubic-bezier(0.64, 0.01, 0.07, 1.65);
}

.about:hover .t-social.linkedin .t-icon:hover {
	background-color: #0077b5;
}

/* 
  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p,
  ul,
  li,
  button,
  a,
  i,
  input,
  figure,
  img {
	margin: 0;
	padding: 0;
	list-style: none;
	border: 0;
	-webkit-tap-highlight-color: transparent;
	text-decoration: none;
	color: inherit;
  }
  h1:focus,
  h2:focus,
  h3:focus,
  h4:focus,
  h5:focus,
  h6:focus,
  p:focus,
  ul:focus,
  li:focus,
  button:focus,
  a:focus,
  i:focus,
  input:focus,
  figure:focus,
  img:focus {
	outline: 0;
  }
  
  div {
	-webkit-tap-highlight-color: transparent;
  } */

.t-wrapper .t-module-team {
	position: relative;
}

.t-wrapper .t-module-team:before {
	width: 100%;
	height: 380px;
	background-color: #ffffff;
	content: '';
	position: absolute;
	z-index: -1;
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team:before {
		height: 250px;
	}
}

.t-wrapper .t-module-team .t-team {
	max-width: 1440px;
	margin: 0 auto;
	padding: 100px 5%;
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team {
		padding: 50px 0%;
	}
}

.t-wrapper .t-module-team .t-team .t-title {
	text-align: center;
	margin-bottom: 80px;
	color: #000000;
	font-size: 44px;
	line-height: normal;
	text-transform: uppercase;
	font-weight: bold;
	letter-spacing: 1.3px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: flex-start;
	height: 100px;
}

.t-wrapper .t-module-team .t-team .t-title:before {
	content: '';
	position: absolute;
	width: 80px;
	height: 10px;
	background: #ffffff;
	border-radius: 50px;
	bottom: 0;
	opacity: 0.2;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.webTeam {
		border-left: 2px #cfcece solid;
	}
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-title:before {
		width: 60px;
		height: 5px;
	}
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-title {
		font-size: 32px;
		height: 60px;
		margin-bottom: 40px;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container {
	max-width: 920px;
	padding: 0 20px;
	cursor: default;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

@media screen and (max-width: 1180px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container {
		max-width: 600px;
	}
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container {
		max-width: 280px;
		height: auto;
		padding: 0 20px;
		overflow: visible;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide {
	background-color: white;
	width: 280px !important;
	height: 320px;
	border-radius: 4px;
	box-shadow: inset 0px 0px 0px 1px #edeef4;
	position: relative;
	margin: 5px;
	transition: all 0.4s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:before {
	content: '';
	position: absolute;
	width: 100%;
	height: 100%;
	box-shadow: 0px 20px 40px -20px #eaeaea;
	top: 0px;
	z-index: -1;
	transition: all 0.4s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card {
	width: 100%;
	height: 100%;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-bg {
	position: absolute;
	width: 100%;
	height: 100px;
	top: 0;
	border-radius: 4px 4px 0px 0px;
	transition: all 0.4s ease;
	background: linear-gradient(140deg, #d45b7a, #fda576);
	z-index: 1;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more {
	width: 24px;
	height: 24px;
	position: absolute;
	z-index: 2;
	right: 20px;
	top: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	transform: rotate(0deg);
	transition: all 0.4s ease;
	border-radius: 100%;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more:before,
.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more:after {
	width: 16px;
	height: 2px;
	background-color: white;
	content: '';
	position: absolute;
	border-radius: 4px;
	transition: all 0.4s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more:after {
	transform: rotate(90deg);
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more {
		padding: 10px;
		top: 10px;
		right: 10px;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more:hover {
	transform: scale(1.1);
	background-color: rgba(255, 255, 255, 0.2);
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-more:hover {
		transform: scale(1);
		background-color: transparent;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-photo {
	width: 120px;
	height: 120px;
	border-radius: 100%;
	overflow: hidden;
	z-index: 1;
	position: absolute;
	top: 40px;
	border: 3px solid #ffffff;
	transition: all 0.4s ease;
	box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-photo:before,
.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-photo:after {
	width: 100%;
	height: 100px;
	border-radius: 4px;
	content: '';
	position: absolute;
	transition: all 0.4s ease;
	opacity: 0;
	left: 0;
	top: 0;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-photo:before {
	background: #403e3e;
	z-index: 1;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-photo:after {
	background: linear-gradient(140deg, #d45b7a, #fda576);
	z-index: 2;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-photo img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-text {
	z-index: 3;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	position: absolute;
	transform: translateY(50px);
	transition: all 0.3s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-text .t-name {
	font-size: 20px;
	color: #6f7073;
	font-weight: 300;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-text .t-role {
	font-size: 14px;
	font-weight: 600;
	color: #cbcbcb;
	letter-spacing: 0.8px;
	margin-top: 5px;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-text .t-desc {
	color: white;
	display: none;
	margin-top: 20px;
	font-size: 16px;
	letter-spacing: 0.6px;
	text-align: center;
	padding: 0 40px;
	font-weight: 400;
	line-height: 22px;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social {
	z-index: 1;
	display: flex;
	align-items: center;
	background-color: rgba(234, 234, 234, 0.5);
	box-shadow: inset 0px 11px 13px -20px #6f7073;
	width: 100%;
	position: absolute;
	bottom: 0;
	height: 50px;
	padding: 0 20px;
	box-sizing: border-box;
	border-radius: 0px 0px 4px 4px;
	transition: all 0.4s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-pointer {
	display: block;
	width: 10px;
	height: 10px;
	z-index: 2;
	bottom: 50px;
	position: absolute;
	transform: translateX(25px);
	transition: all 0.4s ease;
	opacity: 0;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-pointer:before {
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background-color: white;
	transform: rotate(45deg);
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-pointer {
		display: none;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-icons {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-icons .t-icon {
	width: 25%;
	height: 24px;
	opacity: 0.3;
	transition: all 0.4s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-icons .t-icon:hover {
	opacity: 0.6;
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-icons .t-icon:hover {
		opacity: 0.3;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social .t-icons .t-icon img {
	width: 100%;
	height: 100%;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide .t-card .t-social:hover .t-pointer {
	opacity: 1;
	bottom: 45px;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:hover {
	transform: translateY(3px);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:hover:before {
	box-shadow: 0px 10px 10px -10px #eaeaea;
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:hover {
		transform: translateY(0px);
	}

	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:hover:before {
		box-shadow: 0px 20px 40px -20px #eaeaea;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:hover .t-card .t-photo {
	transform: translateY(-5px);
	box-shadow: 0px 6px 20px rgba(111, 112, 115, 0.3);
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide:hover .t-card .t-photo {
		transform: translateY(0px);
		box-shadow: 0px 4px 10px rgba(111, 112, 115, 0.3);
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card {
	overflow: hidden;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-more {
	transform: rotate(45deg) scale(1);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-more:hover {
	transform: rotate(45deg) scale(1.1);
}

@media screen and (max-width: 799px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-more:hover {
		transform: rotate(45deg) scale(1);
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-social {
	transform: translateY(55px);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-text {
	color: white;
	transform: translateY(0px);
	transition: all 0.6s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-text .t-name,
.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-container .t-swiper-slide.show-more .t-card .t-text .t-role {
	color: white;
}

@media (max-width: 320px) {
	.tm-name {
		padding: 13px;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-pagination .t-swiper-pagination-bullet {
	background-color: #6f7073;
	margin: 0 5px;
	border-radius: 5px;
	transition: all 0.4s ease;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-pagination .t-swiper-pagination-bullet:focus {
	outline: 0;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-swiper-pagination .t-swiper-pagination-bullet-active {
	background: linear-gradient(140deg, #d45b7a, #fda576);
	width: 16px;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation {
	width: 1098px;
	height: 28px;
	position: absolute;
	margin: 0 auto;
	padding: 0 5%;
	box-sizing: border-box;
	top: 86px;
	display: flex;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width: 1180px) {
	.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation {
		width: 750px;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-prev,
.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-next {
	width: 28px;
	height: 28px;
	background-position: center;
	transition: all 0.4s ease;
	top: 0;
	margin-top: 0;
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-prev:focus,
.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-next:focus {
	outline: none;
}

@media screen and (max-width: 799px) {

	.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-prev,
	.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-next {
		display: none;
	}
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-prev {
	background-image: url('https://rafaelalucas.com/dailyui/6/assets/arrow-prev.svg');
	background-position-x: 5px;
	transform: translateX(5px);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-prev:hover {
	transform: translateX(0px);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-next {
	background-image: url('https://rafaelalucas.com/dailyui/6/assets/arrow-next.svg');
	background-position-x: -5px;
	transform: translateX(-5px);
}

.t-wrapper .t-module-team .t-team .t-team-cards .t-navigation .t-swiper-button-next:hover {
	transform: translateX(0px);
}

/* **********************our team style end************************ */
:root {
	--blue: #3498db;
}

.about-us {
	margin-top: 70px;
}

.about-button {
	margin-top: 5px;
	margin-bottom: 5px;
	display: block;
	box-sizing: border-box;
	appearance: none;
	background-color: #005daa;
	border: 2px solid #005daa;
	border-radius: 0.6em;
	cursor: pointer;
	font-size: 1rem;
	line-height: 1;
	padding: 1rem;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	color: #fff;
	transition: all 150ms ease-in-out;
}

.about-button:hover,
.about-button:focus {
	color: var(--blue);
	background-color: #fff;
	outline: 0;
}

.drop-down.about-button:hover,
.drop-down.about-button:focus {
	color: var(--blue);
	background-color: #fff;
	outline: 0;
}

.text {
	margin-top: 50px;
}

.blogs {
	background-color: #f0f0f0;
	padding: 20px 0px;
}

.blogs-sticker-holder {
	position: relative;
}

.sticker {
	position: absolute;
	color: var(--blue);
	opacity: 0.18;
	font-size: 10rem;
}

@media only screen and (max-width: 500px) {
	.sticker {
		font-size: 4rem;
	}
}

.sticker.fa-book {
	top: 0;
	left: 12%;
	transform: rotate(30deg);
}

.sticker.fa-pencil-alt {
	top: 0;
	right: 9%;
	transform: rotate(30deg);
}

.sticker.fa-file-alt {
	top: 50vh;
	right: 9%;
	transform: rotate(-251deg);
}

.sticker.fa-bookmark {
	top: 50vh;
	left: 9%;
	transform: rotate(-30deg);
}

/* .teams {
	padding: 20px;
	width: 100%;
    height: 100vh;
} */

.drop-down {
	color: #fff;
	background-color: #005daa;
	font-size: 1rem;
	font-weight: 700;
	width: 100%;
	padding: 17px 0;
	box-shadow: 3px 3px 30px rgba(118, 96, 168, 0.2);
	border-radius: 0.6rem;
	line-height: 1;
	display: flex;
	justify-content: center;
	column-gap: 1rem;
	align-items: baseline;
	cursor: pointer;
	transition: transform 0.2s ease, box-shadow 0.2s ease, color 0.2s ease;
	margin-bottom: 15px;
	margin-top: 5px;
}

.drop-down:hover {
	color: #fff;
	box-shadow: 7px 9px 20px rgb(64 56 85 / 15%);
}

.drop-down p {
	margin: 0;
}

.arrow {
	width: 13px;
	transition: transform 0.3s ease;
}

.arrow.open {
	transform: rotate(180deg);
}

.dropdown {
	position: relative;
	color: #e3dfe9;
	font-size: 18px;
	background: rgb(218 218 218);
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius: 15px;
	display: block;
	cursor: pointer;
	transform: scale(0.01);
	opacity: 0;
	transition: transform 0.3s ease, opacity 0.3s ease, box-shadow 0.3s ease 0.15s;
	transform-origin: center top;
	overflow: hidden;
}

.dropdown.open {
	transform: scale(1);
	opacity: 1;
	box-shadow: 3px 3px 30px rgba(118, 96, 168, 0.15);
}

.dropdown a {
	position: relative;
	color: #232127;
	text-decoration: none;
	display: block;
	padding: 12.5px 30px;
	transition: color 0.2s ease, background-color 0.2s ease, padding-left 0.2s ease;
	overflow: hidden;
	text-align: center;
}

.dropdown a.clicked {
	padding-left: 35px;
	color: #987cd9;
}

.dropdown a:hover {
	color: #413f46;
	padding-left: 35px;
}

.text-blue,
.footer-cta i::before {
	color: #005daa;
}

/* events section */
.announcement {
	padding-top: 20px;
	text-align: center;
	margin-top: -50px;
	margin-bottom: 5rem;
	background-color: rgb(255 255 255 / 49%);
	background-image: url('https://image.freepik.com/free-vector/confetti-background_53876-63965.jpg');
	background-blend-mode: lighten;
}

.announcement-carousel {
	overflow: hidden;
}

.detai {
	background-color: #cbe9ff;
	border-radius: 1rem;
	padding: 1rem;
	height: 100%;
}

.detai p {
	font-size: 16px;
	font-weight: 500;
	color: #5a5a5f;
}

.container-fluid.text {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 0;
	padding: 30px 0;
}

.timeout {
	font-size: 1rem;
	padding: 0.5rem 1rem;
	width: 80%;
	margin: auto;
	text-align: center;
	color: black;
	font-weight: 900;
	border-radius: 1rem;
	margin-top: 1rem;
}

.det {
	width: 100%;
	border-radius: 1rem;
	box-shadow: 2px 6px 1rem 0 #80808070;
	padding: 1rem;
	/* height: auto; */
}

@media only screen and (max-width: 775px) {
	.det {
		width: 100%;
	}

	.timeout {
		width: 100%;
	}

	.det h1 {
		font-size: 2rem;
	}
}

.det-row {
	text-align: center;
}

.divide {
	margin-top: 1rem;
}

.butn {
	text-align: center;
	transition: all 0.5s ease;
}

.list {
	display: flex;
	flex-direction: column;
	height: 100%;
	margin-top: 1rem;
	align-self: center;
}

.list div {
	flex: 1;
}

.det h1 {
	margin-top: 1rem;
	margin-bottom: 0;
	font-weight: 600;
	color: rgb(43, 42, 42);
	text-align: center;
}

.imag {
	width: 19rem;
	height: 17rem;
	border-radius: 1rem;
}

.countdown {
	font-size: 0.8rem;
	font-weight: 500;
	opacity: 0.7;
}

.mySwiper {
	width: 60vw;
	position: relative;
}

.announcement-button-group {
	display: flex;
	justify-content: space-evenly;
}

@media only screen and (max-width: 500px) {
	.mySwiper {
		width: 90vw;
	}

	.mySwiper .events-swiper-button-prev::after,
	.mySwiper .events-swiper-button-next::after {
		content: '' !important;
	}

	.announcement-button-group {
		flex-direction: column;
	}

	.mobile-head {
		font-size: 3rem;
	}
}

.mySwiper .swiper-wrapper {
	width: 100%;
}

.mySwiper .swiper-slide {
	width: 100% !important;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 18px;
	font-size: 22px;
	font-weight: bold;
	color: #fff;
	background-color: #fff;
}

.mySwiper .events-swiper-button-prev {
	position: absolute;
	top: calc(50% - 3.2rem);
	left: -18vw;
	z-index: 100;
}

.mySwiper .events-swiper-button-next {
	position: absolute;
	top: calc(50% - 3.2rem);
	right: -18vw;
	z-index: 100;
}

.mySwiper .events-swiper-button-prev::after {
	font-family: 'Font Awesome 5 Free';
	content: '\f053';
	font-size: 3.2rem;
	color: #00b8d1;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}

.mySwiper .events-swiper-button-next::after {
	font-family: 'Font Awesome 5 Free';
	content: '\f054';
	font-size: 3.2rem;
	color: #00b8d1;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}

.events-button-disabled::after {
	content: '' !important;
}

/* event section ends */

.contact-bottom-btn {
	position: fixed;
	bottom: 20px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 1px 1px 5px #606365;
	display: block;
	z-index: 200;
}

@media screen and (max-width: 375px) {
	.contact-bottom-btn {
		right: 16px;
	}
}

.contact-icon {
	cursor: pointer;
	font-size: 30px;
	text-align: center;
	color: #005daa;
}

/* scroll to top  */

.scrolltop {
	position: fixed;
	bottom: 80px;
	right: 20px;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 1px 1px 5px #606365;
	display: none;
	z-index: 200;
}

.scrolltop .icon {
	cursor: pointer;
	font-size: 30px;
	text-align: center;
	transform: rotate(-45deg);
	margin-top: 5px;
	color: #005daa;
}

@media screen and (max-width: 375px) {
	.scrolltop {
		right: 16px;
	}
}

.our-team-area {
	padding-top: 20px;
}

.our-team-text {
	padding-bottom: 60px;
}

.our-team-text h1 {
	font-weight: 600;
	font-size: 34px;
	margin-bottom: 70px;
}

.our-team-box {
	position: relative;
	width: 200px;
	text-align: center;
	margin-bottom: 60px;
}

.our-team-row {
	row-gap: 80px;
}

.our-team-sir {
	row-gap: 80px;
	flex-direction: column;
	margin-bottom: 80px;
}

.our-team {
	display: flex;
	justify-content: center;
	align-items: center;
}

.our-team-right,
.social,
.our-team-left {
	display: flex;
	justify-content: center;
	align-items: center;
}

.our-team-right,
.our-team-left {
	width: 150px;
	height: 150px;
	border-radius: 50%;
	transition: 0.5s;
	background: transparent;
	z-index: 1;
}

.social {
	height: 45px;
	width: 45px;
	border-radius: 50%;
	position: absolute;
	background-color: #fff;
	box-shadow: 1px 1px 5px #606365;
	z-index: -1;
}

.our-team-right img {
	width: inherit;
	box-shadow: 1px 1px 5px #606365;
	border-radius: 50%;
	max-width: 100%;
	max-height: 100%;
}

.our-team-left img {
	width: inherit;
	box-shadow: 1px 1px 5px #606365;
	border-radius: 50%;
	max-height: 100%;
}

.our-team-left:hover {
	padding: 10px;
	/* width: auto; */
}

.our-team-right:hover {
	padding: 20px;
}

.our-team-box:hover .social {
	transition: 0.5s;
}

.our-team-right:hover .social:nth-child(1) {
	transition: 0.5s;
	transform: rotate(0deg) translateY(-100px);
}

.our-team-left .name {
	position: absolute;
	z-index: -1;
	color: #ffffff;
	opacity: 0;
}

.our-team-right .name {
	position: absolute;
	z-index: -1;
	color: #ffffff;
	opacity: 0;
}

.our-team-left:hover .name {
	width: max-content;
	color: black;
	transition: 0.5s;
	opacity: 1;
	transform: translateY(110px);
}

.our-team-right:hover .name {
	color: black;
	transition: 0.5s;
	opacity: 1;
	transform: translateY(110px);
}

.social a i {
	transition: 0.5s;
}

.our-team-box img {
	border: 10px solid #2fd3ee;
	width: 200px;
	height: 200px;
}

.t-overlay {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #2fd3ee;
	overflow: hidden;
	width: auto;
	height: 0;
	transition: 0.5s ease;
}

.our-team-box:hover .t-overlay {
	height: 100%;
}

.fadddd {
	color: rgb(255, 255, 255);
	font-size: 16px;
}

.fac-icon i {
	visibility: hidden;
}

.icons i {
	margin: 6px;
	font-size: 20px;
	border-radius: 5px;
}

.icons {
	color: white;
	font-size: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.icons a {
	color: white;
}

.text-area1 {
	color: white;
	font-size: 2px;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	text-align: center;
}

.margin-media {
	margin-left: '';
}

/* @media screen and (min-width: 320px) {
	.margin-media {
		margin-left: 35px;
	}
}
@media screen and (min-width: 520px) {
	.margin-media {
		margin-left: 90px;
	}
}
@media screen and (min-width: 620px) {
	.margin-media {
		margin-left: 120px;
	}
} */
@media screen and (min-width: 991px) {
	.margin-media {
		margin-left: 50px;
	}
}

.contactUs {
	background-color: white;
	padding: 15px;
	border-radius: 0 10px 10px 0;
}

.about-text {
	font-size: 1.2rem;
}

@media screen and (max-width: 796px) {
	.contactUs {
		border-radius: 10px;
	}
}

.contact-btn {
	margin: 10px 0px 0px 12px;
}

.contact-msg {
	display: flex;
	justify-content: space-around;
}

.contact-btn:hover {
	color: white;
}

.contact-message {
	border: 1px solid #ced4da;
	border-radius: 5px;
	resize: none;
}

@media (max-width: 500px) {
	.about-us {
		margin-top: 120px;
	}

	.about-text {
		font-size: 1.1rem;
	}

	.about-us>div .text {
		margin-top: -10px;
	}

	.announcement {
		margin-top: -100px;
	}

	.icons {
		margin-left: 12px;
		margin-right: 12px;
	}

	.contactUs {
		margin: auto;
	}

	.contact-btn {
		width: 50%;
		margin: auto;
	}

	.b-card img {
		width: 275px;
		height: 200px;
	}

	.b-card .b-infos {
		width: 250px;
	}

	.blog-mobile-btn {
		width: 60%;
		margin: auto;
		margin-top: -60px;
	}

	.team-mobile-btn {
		width: 60%;
		margin: auto;
	}

	.det .heading h1 {
		font-size: 20px;
	}

	.contact-btn {
		margin-top: 5px;
	}

	.contact-btn i {
		margin-left: -5px;
	}

	.imag {
		width: 18rem;
	}

	#typewriter {
		top: calc(50% - 3rem);
		left: 0;
		width: 100vw;
	}

	.typewriter-box {
		font-size: 1.5rem;
	}

	.typewriter-box::after {
		bottom: 0.2rem;
		height: 1.5rem;
	}

	.footer-logo .img-secondary {
		max-width: 300px;
	}

	.b-card-container {
		margin-top: 50px;
	}
}

.tag {
	opacity: 0;
	transform: translate(0, 10vh);
	transition: all 2s;
}

.tag.visible {
	opacity: 1;
	transform: translate(0, 0);
}

.middle {
	transition: 0.5s ease;
	opacity: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	text-align: center;
}

.texttt {
	background-color: #04aa6d;
	color: white;
	font-size: 16px;
	padding: 16px 32px;
}

.t-overlay .icons {
	width: 100%;
}

/* socail bar style************************************ */
/* @import '//codepen.io/chrisdothtml/pen/ojLzJK.css'; */
.social-btns .btn,
.social-btns .btn:before,
.social-btns .btn .fa {
	transition: all 0.5s;
	transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59);
}

.social-btns .btn:before {
	top: 90%;
	left: -110%;
}

.social-btns .btn .fa {
	transform: scale(0.8);
}

.social-btns .btn.facebook:before {
	background-color: #3b5998;
}

.social-btns .btn.facebook .fa {
	color: #3b5998;
}

.social-btns .btn.linkedin:before {
	background-color:  #0072b1;
}

.social-btns .btn.linkedin .fa {
	color:  #0072b1;
}

.social-btns .btn.instagram:before {
	background-color: #f26798;
}

.social-btns .btn.instagram .fa {
	color: #f26798;
}

.social-btns .btn.discord .fab {
	color: #5865F2;
}

.social-btns .btn.discord:before {
	background-color: #5865F2;
}

.social-btns .btn.skype:before {
	background-color: #00aff0;
}

.social-btns .btn.skype:hover {
	cursor: inherit;
}

.social-btns .btn.skype .fa {
	color: #00aff0;
}

.social-btns .btn:focus:before,
.social-btns .btn:hover:before {
	top: -10%;
	left: -10%;
}

.social-btns .btn:focus .fa,
.social-btns .btn:hover .fa,
.social-btns .btn:focus .fab,
.social-btns .btn:hover .fab {
	color: #fff;
	transform: scale(1);
}

.social-btns {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-top: 20px;
	text-align: center;
}

.social-btns .btn {
	display: inline-block;
	background-color: #fff;
	width: 120px;
	height: 120px;
	line-height: 105px;
	margin: 0 0px;
	text-align: center;
	position: relative;
	overflow: hidden;
	border-radius: 28%;
	box-shadow: 0 0 15px 5px rgba(0, 0, 0, 0.1);
	opacity: 0.99;
}

.social-btns .btn:before {
	content: '';
	width: 120%;
	height: 120%;
	position: absolute;
	transform: rotate(45deg);
}

.social-btns .btn .fa,.social-btns .btn .fab {
	font-size: 70px;
	vertical-align: middle;
}

.try1 {
	padding-right: 30px;
	padding-left: 30px;
}

.write {
	border-radius: 5px;
	padding: 20px 0px;
	/* box-shadow: 2px 2px 5px #00000075; */
	color: black;
	/* transition: all 0.5s;
  transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59); */
}

.write:hover {
	/* background-color:#00aff0 ; */
	color: rgb(0, 0, 0);
	transition: all 0.3s;
	/* transition-timing-function: cubic-bezier(0.31, -0.105, 0.43, 1.59); */
}

.gratext {
	color: gray;
	font-size: 16px;
	margin-top: 0;
}

.sob-heading {
	margin-bottom: 1px;
	font-family: 'math';
}

.team-mobile-btn {
	margin-top: -40px;
}

@media (min-width: 768px) and (max-width: 1024px) {
	.imag {
		width: 11rem;
		height: 11rem;
	}
	.text-head1{
		color:#0092cf
	}
}

@media (min-width: 500px) and (max-width: 767px) {
	.imag {
		margin: auto;
	}
	.text-head1{
		color:black
	}
}

.form-row {
	justify-content: space-evenly;
}

.fw-bolder {
	font-weight: 700;
}


.alumini-content {
	font-family: "Poppins", sans-serif;
	padding: 0px 0;
}

.alumini-content .header-section {
	margin-bottom: 50px;
}

.alumini-content p,a,h1,h2,h3,h4 {
	margin: 0;
	padding: 0;
}

.alumini-content .single-person {
	margin-top: 30px;
	padding: 30px;
	background-color: #f6f9ff;
	border-radius: 5px;
	height: 430px;
	margin-right: 30px;
}

.alumini-content .single-person:hover {
	background: linear-gradient(to right, #016cec, #00b5f7);
}

.alumini-content .single-person .person-image {
    position: relative;
    margin-bottom: 50px;
    border-radius: 50%;
    border: 4px dashed transparent;
    transition: padding .3s;
}

.alumini-content .single-person:hover .person-image {
	padding: 12px;
    border: 4px dashed #fff;
}

.alumini-content .single-person .person-image img {
	width: 100%;
    border-radius: 50%;
}

.alumini-content .single-person .person-image .icon {
	position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%,50%);
    display: inline-block;
    width: 60px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(to right, #016cec, #00b5f7);
    color: #fff;
    border-radius: 50%;
    font-size: 24px;
}

.alumini-content .single-person:hover .person-image .icon {
	background: none;
	background-color: #fff;
	color: #016cec;
}

.alumini-content .single-person .person-info .full-name {
	margin-bottom: 10px;
	font-size: 28px;
    font-weight: 700;
}

.alumini-content .single-person .person-info .speciality {
    text-transform: uppercase;
    font-size: 14px;
    color: #016cec;
}

.alumini-content .single-person:hover .full-name,
.alumini-content .single-person:hover .speciality {
	color: #fff;
}

.text-head {
	color:#0092cf;
}

.btn-theme {
	background-color: #005daa;
	border-color: #005daa;
}

.text-sp {
	color: #005daa;
}