@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");

@font-face {
  font-family: myFont;
  src: url(../../upload/projects/norwester.otf);
}



body {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  margin-left: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

.team_heading h2 {
    border-top: solid;
    padding-top: 2%;
    border-color: #46aff5;
}

.post {
  display: flex;
  flex-direction: column;
  padding: 2%;
  padding-bottom: 0 !important;
}



.post-content{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}
.post-text{
  overflow-wrap: anywhere;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
}



.post-content img {
  width: 450px;
  height: auto;
  padding: 10px;
  align-items: flex-end;
  /* margin-top: 40px; */
  margin-bottom: 2%;
}
.post-content h1{
  font-size: 2rem;
  font-weight: bold;
  /* margin-top: 6%; */
  /* font-family: myFont !important; */
  /* font-variant: small-caps; */
}
#contributors{
    font-family: myFont;
}

.post-content a{
  position: relative;
}


.middleBtn{
  /* position: absolute; */
  margin-top: 4%;
  min-width: 40%;
}


@media (max-width: 850px) {
  .post-content {
    display: flex;
    flex-direction: column-reverse;
  }
  .post-content img{
    max-width: 100%;
  }
  #row1{
    margin:4%;
  }
  .post-text{
    align-items: center;
    text-align: center;
  }
  .heading{
    font-size: 1.5rem;
    padding-top: 3%;
  }
}

.about-button {
  margin-top: 5px;
  margin-bottom: 5px;
  display: block;
  box-sizing: border-box;
  appearance: none;
  background-color: #005daa;
  border: 2px solid #005daa;
  border-radius: 0.6em;
  cursor: pointer;
  font-size: 1rem;
  line-height: 1;
  padding: 1rem;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  transition: all 150ms ease-in-out;
}


@media (max-width: 850px) {
    .post-content {
      display: flex;
      flex-direction: column-reverse;
    }
}
  
.about-button:hover,
.about-button:focus {
	color: var(--blue);
	background-color: #fff;
	outline: 0;
}

a:hover{
  text-decoration: none;
}

#row1 {
  padding: 2%;
  background: rgba(203, 233, 255, 1);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(12.1px);
  -webkit-backdrop-filter: blur(12.1px);
  border: 1px solid rgba(203, 233, 255, 0.81);
  width: 100%;
}


.profile-card {
  position: relative;
  font-family: sans-serif;
  width: 180px;
  height: 215px;
  background: #46aff5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 4px 1px 20px 0px rgb(71 71 71 / 40%);
  transition: 0.6s;
  margin-top: 25px;
  margin-right: 25px;
  margin-bottom: 60px;
  margin-left: 25px;
}
.profile-card .img {
  text-align: center;
  margin: 0;
  padding: 0;
  position: relative;
  width: 120px;
  height: 120px;
  transition: 0.6s;
  z-index: 99;
  transform: translateY(-60px);
}

.profile-card img{
  height: 100%;
  /* width: 100%; */
  border-radius: 10px;
  box-shadow: 2px 6px 22px #46aff5;
  transition: 0.6s;
}
.caption {
  text-align: center;
  margin-top: 47px;
  transform: translateY(-100px);
  opacity: 1;
  transition: 0.6s;
}
.caption h3 {
    color: black;
  font-size: 17px;
  font-weight: bold;
  font-family: sans-serif;
}

.caption p {
  font-size: 13px;
  color: #ffffff;
  font-family: sans-serif;
  margin: 2px 0 9px 0;
}

@media (min-width: 350px) and (max-width: 1200px) {
    .footer-info {
      display: flex;
      flex-direction: column !important;
    }
}

.social-links{
  display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-secondary{
  max-width: 100%;
}