@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');

/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  font-family: 'Lato', sans-serif;
}

h2, h3, h4, h5 {
  font-family: 'Poppins', sans-serif;
}

.section-heading{
  color:#4169E1;
  font-weight: bold;
  font-size: 2.7rem;
  display:inline-block;
}

.form-input-boxes-manual{
  box-shadow: 0.5px 0.7px 2.5px #4169E1;
}

.parallax-section {
  background-attachment: fixed !important;
}

.btn-capsul {
  border-radius: 30px;
}

.btn-aqua {
  background: #0297FF;
  color: #fff;
}

.btn-aqua:hover {
  background: #10629b;
  color: #fff;
}

.btn-dark-blue {
  background: #0C242E;
  color: #fff;
}

.m-b-50 {
  margin-bottom: 50px !important;
}

.btn-dark-blue:hover {
  background: #063d28;
  color: #fff;
}

.btn-transparent-white {
  border: 2px solid #fff;
  color: #fff;
}

.btn-transparent-white:hover, .btn-transparent-white:focus {
  background: #fff;
  color: #0297FF
}

.relative-box {
  position: relative
}

section {
  float: left;
  width: 100%;
  padding: 40px 0;
}

/* TOP HEADER
-------------------------------------------------- */
.navbar.top-bar {
  border-radius: 0;
  padding: 16px 0;
  z-index: 16;
}

.navbar-toggler {
  border: 1px solid #fff;
  color: #fff;
  position: absolute;
  right: 21px;
}

.sps {
  padding: 1em .5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: transparent;
  color: #000;
}

.sps--blw {
  background-color: #fff;
  color: #fff;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.top-bar a.navbar-brand {
  color: #fff;
  font-size: 26px;
  font-weight: 1000;
  padding: 5px 0 0 10px;
  text-transform: uppercase;
}

.sps--blw.top-bar a.navbar-brand {
  color: #000;
}

.top-bar a.navbar-brand span {
  color: #0297ff;
}

.top-bar .nav-link {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 18px !important;
}

.sps--blw.top-bar .nav-link {
  color: #000
}

.top-bar .navbar-nav .nav-item {
  margin: 0
}

.top-bar .nav-link:hover, .top-bar .nav-item.active a {
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

.sps--blw.top-bar .nav-link:hover, .sps--blw.top-bar .nav-item.active a {
  color: #0297ff;
  border-bottom: none;
  border-radius: 0;
}

/* CUSTOMIZE THE CAROUSEL
-------------------------------------------------- */
/*Swiper*/
.swiper-container {
  width: 100%;
}

.top-header > .swiper-container{
  height: 80vh;
}
.swiper-slide {
  text-align: center;
  font-size: 14px;
  font-weight: bolder !important;
  padding-bottom: 50px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: flex-end;
}

.main-slider .slider-bg-position {
  background-size: cover !important;
  /* background-position: center center !important; */
}

.main-slider .swiper-button-prev, .main-slider .swiper-button-next {
  background-image: none !important;
  color: #fff;
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
}

.main-slider h2 {
  color: #fff;
  font-size: 54px;
  line-height: 59px;
  padding: 0 19%;
  text-transform: uppercase;
}

.main-slider .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.9)
}

.main-slider .swiper-pagination-bullet-active {
  background: #0297ff
}

/* SERVICE SECTION
-------------------------------------------------- */
.service-sec .heading {
  float: left;
  width: 100%;
  margin-bottom: 70px;
  text-align: center;
}

.service-sec h2 {
  display: block;
  text-transform: capitalize;
  font-weight: 600;
  color: #0297FF;
  font-size: 32px;
}

.p-t-150 {
  padding-top: 150px !important;
}
.p-b-150 {
  padding-bottom: 150px !important;
}
.m-b-30 {
  margin-bottom: 30px !important;
}
.p-b-80 {
  padding-bottom: 80px !important;
}
.p-t-80 {
  padding-top: 80px !important;
}
.service-sec h2 small {
  color: #222;
  display: block;
  font-size: 22px;
  margin-bottom: 18px;
}

.service-sec i {
  border: 1px solid #0297FF;
  border-radius: 2px;
  font-size: 25px;
  padding: 12px 0;
  width: 52px;
  color: #0297FF;
  margin-bottom: 20px
}

.service-sec h3 {
  font-size: 23px;
  font-weight: 600;
}

.service-sec p {
  line-height: 22px;
  margin-top: 13px;
  padding: 0 21px;
}

.service-sec .service-block {
  margin-top: 30px;
}

/* ABOUT SECTION
-------------------------------------------------- */
.about-sec {
  background: url('http://grafreez.com/wp-content/temp_demos/burnout/img/para-01.jpg') no-repeat center center;
  background-size: cover;
  color: #fff;
  position: relative;
}

.about-sec:before {
  content: ' ';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(22, 122, 192, 0.8);
  top: 0;
  left: 0
}

.about-sec h2 {
  font-size: 55px;
  font-weight: 800;
  margin-top: 25%;
}

.about-sec h2 small {
  display: block;
  font-size: 24px;
  margin-bottom: 15px;
  padding-left: 10px;
}

.about-sec p {
  font-size: 16px;
}

.action-sec {
  width: 100%;
  float: left;
  background: #222
}

.action-box {
  float: left;
  width: 100%;
  text-align: center;
}

.action-box h2 {
  color: #fff;
  font-size: 20px;
}

/**
 * Swiper 3.4.0
 * Most modern mobile touch slider and framework with hardware accelerated transitions
 *
 * http://www.idangero.us/swiper/
 *
 * Copyright 2016, Vladimir Kharlampidi
 * The iDangero.us
 * http://www.idangero.us/
 *
 * Licensed under MIT
 *
 * Released on: October 16, 2016
 */
.swiper-container {
  margin-left: auto;
  margin-right: auto;
  position: relative;
  overflow: hidden;
  z-index: 1
}

.swiper-container-no-flexbox .swiper-slide {
  float: left
}

.swiper-container-vertical>.swiper-wrapper {
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box
}

.swiper-container-android .swiper-slide, .swiper-wrapper {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -o-transform: translate(0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0)
}

.swiper-container-multirow>.swiper-wrapper {
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap
}

.swiper-container-free-mode>.swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  margin: 0 auto
}

.swiper-slide {
  -webkit-flex-shrink: 0;
  -ms-flex: 0 0 auto;
  flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative
}

.swiper-container-autoheight, .swiper-container-autoheight .swiper-slide {
  height: auto
}

.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
  -ms-flex-align: start;
  -webkit-align-items: flex-start;
  align-items: flex-start;
  -webkit-transition-property: -webkit-transform, height;
  -moz-transition-property: -moz-transform;
  -o-transition-property: -o-transform;
  -ms-transition-property: -ms-transform;
  transition-property: transform, height
}

.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000
}

.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
  touch-action: pan-y
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
  touch-action: pan-x
}

.swiper-button-next, .swiper-button-prev {
  position: absolute;
  top: 50%;
  width: 27px;
  height: 44px;
  margin-top: -22px;
  z-index: 10;
  cursor: pointer;
  -moz-background-size: 27px 44px;
  -webkit-background-size: 27px 44px;
  background-size: 27px 44px;
  background-position: center;
  background-repeat: no-repeat
}

.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none
}

.swiper-button-prev, .swiper-container-rtl .swiper-button-next {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  left: 10px;
  right: auto
}

.swiper-button-prev.swiper-button-black, .swiper-container-rtl .swiper-button-next.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-prev.swiper-button-white, .swiper-container-rtl .swiper-button-next.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next, .swiper-container-rtl .swiper-button-prev {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23007aff'%2F%3E%3C%2Fsvg%3E");
  right: 10px;
  left: auto
}

.swiper-button-next.swiper-button-black, .swiper-container-rtl .swiper-button-prev.swiper-button-black {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23000000'%2F%3E%3C%2Fsvg%3E")
}

.swiper-button-next.swiper-button-white, .swiper-container-rtl .swiper-button-prev.swiper-button-white {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23ffffff'%2F%3E%3C%2Fsvg%3E")
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 10
}

.swiper-pagination.swiper-pagination-hidden {
  opacity: 0
}

.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 10px;
  left: 0;
  width: 100%
}

.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: .2
}

button.swiper-pagination-bullet {
  border: none;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -webkit-appearance: none;
  appearance: none
}

.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer
}

.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff
}

.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff
}

.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000
}

.swiper-container-vertical>.swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0, -50%, 0);
  -moz-transform: translate3d(0, -50%, 0);
  -o-transform: translate(0, -50%);
  -ms-transform: translate3d(0, -50%, 0);
  transform: translate3d(0, -50%, 0)
}

.swiper-container-vertical>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block
}

.swiper-container-horizontal>.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px
}

.swiper-pagination-progress {
  background: rgba(0, 0, 0, .25);
  position: absolute
}

.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
  -webkit-transform-origin: left top;
  -moz-transform-origin: left top;
  -ms-transform-origin: left top;
  -o-transform-origin: left top;
  transform-origin: left top
}

.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
  -moz-transform-origin: right top;
  -ms-transform-origin: right top;
  -o-transform-origin: right top;
  transform-origin: right top
}

.swiper-container-horizontal>.swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0
}

.swiper-container-vertical>.swiper-pagination-progress {
  width: 4px;
  height: 60%;
  left: 0;
  top: 0
}

a{
  color: inherit;
}

ul{
  list-style-type: none;
  margin-left: 0;
  padding-left: 0;
}

.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255, 255, 255, .5)
}

.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff
}

.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000
}

.swiper-container-3d {
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px
}

.swiper-container-3d .swiper-cube-shadow, .swiper-container-3d .swiper-slide, .swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top, .swiper-container-3d .swiper-wrapper {
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transform-style: preserve-3d
}

.swiper-container-3d .swiper-slide-shadow-bottom, .swiper-container-3d .swiper-slide-shadow-left, .swiper-container-3d .swiper-slide-shadow-right, .swiper-container-3d .swiper-slide-shadow-top {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10
}

.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-gradient(linear, right top, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, .5)), to(rgba(0, 0, 0, 0)));
  background-image: -webkit-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -moz-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: -o-linear-gradient(top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0));
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
}

.swiper-container-coverflow .swiper-wrapper, .swiper-container-flip .swiper-wrapper {
  -ms-perspective: 1200px
}

.swiper-container-cube, .swiper-container-flip {
  overflow: visible
}

.swiper-container-cube .swiper-slide, .swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  z-index: 1
}

.swiper-container-cube .swiper-slide .swiper-slide, .swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-active .swiper-slide-active, .swiper-container-flip .swiper-slide-active, .swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-container-cube .swiper-slide-shadow-bottom, .swiper-container-cube .swiper-slide-shadow-left, .swiper-container-cube .swiper-slide-shadow-right, .swiper-container-cube .swiper-slide-shadow-top, .swiper-container-flip .swiper-slide-shadow-bottom, .swiper-container-flip .swiper-slide-shadow-left, .swiper-container-flip .swiper-slide-shadow-right, .swiper-container-flip .swiper-slide-shadow-top {
  z-index: 0;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden
}

.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  transform-origin: 0 0;
  width: 100%;
  height: 100%
}

.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
  -moz-transform-origin: 100% 0;
  -ms-transform-origin: 100% 0;
  transform-origin: 100% 0
}

.swiper-container-cube .swiper-slide-active, .swiper-container-cube .swiper-slide-next, .swiper-container-cube .swiper-slide-next+.swiper-slide, .swiper-container-cube .swiper-slide-prev {
  pointer-events: auto;
  visibility: visible
}

.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .6;
  -webkit-filter: blur(50px);
  filter: blur(50px);
  z-index: 0
}

.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
  -moz-transition-timing-function: ease-out;
  -ms-transition-timing-function: ease-out;
  -o-transition-timing-function: ease-out;
  transition-timing-function: ease-out
}

.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  -moz-transition-property: opacity;
  -o-transition-property: opacity;
  transition-property: opacity
}

.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none
}

.swiper-container-fade .swiper-slide-active, .swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto
}

.swiper-zoom-container {
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -moz-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  text-align: center
}

.swiper-zoom-container>canvas, .swiper-zoom-container>img, .swiper-zoom-container>svg {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain
}

.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  -ms-touch-action: none;
  background: rgba(0, 0, 0, .1)
}

.swiper-container-horizontal>.swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%
}

.swiper-container-vertical>.swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%
}

.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0, 0, 0, .5);
  border-radius: 10px;
  left: 0;
  top: 0
}

.swiper-scrollbar-cursor-drag {
  cursor: move
}

.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
  -moz-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  -moz-animation: swiper-preloader-spin 1s steps(12, end) infinite;
  animation: swiper-preloader-spin 1s steps(12, end) infinite
}

.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  -webkit-background-size: 100%;
  background-size: 100%;
  background-repeat: no-repeat
}

.m-t-20 {
  margin-top: 20px !important; }

  .text-box {
    padding: 40px;
    text-align: center;
    transition: background 0.4s ease 0s;
    cursor: pointer; }
    .text-box i {
      font-size: 42px;
      margin: 30px 0 20px; }
    .text-box i {
      color: #fff;
      transition: all 0.4s ease 0s; }
    .text-box h3,
    .text-box h5,
    .text-box p {
      font-weight: 100;
      color: #fff;
      transition: all 0.4s ease 0s; }
    .text-box:hover {
      background: #eeeeee; }
      .text-box:hover i,
      .text-box:hover h3,
      .text-box:hover h5,
      .text-box:hover p {
        color: #333; }
    .text-box.text-box-light {
      border: 1px solid #d9d9d9;
      background: #fff; }
      .text-box.text-box-light i,
      .text-box.text-box-light h3,
      .text-box.text-box-light h5,
      .text-box.text-box-light p {
        color: #1f1f1f; }
      .text-box.text-box-light:hover {
        background: #2250fc; }
        .text-box.text-box-light:hover i,
        .text-box.text-box-light:hover h3,
        .text-box.text-box-light:hover h5,
        .text-box.text-box-light:hover p {
          color: #fff; }
    .text-box.hover-effect {
      padding: 30px 30px 10px 30px; }
      .text-box.hover-effect i {
        margin: 90px 0 20px; }
      .text-box.hover-effect p {
        opacity: 0; }
      .text-box.hover-effect:hover i {
        margin: 70px 0 6px 0; }
      .text-box.hover-effect:hover p {
        opacity: 1; }

  /* ----------------------------------------------------------------
      Featured Boxes
  -----------------------------------------------------------------*/
  .feature-box {
    background-color: #fff;
    margin-bottom: 0px;
    padding: 44px;
    border-radius: 4px;
    background-clip: padding-box;
    box-shadow: 0 7px 20px -10px rgba(171, 171, 171, 0.7);
    transition: all 0.55s ease;
    text-align: center;
    min-height: 250px; }
    .feature-box.feature-box-transparent {
      background-color: transparent;
      box-shadow: none; }
      .feature-box.feature-box-transparent:hover {
        background-color: #fff; }
    .feature-box > i {
      font-size: 46px;
      margin-bottom: 20px; }
    .feature-box:hover {
      transform: translateY(-10px);
      box-shadow: 0 10px 50px -12px rgba(171, 171, 171, 0.9); }
      .feature-box:hover h2,
      .feature-box:hover h3,
      .feature-box:hover h4 {
        color: #2250fc; }
    .feature-box h2,
    .feature-box h3,
    .feature-box h4 {
      font-size: 14px;
      text-transform: uppercase;
      transition: all 0.33s;
      margin-top: 0px;
      margin-bottom: 10px; }
    .feature-box p {
      font-size: 14px;
      margin-bottom: 0; }

  .col-lg-2 .feature-box p {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 18px;
    opacity: 0.8; }
    .text-small {
      font-size: 16px;
      font-weight: 800;
      line-height: 1.1; }
      #widget-contact-form {
        clear: left; }

.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
}


.form-group {
  margin-bottom: 20px; }

.form-group label:not(.error) {
  font-size: 12px;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  font-weight: 600;
  margin-bottom: 4px;
  color: #444; }

.form-inline button {
  margin: 0px; }

.form-group > label {
  display: block; }

.has-feedback label ~ .form-control-feedback {
  top: 44px; }

.form-gray-fields .form-control {
  background-color: rgba(238, 238, 238, 0.6);
  border-color: transparent;
  color: #333; }
  .form-gray-fields .form-control:focus {
    background-color: #eee; }

.form-transparent-fields .form-control {
  background-color: rgba(0, 0, 0, 0.4);
  border-color: rgba(0, 0, 0, 0.4); }
  .form-transparent-fields .form-control:focus {
    background-color: rgba(0, 0, 0, 0.7); }

.form-transparent-light-fields .form-control {
  background-color: rgba(255, 255, 255, 0.06);
  border-color: rgba(255, 255, 255, 0.1); }
  .form-transparent-light-fields .form-control:focus {
    background-color: rgba(255, 255, 255, 0.7); }

label.error {
  color: #b71828;
  display: none !important;
  font-weight: 400; }

.form-control.error,
.sm-form-control.error {
  border-color: #b71828; }

.form-control.error {
  color: #b71828; }
.form-control::-moz-placeholder, .form-control::-ms-input-placeholder, .form-control::-webkit-input-placeholder {
  color: #bbbbbb; }

input[type="color"] {
  width: 100%;
  height: 100%;
  min-height: 3px;
  padding: 0;
  border: 0px;
  cursor: pointer; }
  input[type="color"]:focus {
    box-shadow: none; }

/*form select*/
select.form-control:not([size]):not([multiple]) {
  height: 40px; }

select {
  width: 100%;
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  appearance: none !important;
  background-image: url(../images/dropdown-arrow.png) !important;
  background-repeat: no-repeat !important;
  background-position: right center !important; }

select[multiple] {
  background-image: none; }

.order-select > h6 {
  margin-bottom: 0; }
.order-select p {
  font-size: 13px; }

.button-search {
  background-color: #fff;
  border-color: #e9e9e9 #e9e9e9 #e9e9e9;
  border-style: solid;
  border-width: 1px 1px 1px 0 !important;
  box-shadow: none;
  margin-left: -6px !important;
  z-index: 2 !important; }

/* ----------------------------------------------------------------------
 Reservation form
-------------------------------------------------------------------------*/
.reservation-form-over {
  top: -80px;
  z-index: 10;
  margin-bottom: -80px;
  overflow: inherit; }

.reservation-form {
  background-color: #fff;
  border-radius: 3px;
  border: 1px solid #eee;
  min-height: 160px;
  padding: 30px;
  position: relative;
  z-index: 9999 !important; }
  .reservation-form label {
    color: #555; }
  .reservation-form input,
  .reservation-form select {
    border: 0px;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid #ececec;
    width: 100%; }
  .reservation-form .date input {
    border-radius: 4px 0 0 4px;
    border-width: 2px 0 2px 2px; }
  .reservation-form .input-group-addon {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #fff !important;
    border-color: #ddd;
    border-image: none;
    border-style: solid;
    border-width: 2px 2px 2px 0; }
  .reservation-form input,
  .reservation-form select {
    color: #555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 8px 14px;
    width: 100%; }

/*reservation form style 2*/
#book {
  background-color: rgba(0, 0, 0, 0.4);
  border: 10px solid rgba(255, 255, 255, 0.2);
  border-radius: 3px;
  padding: 40px; }
  #book label {
    color: #fff; }
  #book .date input {
    border-radius: 4px 0 0 4px; }
  #book input,
  #book select {
    color: #555;
    display: block;
    font-size: 15px;
    line-height: 1.42857;
    padding: 8px 14px;
    width: 100%; }
  #book .input-group-addon {
    background-color: #fff !important;
    border: 0 none; }
  #book input,
  #book select {
    border: 0 none; }

/* Fixes */
.widget .input-group-text {
  height: 40px; }

.list-group input[type="radio"] {
  display: none; }

.list-group input[type="radio"] + .list-group-item {
  cursor: pointer; }

.list-group input[type="radio"]:checked + .list-group-item {
  background-color: #f6f9fa; }

  #search {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #fff;
    line-height: normal;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.5s; }
    #search #search-logo {
      top: -1px;
      left: 30px;
      opacity: 0;
      transition: opacity 0.5s;
      position: absolute;
      line-height: 80px;
      height: 80px; }
      #search #search-logo img {
        width: 100%;
        height: 100%; }
    #search .search-form {
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
      transition: opacity 0.5s, transform 0.5s;
      margin: 80px 0; }
      #search .search-form .text-muted {
        opacity: .4; }
      #search .search-form .form-control {
        border-width: 0px 0px 2px 0px;
        border-radius: 0px;
        font-size: 34px;
        padding: 10px 0;
        border-color: #cecece;
        font-family: "Poppins", "Helvetica", "Arial", sans-serif;
        font-weight: 700;
        margin-bottom: 20px;
        background-color: transparent; }
        #search .search-form .form-control:focus {
          background-color: transparent; }
        #search .search-form .form-control:-webkit-input-placeholder {
          color: #cecece; }
        #search .search-form .form-control:-moz-placeholder {
          color: #cecece; }
        #search .search-form .form-control:-ms-input-placeholder {
          color: #cecece; }
    #search .btn-search-close {
      font-size: 2em;
      position: absolute;
      top: 20px;
      right: 30px;
      display: none;
      padding: 12px;
      line-height: 12px;
      background-color: #2250fc;
      border: 0;
      cursor: pointer;
      border-radius: 5px;
      color: #fff;
      opacity: 0;
      transform: scale3d(0.8, 0.8, 1);
      transition: opacity 0.5s, transform 0.5s; }
    #search .search-suggestion-wrapper {
      display: flex;
      width: 60%; }
      #search .search-suggestion-wrapper .search-suggestion {
        width: 33.33%;
        text-align: left;
        opacity: 0;
        transform: translate3d(0, -30px, 0);
        transition: opacity 0.5s, transform 0.5s; }
        #search .search-suggestion-wrapper .search-suggestion:nth-child(2) {
          margin: 0 3em; }
        #search .search-suggestion-wrapper .search-suggestion h3 {
          font-size: 1.35em;
          margin: 0 0 12px 0; }
          #search .search-suggestion-wrapper .search-suggestion h3::before {
            content: '\21FE';
            display: inline-block;
            padding: 0 0.5em 0 0; }
        #search .search-suggestion-wrapper .search-suggestion p {
          line-height: 1.4;
          margin: 0 0 10px 0; }

  /* ----------------------------------------------------------------
      Search / Open state
  -----------------------------------------------------------------*/
  body.search-open #search {
    pointer-events: auto;
    opacity: 1; }
    body.search-open #search #search-logo {
      display: block;
      opacity: 1; }
    body.search-open #search .search-form {
      opacity: 1;
      transform: scale3d(1, 1, 1); }
    body.search-open #search .btn-search-close {
      display: block;
      opacity: 1;
      transform: scale3d(1, 1, 1); }
    body.search-open #search .search-suggestion {
      opacity: 1;
      transform: translate3d(0, 0, 0); }
      body.search-open #search .search-suggestion:nth-child(2) {
        transition-delay: 0.1s; }
      body.search-open #search .search-suggestion:nth-child(3) {
        transition-delay: 0.2s; }

  /* ----------------------------------------------------------------
      Search Responsive
  -----------------------------------------------------------------*/
  @media (max-width: 991px) {
    #search #search-logo {
      margin: 0 auto !important;
      max-width: 130px;
      left: auto; }
    #search .search-form {
      margin: 40px; }
      #search .search-form .form-control {
        font-size: 24px;
        margin-bottom: 8px; }
      #search .search-form .text-muted {
        font-size: 10px; }
    #search .btn-search-close {
      font-size: 1em;
      padding: 8px;
      line-height: 8px; }
    #search .search-suggestion-wrapper {
      display: none; } }
  @media (min-width: 992px) {
    #header[data-transparent="true"] + main {
      top: -122px;
      margin-bottom: -122px;
      position: relative; }
      #header[data-transparent="true"] + main > #page-title {
        padding: 220px 0 160px 0; }
    #header[data-transparent="true"] + #page-title {
      top: -122px;
      margin-bottom: -122px;
      position: relative;
      padding: 220px 0 160px 0; } }

      .signin{
        margin-left: 0% !important;
      }
      .leaders{
        margin-left: -5% !important;
      }
    }
    .signin{
      margin-left: 15% !important;
    }
    #widget-contact-form {
      clear: left; }

        .background-colored {
          background-color: #2250fc; }

        #particles-js {
          position: absolute;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          background-color: transparent;
          z-index: -1; }

        .particles canvas {
          position: absolute;
          top: 0;
          left: 0; }
          .animated-background {
            animation: 120s linear 0s normal none infinite running animatedBackground;
            background-repeat: repeat-x;
            background-size: cover; }
            .animated.infinite {
              animation-duration: 3s;
              animation-fill-mode: both; }

          @keyframes animatedBackground {
            0% {
              background-position: 0 0; }
            100% {
              background-position: -3000px 0; } }
          @keyframes animatedBackground {
            0% {
              background-position: 0 0; }
            100% {
              background-position: -3000px 0; } }

@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg)
  }
}

@keyframes swiper-preloader-spin {
  100% {
    transform: rotate(360deg)
  }
}

@media (min-width: 992px) and (max-width: 1200px) {
  .contact-us-img{
    width: 480px !important;
    }
}
@media (min-width: 500px) and (max-width: 660px) {
  .contact-us-img{
    width: 440px !important;
    /* height: 440px !important; */
    /* margin: 100px 80px !important; */
    }
}
@media (min-width: 0px) and (max-width: 500px) {
  .contact-us-img{
    /* width: 400px !important; */
    /* height: 400px !important; */
    /* margin: 100px 80px !important; */
    }
}
.text-center{
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}
.separator {
  color: #ccc;
  width: 100%;
  margin: 30px auto;
  overflow: hidden;
  text-align: center;
  line-height: 1.2em;
}

  .separator.seperator-small {
    width: 10%;
    margin: 5px auto; }

    .counter {
      margin-bottom: 14px; }
      .counter span {
        font-size: 50px;
        line-height: 40px; }
      .counter.small > span {
        font-size: 32px !important; }
      .counter.medium > span {
        font-size: 50px !important; }
      .counter.large > span {
        font-size: 62px !important; }

    .icon-box.fancy > .counter span {
      margin: 0 12px 10px 56px; }
    .icon-box.fancy.medium > .counter span {
      margin: 0 12px 10px 80px; }
    .icon-box.effect:not(.center) > .counter span {
      margin: 0 12px 10px 82px; }
    .icon-box.effect.large:not(.center) > .counter span {
      margin: 0 12px 10px 107px; }
    .icon-box.effect.medium:not(.center) > .counter span {
      margin: 0 12px 10px 82px; }
    .icon-box.effect.small:not(.center) > .counter span {
      margin: 0 12px 10px 58px;
      font-size: 32px !important; }
.f-icon  {
  weight: 80px;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 50%;
  color:#3b5998;
}
.l-icon  {
  weight: 80px;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 50%;
  color:#0e76a8;
}
.i-icon  {
  weight: 80px;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 50%;
  color: #E1306C;
}
.c-icon  {
  weight: 80px;
  text-align: center;
  margin-bottom: 3%;
  border-radius: 50%;
  color: #2250fc;
}
.count{
  color: #444;
}
.follower-count{
  color: #444;
}









/*******************************************************************TEAM******************************************/


body{
  background-color: #fff;
}


.team-mem{
  width: 60%;
  height: 60%;
  margin: auto;
  overflow: hidden;
}

.team-lead{
  width: 60%;
  height: 60%;
  margin: auto;
  overflow: hidden;

}

.dean{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  border: 5px solid #1E90FF;

}

.dean-sir{
  height: 100%;
  width: 100%;
  border-radius: 2rem;
  border: 5px solid #1E90FF;
}

.head-office{
  text-align: center;
}

.team-member{
  text-align: center;
}

.team-memberName{
  margin-bottom: 0;
}

h1{
  text-align: center;
  padding: 2rem;
}



.col-md-3{
  padding: 1px;
}
.content {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -110%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.team-profile {
  padding: 10px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
  color: blue;
}

.team-mem:hover .dean {
  opacity: 0.3;
}

.team-mem:hover .content {
  opacity: 1;
}

/*.content{
  height: 100%;
  width: 100%;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}*/
.team-mem:hover{
  opacity: 0.7;
}
.team-mem:hover .content{
  opacity: 1;
}

/*.team-lead:hover{
  opacity: 0.7;
}*/
.team-lead:hover .content{
  opacity: 1;
}

.content ul{
  list-style-type: none;
  display: flex;
  padding: 0;
}

.content ul li a{
  text-decoration: none;
}

.content ul li a i{
  background-color: white;
  font-size: 2rem;
  height: 3rem;
  width: 3rem;
  color: black;
  border-radius: 100%;
  text-align: center;
  line-height: 3rem;
  transform: translateY(100px);
  transition: all 0.5s ease;
}

.team-mem:hover .content ul li a i{
  transform: translateY(-1.5rem);
}

.team-lead:hover .content ul li a i{
  transform: translateY(-3rem);
}

.teams{
  text-align: center;

}

.team_ded_page{

padding: 10px 10px;
/* height: 2rem; */
margin: auto;
color: white;
background: linear-gradient(180deg, #CBE9FF 0%, #2DD6E0 100%);
border-radius: 2rem;
border: none;
font-weight: 500;
}

.team_ded_page:hover{
  background: linear-gradient(180deg, #2DD6E0 0%, #0E8E96 100%);

}

.te{
  padding: 2rem 0;
}


@media only screen and (max-width: 775px) {
  .hid{
    visibility: hidden;
  }
}
/* ***************************************EVENTS SECTION*************************************************************** */


.events{
  background-color: #CBE9FF;
  padding-bottom: 2rem;
}

.event-sec{
  background-color: #CBE9FF;
  text-align: center;
}

.event-details{
  background-color: white;
  text-align: center;
  padding: 1rem;
  border-radius: 1rem;
  /* border: solid #CBE9FF; */
  margin: 1rem;
  box-shadow: 0px 3px 12px 7px #ababa7;

  z-index: 2;
}

.event-pic{
  height: 10rem;
  width: 13rem;
  border-radius: 1rem;
  margin-bottom: 3rem;
}

.event-para{
  text-align: left;
  color: #3E375A;

}

.dateTime-para{
  color:#292E64;
  text-align: left;
  font-weight: 500;
  /* text-align: center; */
}

/* ***************************************ANNOUNCEMENT **********************************************/
.announcement{
  text-align: center;
  margin-bottom: 1rem;
  background-color: white;
}

.detai{
background-color: #CBE9FF;
border-radius: 1rem;
padding: 1rem;
height: 100%;
/* display: flex;
align-items: center; */
}
.text{

  display: flex;

  justify-content: center;
  align-items: center;
}




.timeout{
  font-size: 1rem;
  padding: 0.5rem 1rem;
  width: 80%;
  margin: auto;
  text-align: center;
  color: black;
  font-weight: 900;
  border-radius: 1rem;
  margin-top: 1rem;
}


.det{
  width: 65%;
  border-radius: 1rem;
  box-shadow: 0 0 1rem 0 grey;
  padding: 1rem;
  /* height: auto; */
}

@media only screen and (max-width:775px) {
    .det{
      width: 100%;
    }
    .timeout{
      width:100%;
    }
    .det h1{
      font-size: 2rem;
    }
}
.det-row{
  /* height: 15rem; */
  margin-top: -2.5rem;
  text-align: center;
}
.divide{
    margin-top: 1rem;

}



.butn{
  text-align: center;
  transition: all .5s ease;

}

.list{
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-top: 1rem;
  align-self: center;
}

.list div{
  flex: 1;
}
.det h1{
  font-weight: 900;
  color: black;
  text-align: center;
}

.heading{
  margin-top: -1rem;
  text-align: center;
}


.imag{
  height: 17rem;
  border-radius: 1rem;
}

.countdown{
  font-size: 0.8rem;
  font-weight: 500;
  opacity: 0.7;
}

@media(max-device-width:575px){
  .btnForNewsletter400px{
    margin-left: 30%;
  }
}

@media(max-device-width:425px){
  .btnForNewsletter400px{
    margin-left: 26%;
  }
}



