/* **********************hero section *********************** */
.container {
	width: 1200px;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.hero-slider {
	width: 100%;
	height: 700px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	position: relative;
	z-index: 0;
}

@media (max-width: 991px) {
	.hero-slider {
		height: 600px;
	}
}

@media (max-width: 767px) {
	.hero-slider {
		height: 500px;
	}
}

.hero-slider .swiper-slide {
	overflow: hidden;
	color: #fff;
}

.hero-slider .swiper-container {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
}

.hero-slider .slide-inner {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 1;
	background-size: cover;
	background-position: center;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: left;
}

.hero-slider .swiper-button-prev,
.hero-slider .swiper-button-next {
	background: transparent;
	width: 55px;
	height: 55px;
	line-height: 53px;
	margin-top: -30px;
	text-align: center;
	border: 2px solid #d4d3d3;
	border-radius: 55px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s ease;
}
.hero-slider:hover .swiper-button-prev,
.hero-slider:hover .swiper-button-next {
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}

@media (max-width: 767px) {
	.hero-slider .swiper-button-prev,
	.hero-slider .swiper-button-next {
		display: none;
	}
}

.hero-slider .swiper-button-prev {
	left: 25px;
	transform: translateX(50px);
}

.hero-slider .swiper-button-prev:before {
	font-family: 'Font Awesome 5 Free';
	content: '\f060';
	font-size: 15px;
	color: #d4d3d3;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}

.hero-slider .swiper-button-next {
	right: 25px;
	transform: translateX(-50px);
}

.hero-slider .swiper-button-next:before {
	font-family: 'Font Awesome 5 Free';
	content: '\f061';
	font-size: 15px;
	color: #d4d3d3;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
	font-weight: 900;
}

.hero-slider .swiper-pagination-bullet {
	width: 12px;
	height: 12px;
	text-align: left;
	line-height: 12px;
	font-size: 12px;
	color: #000;
	opacity: 0.3;
	background: #fff;
	transition: all 0.2s ease;
}

.hero-slider .swiper-pagination-bullet-active {
	opacity: 1;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
.hero-slider .swiper-pagination-custom,
.hero-slider .swiper-pagination-fraction {
	bottom: 30px;
}

@media screen and (min-width: 992px) {
	.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets,
	.hero-slider .swiper-pagination-custom,
	.hero-slider .swiper-pagination-fraction {
		/*     display: none; */
	}
}
.swiper-pagination {
	text-align: left;
}

.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets {
	bottom: 50px;
	max-width: 1200px;
	padding: 0 15px;
	margin: 0 auto;
	left: 50%;
	transform: translateX(-50%);
}

@media (min-width: 767px) {
	.hero-slider .swiper-container-horizontal > .swiper-pagination-bullets {
		bottom: 30px;
	}
}
/*--------------------------------------------------------------
	#hero-style
--------------------------------------------------------------*/
.hero-style {
	height: 850px;
	transition: all 0.4s ease;
}

@media (max-width: 991px) {
	.hero-style {
		height: 600px;
	}
}

@media (max-width: 767px) {
	.hero-style {
		height: 500px;
	}
}

@media screen and (min-width: 992px) {
	.hero-style .container {
		padding-top: 95px;
	}
}

.hero-style .slide-title,
.hero-style .slide-text,
.hero-style .slide-btns {
	max-width: 690px;
}

.hero-style .slide-title > h2 {
	font-size: 100px;
	font-weight: 600;
	line-height: 1;
	color: #ffffff;
	margin: 0 0 40px;
	text-transform: capitalize;
	transition: all 0.4s ease;
}

@media (max-width: 1199px) {
	.hero-style .slide-title > h2 {
		font-size: 75px;
	}
}

@media (max-width: 991px) {
	.hero-style .slide-title > h2 {
		font-size: 50px;
		margin: 0 0 35px;
	}
}

@media (max-width: 767px) {
	.hero-style .slide-title > h2 {
		font-size: 35px;
		margin: 0 0 30px;
	}
}

.hero-style .slide-text > p {
	opacity: 0.8;
	font-family: Rajdhani;
	font-size: 32px;
	font-weight: 500;
	line-height: 1.25;
	letter-spacing: normal;
	color: #ffffff;
	margin: 0 0 40px;
	transition: all 0.4s ease;
}

@media (max-width: 767px) {
	.hero-style .slide-text > p {
		font-size: 16px;
		font-size: 1rem;
		font-weight: normal;
		margin: 0 0 30px;
	}
}

.hero-style .slide-btns > a:first-child {
	margin-right: 10px;
}

/*--------------------------------------------------------------
	#button-style
--------------------------------------------------------------*/
.theme-btn,
.theme-btn-s2 {
	background-color: #ffffff;
	font-size: 20px;
	font-weight: 500;
	line-height: 1.4;
	text-align: center;
	color: #2b3b95;
	padding: 9px 32px;
	border: 0;
	border-radius: 3px;
	text-transform: uppercase;
	display: inline-block;
	line-height: initial;
	transition: all 0.4s ease;
}

.theme-btn-s2 {
	background-color: rgba(255, 255, 255, 0.9);
	color: #131e4a;
}
.theme-btn:hover,
.theme-btn-s2:hover,
.theme-btn:focus,
.theme-btn-s2:focus,
.theme-btn:active,
.theme-btn-s2:active {
	background-color: #2b3b95;
	color: #fff;
}
.theme-btn-s3 {
	font-size: 16px;
	font-weight: 500;
	line-height: 1.5;
	color: #ffffff;
	text-transform: uppercase;
}
i.fa-chevron-circle-right {
	height: 22px;
	width: 22px;
}
a:hover {
	text-decoration: none;
}
@media (max-width: 991px) {
	.theme-btn,
	.theme-btn-s2,
	.theme-btn-s3 {
		font-size: 13px;
		padding: 15px 25px;
	}
}
@media (max-width: 767px) {
	.theme-btn,
	.theme-btn-s2 {
		padding: 13px 20px;
		font-size: 13px;
	}
}

/* **********************hero section ends*********************** */

/* ***************************contact us style********************************************************* */
.s-form{
    width: 500px;

}
.s-form-group{
    margin: 33px;    
}


.svg-media{
    display: block;
    height: 440px;
    width: 440px;
}
.closebtn{
    float:right;
}
.showbtn{
    display: block;
    margin-left: 45%;
    margin-right: 0%;
}
.dsph{
    display: none;
}
@media (max-width:796px) {
    .svg-media{
        display: none;
    }
}

/* **************************contact us style end************************************************** */

/* **************************footer style start************************************************** */
.new_footer_area {
	background: #fbfbfd;
}

.new_footer_top {
	padding: 120px 0px 270px;
	position: relative;
	overflow-x: hidden;
}
.new_footer_area .footer_bottom {
	padding-top: 5px;
	padding-bottom: 50px;
}
.footer_bottom {
	font-size: 14px;
	font-weight: 300;
	line-height: 20px;
	color: #7f88a6;
	padding: 27px 0px;
}
.new_footer_top .company_widget p {
	font-size: 16px;
	font-weight: 300;
	line-height: 28px;
	color: #6a7695;
	margin-bottom: 20px;
}
.new_footer_top .company_widget .f_subscribe_two .btn_get {
	border-width: 1px;
	margin-top: 20px;
}
.btn_get_two:hover {
	background: transparent;
	color: #5e2ced;
}
.btn_get:hover {
	color: #fff;
	background: #6754e2;
	border-color: #6754e2;
	-webkit-box-shadow: none;
	box-shadow: none;
}
a:hover,
a:focus,
.btn:hover,
.btn:focus,
button:hover,
button:focus {
	text-decoration: none;
	outline: none;
}
.new_footer_top .f_widget.about-widget .f_list li a:hover {
	color: #5e2ced;
}
.new_footer_top .f_widget.about-widget .f_list li {
	margin-bottom: 11px;
}
.f_widget.about-widget .f_list li:last-child {
	margin-bottom: 0px;
}
.f_widget.about-widget .f_list li {
	margin-bottom: 15px;
}
.f_widget.about-widget .f_list {
	margin-bottom: 0px;
}
.new_footer_top .f_social_icon a {
	width: 44px;
	height: 44px;
	line-height: 43px;
	background: transparent;
	border: 1px solid #e2e2eb;
	font-size: 24px;
}
.f_social_icon a {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	font-size: 14px;
	line-height: 45px;
	color: #858da8;
	display: inline-block;
	background: #ebeef5;
	text-align: center;
	-webkit-transition: all 0.2s linear;
	-o-transition: all 0.2s linear;
	transition: all 0.2s linear;
}
.ti-facebook:before {
	content: '\e741';
}
.ti-twitter-alt:before {
	content: '\e74b';
}
.ti-vimeo-alt:before {
	content: '\e74a';
}
.ti-pinterest:before {
	content: '\e731';
}

.btn_get_two {
	-webkit-box-shadow: none;
	box-shadow: none;
	background: #5e2ced;
	border-color: #5e2ced;
	color: #fff;
}

.btn_get_two:hover {
	background: transparent;
	color: #5e2ced;
}

.new_footer_top .f_social_icon a:hover {
	background: #5e2ced;
	border-color: #5e2ced;
	color: white;
}
.new_footer_top .f_social_icon a + a {
	margin-left: 4px;
}
.new_footer_top .f-title {
	margin-bottom: 30px;
	color: #263b5e;
}
.f_600 {
	font-weight: 600;
}
.f_size_18 {
	font-size: 18px;
}
.new_footer_top .f_widget.about-widget .f_list li a {
	color: #6a7695;
}
.new_footer_top .footer_bg {
	position: absolute;
	bottom: 0;
	background-image: url('http://droitthemes.com/html/saasland/img/seo/footer_bg.png');
	background-attachment: scroll;
	background-position: center 0;
	background-repeat: no-repeat;
	width: 100%;
	height: 266px;
}
.new_footer_top .footer_bg .footer_bg_one {
	background: url('https://1.bp.blogspot.com/-mvKUJFGEc-k/XclCOUSvCnI/AAAAAAAAUAE/jnBSf6Fe5_8tjjlKrunLBXwceSNvPcp3wCLcBGAsYHQ/s1600/volks.gif')
		no-repeat center center;
	width: 330px;
	height: 105px;
	background-size: 100%;
	position: absolute;
	bottom: 0;
	left: 30%;
	-webkit-animation: myfirst 22s linear infinite;
	animation: myfirst 22s linear infinite;
}
.new_footer_top .footer_bg .footer_bg_two {
	background: url('https://1.bp.blogspot.com/-hjgfxUW1o1g/Xck--XOdlxI/AAAAAAAAT_4/JWYFJl83usgRFMvRfoKkSDGd--_Sv04UQCLcBGAsYHQ/s1600/cyclist.gif')
		no-repeat center center;
	width: 88px;
	height: 100px;
	background-size: 100%;
	bottom: 0;
	left: 38%;
	position: absolute;
	-webkit-animation: myfirst 30s linear infinite;
	animation: myfirst 30s linear infinite;
}
@-moz-keyframes myfirst {
	0% {
		left: -25%;
	}
	100% {
		left: 100%;
	}
}

@-webkit-keyframes myfirst {
	0% {
		left: -25%;
	}
	100% {
		left: 100%;
	}
}

@keyframes myfirst {
	0% {
		left: -25%;
	}
	100% {
		left: 100%;
	}
}
/* **************************footer style end************************************************** */
/* ********************blog style********************************************************** */


.b-container {
	height: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 90px;
  }
  
  .b-card {
	width: 240px;
	height: 180px;
	margin: 0 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
  }
  
  .b-card img {
	width: 100%;
	border-radius: 5px;
	transition: all 0.4s ease;
	z-index: 0;
  }
  
  .b-infos {
	width: 90%;
	background: rgba(108, 177, 224, 0.452);
	position: absolute;
	top: 110px;
	border-radius: 5px;
	padding: 20px;
	transition: all 0.4s ease;
	z-index: 1;
  }
  
  .b-infos:hover {
	transform: translate(0,-10px);
  }
  
  .b-infos:hover ~ img {
	transform: translate(0,10px);
  }
  
  .b-text {
	font-size: 0.9rem;
	font-weight: 700;
	margin-bottom: 5px;
	pointer-events: none;
  }
  
  .b-date {
	font-size: 0.7rem;
	color: #e88f87;
	pointer-events: none;
  }
  @media (max-width:768px) {
	.b-container{
	  display: block;
	  margin-top: 6px;
	  margin-left: 30%;
	  
	}
	.b-card{
	  margin-top: 120px;
	 
	}
  }
  @media (max-width:425px) {
	.b-container{
	  display: block;
	  margin-top: 6px;
	  margin-left: 15%;
	  
	}
	.b-card{
	  margin-top: 120px;
	 
	}
  }
  
  /* *************************blog style end***************************************** */
  .speaker-block{
    position: relative;
    margin-bottom: 40px;
}

.speaker-block .inner-box{
    position: relative;
}

.speaker-block .image-box{
    position: relative;
    padding: 20px;
    background-color: rgba(255,255,255,.15);
    overflow: hidden;
}

.speaker-block .image-box .image:after,
.speaker-block .image-box:before{
    position: absolute;
    left: 0;
    top: 0;
    height: 0;
    width: 100%;
    background-color: #ffffff;
    content: "";
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.speaker-block .inner-box:hover .image-box .image:after,
.speaker-block .inner-box:hover .image-box:before{
    height: 100%;
}

.speaker-block .image-box .image:after{
    opacity: .40;
    z-index: 1;
    top: auto;
    bottom: 0;
    background-color: #4a34a5;
}

.speaker-block .image-box .image{
    position: relative;
    margin-bottom: 0;
    z-index: 1;
    overflow: hidden;
}

.speaker-block .image-box .image img{
    display: block;
    width: 100%;
    height: auto;
}

.speaker-block .social-links{
    position: absolute;
    left: 0;
    bottom: -140px;
    padding: 20px;
    width: 100%;
    z-index: 9;
    -webkit-transition: all 700ms ease;
    -moz-transition: all 700ms ease;
    -ms-transition: all 700ms ease;
    -o-transition: all 700ms ease;
    transition: all 700ms ease;
}

.speaker-block .social-links ul{
    position: relative;
    padding: 30px 20px;
    text-align: center;
    background-color: rgba(253, 218, 51, 0.85);
}

.speaker-block .social-links li{
    position: relative;
    display: inline-block;
    margin: 0 9px;
}

.speaker-block .social-links li a{
    position: relative;
    display: block;
    font-size: 18px;
    line-height: 30px;
    font-weight: 400;
    color: #ffffff;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    transition: all 300ms ease;
}

.speaker-block .social-links li a:hover{
    color: #019ffa;
}
.speaker-block .social-links li a .fa-pinterest-p:hover{
    color: #fa0101;
}

.speaker-block .inner-box:hover .social-links{
    bottom: 0;
}
.speaker-block .caption-box .designation{
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 26px;
    color: #ffffff;
    font-weight: 400;
    opacity: .70;
}
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        img {
    max-width: 100%;
    height: auto;
}
/* **********************our team style end************************ */