#myBtnInsideTheme {
  outline: none;
  cursor: pointer;
  background-color: #0297ff;
  color: white;
  border-radius: 5%;
  margin-left: 10px;
  margin-top: 30px;
  height: 40px;
  padding-left: 10px;
  padding-right: 10px;
}

#myBtnInsideTheme2 {
  outline: none;
  cursor: pointer;
  background-color: #0297ff;
  color: white;
  border-radius: 5%;
  width: 75%;
  margin-left: -15px;
  margin-top: 20px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
}

.registerInsideTheme {
  text-align: center;
  padding-top: 3px;
  line-height: 1.3;
  font-size: 1.2rem;
}

.getStatementButton {
  outline: none;
  cursor: pointer;
  background-color: #0297ff;
  color: white;
  border-radius: 11px;
  margin-top: 25px;
  margin-bottom: 28px;
  height: 55px;
  padding-left: 20px;
  padding-right: 20px;
}

.getStatement {
  text-align: center;
  padding-top: 3px;
  font-size: 1.75rem;
}

.jumboStyle {
  padding-left: 100px;
  margin-top: 20px;
  background-color: rgb(17, 17, 17);
  margin-bottom: 50px;
  filter: drop-shadow(0 0 15px #08b339);
}

.verticalLineTheme {
  display: none;
  color: #08b339;
}

.waitTextTheme {
  font-size: 1.2rem;
  text-align: center;
  margin-top: 4px;
  margin-bottom: -5px;
  margin-left: -45px;
  font-family: "Ruda", sans-serif;
  line-height: 1.5;
  color: #08b339;
}

#themesHack {
  padding-bottom: 20px;
}

.themeHackhathon {
  font-family: "Ruda", sans-serif;
}

#themeHackhathonHeader {
  color: #ff00b8;
  font-size: 1.2rem;
  padding: 0.7rem;
  padding-top: 3rem;
  text-align: center;
  margin-bottom: 0;
}

.themeBox {
  display: inline-block;
  text-align: center;
  margin-left: 32px;
}

.themeBoxContent {
  background-color: #000;
  border: #00ff47 solid 2px;
  border-radius: 4%;
  color: white;
  width: 80%;
  margin: 15px;
  padding: 10px;
  box-shadow: 0.6px 0.6px 3.5px 3.5px #ccf5d7;
  cursor: pointer;
}

.themeBoxContent:hover {
  box-shadow: 0.4px 0.4px 5.5px 5.5px #ccf5d7;
}

.themeBoxContentHeader {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 1.5rem;
  margin-top: 3px;
  padding: 0.2rem;
  color: #ff00b8;
}

.themeBoxContentImage {
  width: 7.5rem;
  height: 6.5rem;
  border-radius: 50%;
  margin-top: 5px;
  text-align: center;
}

.themeBoxContentDescription {
  font-size: 0.8rem;
  line-height: 1.3;
  font-family: "Source Sans Pro", sans-serif;
  text-align: left;
  margin-top: 0px;
  padding-left: 8px;
}

@media (max-device-width: 990px) {
  .getStatementButton {
    height: 50px;
    padding-left: 16px;
    padding-right: 16px;
  }

  .getStatement {
    font-size: 1.5rem;
  }
}

@media (max-device-width: 375px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    margin-left: -6px;
    margin-top: 30px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnInsideTheme2 {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    width: 90%;
    margin-left: -29px;
    margin-top: 15px;
    height: 70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .getStatementButton {
    height: 45px;
    padding-left: 13px;
    padding-right: 13px;
  }

  .getStatement {
    font-size: 1.3rem;
  }
}

@media (max-device-width: 345px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    margin-left: -28px;
    margin-top: 30px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnInsideTheme2 {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    width: 90%;
    margin-left: -33px;
    margin-top: 15px;
    height: 70px;
    padding-bottom: -5px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .registerInsideTheme {
    text-align: center;
    padding-top: 3px;
    margin-bottom: 0;
    font-size: 1.2rem;
  }

  .jumboStyle {
    padding-left: 100px;
    margin-top: 20px;
    background-color: rgb(17, 17, 17);
    margin-bottom: 50px;
    filter: drop-shadow(0 0 15px #08b339);
  }

  .verticalLineTheme {
    display: none;
    color: #08b339;
  }

  .waitTextTheme {
    font-size: 1.2rem;
    text-align: center;
    margin-top: 4px;
    margin-bottom: -5px;
    margin-left: -45px;
    line-height: 1.5;
    color: #08b339;
  }

  #themesHack {
    padding-bottom: 20px;
  }

  #themeHackhathonHeader {
    font-size: 1.5rem;
    margin-bottom: 0;
  }

  .themeBox {
    margin-left: 0px;
  }

  .themeBoxContent {
    margin: 15px;
    padding: 10px;
    width: 90%;
    box-shadow: 0.6px 0.6px 3.5px 3.5px #ccf5d7;
  }

  .themeBoxContent:hover {
    box-shadow: 0.4px 0.4px 5.5px 5.5px #ccf5d7;
  }

  .themeBoxContentHeader {
    font-size: 1.5rem;
    margin-top: 3px;
    padding: 0.2rem;
  }

  .themeBoxContentImage {
    margin-top: 5px;
    width: 7.5rem;
    height: 6.5rem;
  }

  .themeBoxContentDescription {
    font-size: 0.8rem;
    line-height: 1.3;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1439px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    margin-left: 50px;
    margin-top: -70px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnInsideTheme2 {
    width: 38%;
    height: 50px;
    margin-top: -70px;
    margin-left: 20px;
    padding-bottom: 0;
  }

  .registerInsideTheme {
    text-align: center;
    padding-top: 3px;
    font-size: 1.5rem;
  }

  .jumboStyle {
    padding-left: 100px;
    margin-top: 20px;
    background-color: rgb(17, 17, 17);
    margin-bottom: 50px;
    filter: drop-shadow(0 0 15px #08b339);
  }

  .verticalLineTheme {
    display: inline-block;
    height: 160px;
    border-left: 5px solid #08b339;
  }

  .waitTextTheme {
    font-size: 2.2rem;
    text-align: left;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: -25px;
    line-height: 1.4;
    color: #08b339;
  }

  #themesHack {
    padding-bottom: 30px;
  }

  #themeHackhathonHeader {
    font-size: 2.9rem;
    text-align: center;
    padding: 1.5rem;
  }

  .themeBox {
    margin-left: 0px;
  }

  .themeBoxContent {
    width: 68%;
    border: #00ff47 solid 3.5px;
    /*margin-left: 43px;
     margin-right: 5px; */
    margin: auto;
    margin-top: 35px;
    padding: 10px;
    box-shadow: 0.6px 0.6px 3.5px 3.5px #ccf5d7;
  }

  .themeBoxContent:hover {
    box-shadow: 0.4px 0.4px 5.5px 5.5px #ccf5d7;
  }

  .themeBoxContentHeader {
    font-size: 2.5rem;
    margin-top: 18px;
    padding: 0.2rem;
  }

  .themeBoxContentImage {
    margin-top: 20px;
    width: 13rem;
    height: 11rem;
  }

  .themeBoxContentDescription {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top: 16px;
    padding-left: 15px;
    padding-bottom: 35px;
  }
}

@media (min-device-width: 768px) and (max-device-width: 1023px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    margin-left: 23%;
    margin-top: 30px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #myBtnInsideTheme2 {
    margin-left: 10%;
    margin-top: 20px;
    height: 55px;
    width: fit-content;
  }

  .registerInsideTheme {
    text-align: center;
    padding-top: 3px;
    font-size: 1.5rem;
  }

  .themeBoxContentHeader {
    font-size: 2.3rem;
    margin-top: 12px;
    padding: 0.2rem;
  }

  .jumboStyle {
    width: 75%;
    margin-left: 70px;
    padding-top: 35px;
    padding-bottom: 40px;
  }

  .waitTextTheme {
    text-align: center;
    margin-left: -35px;
  }

  .verticalLineTheme {
    display: none;
  }

  .themeBoxContent {
    margin: auto;
    margin-top: 15px;
    width: 80%;
    /* margin-left: 30px; */
  }

  .themeBoxContentImage {
    margin-top: 15px;
    width: 9rem;
    height: 7rem;
  }

  .themeBoxContentDescription {
    font-size: 1rem;
    line-height: 1.3;
    margin-top: 12px;
    padding-left: 9px;
    padding-bottom: 35px;
  }
}

@media (min-device-width: 500px) and (max-device-width: 790px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    margin-left: 1%;
    margin-top: 30px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }
  #myBtnInsideTheme2 {
    margin-left: 2%;
    margin-top: 30px;
    width: fit-content;
    height: 50px;
    padding-bottom: 0;
  }
}

@media (min-device-width: 1323px) and (max-device-width: 1439px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    margin-left: 75px;
    margin-top: -60px;
    height: 50px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnInsideTheme2 {
    margin-top: -60px;
    width: 29%;
  }

  .registerInsideTheme {
    text-align: center;
    padding-top: 3px;
    font-size: 1.5rem;
  }

  .verticalLineTheme {
    display: inline-block;
    height: 180px;
    border-left: 5px solid #08b339;
  }

  .waitTextTheme {
    font-size: 2.5rem;
    text-align: left;
    margin-top: 5px;
    margin-bottom: -5px;
    margin-left: -25px;
    line-height: 1.4;
    color: #08b339;
  }
}

@media (min-device-width: 1140px) and (max-device-width: 1321px) {
  .jumboStyle {
    padding-left: 100px;
    margin-top: 50px;
    width: 80%;
    background-color: rgb(17, 17, 17);
    margin-bottom: 50px;
    margin-left: 90px;
    filter: drop-shadow(0 0 15px #08b339);
  }
  .containerThemeJumboStyle {
    text-align: center;
  }
}

@media (min-device-width: 1440px) {
  #myBtnInsideTheme {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    height: 55px;
    /* margin: auto; */
    margin-top: -70px;
    margin-left: 25%;
    margin-right: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  #myBtnInsideTheme2 {
    outline: none;
    cursor: pointer;
    background-color: #0297ff;
    color: white;
    border-radius: 5%;
    height: 55px;
    width: fit-content;
    /* margin: auto; */
    margin-top: -70px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .registerInsideTheme {
    text-align: center;
    padding-top: 3px;
    font-size: 1.8rem;
  }

  .jumboStyle {
    padding-left: 100px;
    margin-top: 50px;
    background-color: rgb(17, 17, 17);
    margin-bottom: 50px;
    filter: drop-shadow(0 0 15px #08b339);
  }

  .verticalLineTheme {
    display: block;
    height: 125px;
    border-left: 8px solid #08b339;
  }

  .waitTextTheme {
    text-align: left;
    font-size: 2.4rem;
    /* margin-top: 10px; */
    margin-left: -35px;
    line-height: 1.4;
    color: #08b339;
  }

  #themeHackhathonHeader {
    font-size: 3.2rem;
    text-align: center;
    padding: 1.5rem;
    padding-top: 3rem;
  }

  #themesHack {
    padding-bottom: 50px;
  }

  .themeBox {
    margin-left: 0px;
  }

  .themeBoxContent {
    width: 73%;
    border: #00ff47 solid 3.4px;
    margin: 25px -20px 90px 65px;
    padding: 10px;
    box-shadow: 0.3px 0.3px 3.5px 3.5px #ccf5d7;
  }

  .themeBoxContent:hover {
    box-shadow: 0.5px 0.5px 6px 6px #ccf5d7;
  }

  .themeBoxContentHeader {
    font-size: 2.5rem;
    margin-top: 18px;
    padding: 0.2rem;
  }

  .themeBoxContentImage {
    margin-top: 20px;
    width: 13rem;
    height: 11rem;
  }

  .themeBoxContentDescription {
    font-size: 1.3rem;
    line-height: 1.3;
    margin-top: 16px;
    padding-left: 15px;
    padding-bottom: 35px;
  }
}
