@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700');
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  font-family: 'Lato', sans-serif;
  margin-left: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  width: 100%;
  padding: 80px 0;
}

/* TOP HEADER
-------------------------------------------------- */
.navbar.top-bar {
  border-radius: 0;
  padding: 16px 0;
  z-index: 16;
}

.navbar-toggler {
  border: 1px solid #fff;
  color: #000;
  position: absolute;
  right: 21px;
}

.sps {
  padding: 1em 0.5em;
  position: fixed;
  top: 0;
  left: 0;
  transition: all 0.25s ease;
  width: 100%;
}

.sps--abv {
  background-color: white;
  color: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.sps--blw {
  background-color: #fff;
  color: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.top-bar a.navbar-brand {
  color: #000;
  font-size: 26px;
  font-weight: 800;
  padding: 5px 0 0 10px;
  text-transform: uppercase;
}

.sps--blw.top-bar a.navbar-brand {
  color: #000;
}

.top-bar a.navbar-brand span {
  color: #0297ff;
}

.top-bar .nav-link {
  color: #000;
  font-size: 16px;
  font-weight: 500;
  padding: 12px 18px !important;
}

.sps--blw.top-bar .nav-link {
  color: #000;
}

.top-bar .navbar-nav .nav-item {
  margin: 0;
}

.top-bar .nav-link:hover,
.top-bar .nav-item.active a {
  color: #000;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}

.sps--blw.top-bar .nav-link:hover,
.sps--blw.top-bar .nav-item.active a {
  color: #0297ff;
  border-bottom: none;
  border-radius: 0;
}

.year-margin{
  margin-top: 120px;
  margin-left: 120px;
}
a.year-link{
  font-size: large;
  font-weight: 500;
}
a.year-link:hover{
  background-color: #aaadb3;
  color: white;
  cursor: pointer;
}
.pt-card {
  padding: 8%;
  border-radius: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 3.5px #0297ff;
  margin-bottom: -13%;
}
.uheading {
  font-size: 36px;
  font-weight: bold;
  color: #0776ad;
}
.lheading {
  font-size: 36px;
}

.collab-main-heading {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 36px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.highlight {
  color: #0297ff;
}

.flip-card {
  width: 260px !important;
  height: 300px;
  margin: 3% 1%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  perspective: 1000px;
}

.flip-card-without-hover {
  width: 260px !important;
  height: 300px;
  margin: 3% 1%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  perspective: 1000px;
}

.flip-img {
  width: 70%;
  height: 60%;
  border-radius: 15px 15px 15px 15px;
  margin: 14px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.72);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: white;
  background-image: linear-gradient(to bottom right, white, #e6ffff);
  color: black;
  transform: rotateY(180deg);
  overflow: auto;
}

.blue-hr {
  margin: 0px !important;
  border-style: none;
  border-top: 6px solid #0297ff !important;
  border-radius: 8px;
}

.collab-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #222;
}

.team-social-icon {
  padding: 10px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.team-social-icon:hover {
  opacity: 0.7;
}

.bio {
  margin-left: 10px;
  margin-right: 10px;
}

.overflow-control {
  font-size: 14px;
}
.text-and-logo {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
}
.outstanding-logo {
  width: 160px;
  animation-name: scale-up-center;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1s;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: none;
}
@keyframes scale-up-center {
  0%{
    -webkit-transform: scale(.2);
    transform: scale(.2);
  }
  100%{
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (min-width: 300px) and (max-width: 580px) {
  .uheading {
    font-size: 26px;
    font-weight: bold;
    color: #0776ad;
  }

  .lheading {
    font-size: 20px;
  }
  .acm-logo-navbar {
    margin-left: 10px;
  }
  .pt-card {
    margin-top: 10px;
  }
}
@media (min-width: 580px) and (max-width: 780px) {
  .uheading {
    font-size: 26px;
    font-weight: bold;
    color: #0776ad;
  }
  .lheading {
    font-size: 26px;
  }
}

@media (min-width: 200px) and (max-width: 580px) {
  .uheading {
    font-size: 22px;
    font-weight: bold;
    color: #0776ad;
  }
  .lheading {
    font-size: 16px;
  }
  .acm-logo-navbar {
    margin-left: 10px;
  }
  .pt-card {
    margin-top: 7%;
    margin-bottom: -40%;
  }
  .collab-main-heading {
    font-size: 26px;
  }
  .card-name {
    font-size: 20px;
  }
}

@media (min-width: 350px) and (max-width: 1200px) {
  .footer-info {
    display: flex;
    flex-direction: column !important;
  }
}
