@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400,700");
/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */
body {
  color: #5a5a5a;
  font-family: "Lato", sans-serif;
  margin-left: 1px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}

section {
  width: 100%;
  padding: 80px 0;
}

/* TOP HEADER
-------------------------------------------------- */

.topnav-myear {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
  margin-left: 35vw;
  margin-right: 25vw;
  margin-top: 9%;
}

.topnav-myear a {
  float: left;
  margin-left: 5px;
  color: #0776ad;
  text-align: center;
  padding: 14px 16px;
  border-radius: 5px;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  /* border: 1px #0297ff solid; */
}

.topnav-myear a:hover {
  background-color: #0297ff;
  color: rgb(255, 255, 255);
}

.topnav-myear a.active {
  background-color: #0297ff;
  color: #ffffff;
}
.main-year select {
  display: none;
}
@media screen and (min-width:769px ) and (max-width:960px){
  .topnav-myear {
   margin-left: 29vw;
   margin-right: 20vw;
  }
}

@media screen and (min-width: 768px) {
  .mobile-dropdown {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .topnav-myear {
    display: none;
  }
  .main-year select {
    display: inline;
    /* border: none; */
    outline-width: 0;
    padding: 8px;
    margin-top: 15%;
    margin-bottom: 2%;
    margin-left: 40%;
    width: 80px;
    background-color: #0297ff;
    border-radius: 5px;
    color: white;
  }
  .main-year select option {
    background-color: white;
    color: #000;
  }
}

.pt-card {
  padding: 8%;
  border-radius: 30px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  box-shadow: 0 0 3.5px #0297ff;
  margin-bottom: -13%;
}
.uheading {
  font-size: 36px;
  font-weight: bold;
  color: #0776ad;
}
.lheading {
  font-size: 36px;
}

#collab {
  margin-top: -5%;
}

.collab-main-heading {
  margin-top: 1rem;
  font-weight: 600;
  font-size: 36px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.highlight {
  color: #0297ff;
}

.flip-card {
  width: 260px !important;
  height: 300px;
  margin: 3% 1%;
  border-radius: 8px;
  text-align: center;
  /* box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08); */
  perspective: 1000px;
}

.flip-card-without-hover {
  width: 260px !important;
  height: 300px;
  margin: 3% 1%;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.08);
  perspective: 1000px;
}

.flip-img {
  width: 70%;
  height: 60%;
  border-radius: 15px 15px 15px 15px;
  margin: 14px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.4);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
  box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 0.4);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back {
  background-color: white;
  background-image: linear-gradient(to bottom right, white, #e6ffff);
  color: black;
  transform: rotateY(180deg);
  overflow: auto;
}

.blue-hr {
  margin: 0px !important;
  border-style: none;
  border-top: 6px solid #0297ff !important;
  border-radius: 8px;
}

.card-name-back {
  padding: 0 10px;
}

.large-name {
  font-size: 16px;
}

.collab-heading {
  font-size: 1.5rem;
  font-weight: 500;
  color: #222;
}

.team-social-icon {
  padding: 10px;
  font-size: 35px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.team-social-icon:hover {
  opacity: 0.7;
}

.bio {
  margin-left: 10px;
  margin-right: 10px;
}

.overflow-control {
  font-size: 14px;
}

@media (min-width: 300px) and (max-width: 580px) {
  .uheading {
    font-size: 26px;
    font-weight: bold;
    color: #0776ad;
  }

  .lheading {
    font-size: 20px;
  }
  .acm-logo-navbar {
    margin-left: 10px;
  }
  .pt-card {
    margin-top: 10px;
  }
}
@media (min-width: 580px) and (max-width: 780px) {
  .uheading {
    font-size: 26px;
    font-weight: bold;
    color: #0776ad;
  }
  .lheading {
    font-size: 26px;
  }
}

@media (min-width: 200px) and (max-width: 580px) {
  .uheading {
    font-size: 22px;
    font-weight: bold;
    color: #0776ad;
  }
  .lheading {
    font-size: 16px;
  }
  .acm-logo-navbar {
    margin-left: 10px;
  }
  .pt-card {
    margin-top: 7%;
    margin-bottom: -40%;
  }
  .collab-main-heading {
    font-size: 26px;
  }
  .card-name {
    font-size: 20px;
  }
  .year-margin {
    margin-top: 50px;
    margin-left: 25px;
  }
  #collab {
    margin-top: -25%;
  }
}

@media (min-width: 350px) and (max-width: 1200px) {
  .footer-info {
    display: flex;
    flex-direction: column !important;
  }
}
