@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ruda:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* ----------NavBar hackathon page ---------- */
body {
  background-color: #000;
}

html {
  scroll-behavior: smooth;
}

.nav {
  font-size: 1.1rem;
}

.nav-link {
  color: #e8e3e3;
  padding: 20px;
  font-weight: 500;
  border-bottom: 3px solid transparent;
}

/* .navLinks {
  cursor: pointer;
  color: white;
} */

/* .navLinks:hover {
  color: red;
} */

.nav-link:hover {
  color: red;
  border-bottom: 3px solid red;
}

.nav-link.active::after {
  color: red;
  border-bottom: 3px solid red;
}

.black {
  background-color: black !important;
  box-shadow: 2px 2px 14px #70ff00;
}

.ff-powered-img{
  display: none;
}

.nav-item {
  padding-left: 25px;
  padding-right: 10px;
}
.hackusict-logo {
  height: 80px;
}

@media (min-width: 300px) and (max-width: 580px) {
  .navLinks {
    cursor: pointer;
    color: white;
  }

  .navLinks:hover {
    color: red;
  }

  .hackusict-logo {
    height: 60px;
  }
}

@media (max-width: 986px) {
  .navLinks {
    cursor: pointer;
    color: white;
  }

  .navLinks:hover {
    color: red;
  }

  .navbar {
    background-color: black;
  }
}
/* -----------Hero ------------*/

.hero-canvas {
  position: absolute;
  height: 100vh;
  width: 98.5vw;
  top: 0;
  left: 0;
  z-index: -1;
}

.hero-hackathon {
  min-height: 75vh;
  width: 98.5vw;
}

.hero-container {
  margin-left: 10%;
  width: 80%;
  margin-right: 10%;
  margin-top: 7%;
}

.hero-left-div {
  font-family: "Ruda", sans-serif;
  font-style: normal;
  font-weight: bold;
  color: #70ff00;
  font-size: 5rem;
}

.hero-right-div {
  margin-top: 50px;
  font-family: Ruda;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}

.hero-register-button {
  background: #000000;
  border: 3px solid #70ff00;
  box-sizing: border-box;
  color: white;
  margin: 10px;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 2rem;
  cursor: pointer;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  50% {
    opacity: 0.3;
  }
}

.font-red {
  color: red;
}

.countdown-item {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  text-transform: uppercase;
}

.countdown-span {
  display: block;
}

.backgroundcanvas {
  width: 100%;
  min-height: 100vh;
  z-index: -2;
}

#countdown {
  margin-top: 3%;
  text-align: center;
  align-self: center;
  color: #fff;
  font-size: 2rem;
}

@media (max-width: 786px) {
  .hero-left-div {
    font-size: 3rem;
  }

  .hide-below-lg {
    display: none;
  }

  .hero-right-div {
    font-size: 1.3rem;
  }
}

@media (max-width: 450px) {
  .hero-register-button {
    font-size: 1.2rem;
  }
}


.dabba-number-ek{
    width: 60%;
    margin: auto;
    text-align: center;
}

.heading{
    color: #70ff70;
    font-size: 3rem;
}

.submission-wala-dabba{
    color:#fff;
}



/* ==========FOOTER=========== */

.foot {
    /* color: black; */
    color: #ffda29;
    background-color: #105a09;
  }
  
  .foot i {
    color: white;
  }
  
  .foot li a {
    color: #ffda29;
  }
  .foot li a:hover {
    color: #ffda29;
  }
  
  .concept {
    font-weight: 500;
    color: white;
  }
  
  .foot-head {
    color: black;
    font-weight: 700 !important;
  }
  
  .footPara {
    color: black;
    font-weight: 600;
  }

  
.modal-content {
  margin: auto;
  width: 70%;
  border-radius: 10px;
}
.modal-header {
  border-bottom: 0;
  padding-bottom: 0;
}
.modal-footer {
  border-top: 0;
}
.modal-body h3 {
  text-align: center;
  margin-bottom: 1rem;
}
.modal-body span {
  text-align: left;
}
.modal-header > .fas {
  margin-top: -15% !important;
  background-color: #fff;
  border-radius: 50%;
  border: 5px solid #fff;
  margin: 2% 43%;
  margin-bottom: 0;
}
.error_form {
  top: 12px;
  color: #f32013;
  font-size: 15px;
  font-family: Helvetica;
}
/* ****************************FAQ*********************************************** */

.panel-group .panel {
  border-radius: 0;
  box-shadow: none;
  border-color: #eeeeee;
}

.faq h1 {
  font-family: "Ruda", sans-serif;
  font-size: 2.5rem;
  color: white;
  text-align: center;
  padding: 1rem;
  margin-top: 1rem;
}

.panel-default .panel-heading {
  padding: 0;
  border-radius: 0;
  color: white;
  /* background-color: black; */
  border: 3px solid green;
  border-radius: 1rem;
  margin: 0.5rem 0;
}

.panel-title {
  font-size: 1rem;
}

.panel-title a {
  text-align: left;
  display: block;
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: white;
}

.more-less {
  float: right;
  color: white;
}

.panel-body {
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: lighter;
  text-align: justify;
  box-shadow: 2px -3px 11px 0px green;
  padding: 1rem;
  text-shadow: 1px 1px green;
  border-radius: 1rem;
}
.panel-heading:hover {
  background-color: green;
}

.panel-heading h4 {
  margin: 0.5rem 1rem;
}



/* ===========LOADING MODAL================= */

#caption {
  padding-left: 50px;
  position: relative;
  margin: auto;
  height: 0px;
}
#building {
  display: flex;
  width: 350px;
  height: 100vh;
  margin: auto;
}
#blocks {
  margin: auto;
}
.b {
  background: #d5fff7;
  border: 3px solid #89f2f2;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  margin: 10px;
  position: relative;
  animation-duration: 1.3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
#b1 {
  animation-name: b1;
}
#b2 {
  margin-left: 72.5px;
  animation-name: b2;
}
#b3 {
  margin-top: -60px;
  animation-name: b3;
}
#b4 {
  margin-left: 72.5px;
  animation-name: b4;
}

@keyframes b1 {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }
  50% {
    left: 62.5px;
    bottom: 0px;
    transform: rotate(90deg);
  }
  100% {
    left: 62.5px;
    bottom: -61.25px;
    transform: rotate(90deg);
  }
}
@keyframes b2 {
  50% {
    bottom: 0px;
  }
  100% {
    bottom: -61.25px;
  }
}
@keyframes b3 {
  50% {
    top: 0px;
  }
  100% {
    top: -61.25px;
  }
}
@keyframes b4 {
  0% {
    left: 0px;
    transform: rotate(0deg);
  }
  50% {
    left: -62.5px;
    top: 0px;
    transform: rotate(90deg);
  }
  100% {
    left: -62.5px;
    top: -61.25px;
    transform: rotate(90deg);
  }
}

@media (max-width: 400px) {
  #building {
    width: 100%;
  }
  #caption {
    display: none;
  }
}
