
.head{
    min-height: 600px;
    background-image: url("../../assets/img/theme/profile-cover.jpg");
    background-size: cover;
    background-position: center top;
}

@media screen and  (max-width: 520px) {
    .head{
        min-height: 0px;
    }
  }

