@charset "UTF-8";
/*PEN STYLES*/
* {
  box-sizing: border-box;
}

body {
  background: #f1f1f1;
}

.blog-card-event {
  display: flex;
  flex-direction: column;
  margin: 1rem auto;
  box-shadow: 0 3px 7px -1px rgba(0, 0, 0, 0.1);
  margin-bottom: 1.6%;
  background: #fff;
  line-height: 1.4;
  font-family: sans-serif;
  border-radius: 5px;
  overflow: hidden;
  z-index: 0;
  max-width: 86%;
}
.blog-card-event a {
  color: inherit;
}
.blog-card-event a:hover {
  color: red;
}
.blog-card-event:hover .photo-event {
  transform: scale(1.3) rotate(3deg);
}
.blog-card-event .meta-event {
  position: relative;
  z-index: 0;
  height: 200px;
}
.blog-card-event .photo-event {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  transition: transform 0.2s;
}
.eventSection{
  background: radial-gradient(circle at 24.1% 68.8%, rgb(50, 50, 50) 0%, rgb(0, 0, 0) 99.4%);
  padding-top: 1%;
}
.blog-card-event .details-event,
.blog-card-event .details-event ul {
  margin: auto;
  padding: 0;
  list-style: none;
}
.blog-card-event .details-event {
  position: absolute;
  top: 0;
  bottom: 0;
  left: -100%;
  margin: auto;
  transition: left 0.2s;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  padding: 10px;
  width: 100%;
  font-size: 0.9rem;
}
.blog-card-event .details-event a {
  -webkit-text-decoration: dotted underline;
          text-decoration: dotted underline;
}
.blog-card-event .details-event ul li {
  display: inline-block;
}
.blog-card-event .details-event .author-event:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card-event .details-event .date-event:before {
  font-family: FontAwesome;
  margin-right: 10px;
  content: "";
}
.blog-card-event .details-event .tags ul:before {
  font-family: FontAwesome;
  content: "";
  margin-right: 10px;
}
.blog-card-event .details-event .tags li {
  margin-right: 2px;
}
.blog-card-event .details-event .tags li:first-child {
  margin-left: -4px;
}
.blog-card-event .description-event {
  padding: 1rem;
  background: #fff;
  position: relative;
  z-index: 1;
}
.blog-card-event-event .description-event h1,
.blog-card-event .description-event h2 {
  font-family: Poppins, sans-serif;
}
.blog-card-event .description-event h1 {
  line-height: 1;
  margin: 0;
  font-size: 1.7rem;
}
.blog-card-event .description-event h2 {
  font-size: 1rem;
  font-weight: 300;
  text-transform: uppercase;
  color: red;
  margin-top: 5px;
}
.blog-card-event .description-event .read-more-event {
  text-align: right;
}
.blog-card-event .description-event .read-more-event a {
  color: red;
  display: inline-block;
  position: relative;
}
.blog-card-event .description-event .read-more-event a:after {
  content: "";
  font-family: FontAwesome;
  margin-left: -10px;
  opacity: 0;
  vertical-align: middle;
  transition: margin 0.3s, opacity 0.3s;
}
.blog-card-event .description-event .read-more-event a:hover:after {
  margin-left: 5px;
  opacity: 1;
}
.blog-card-event p {
  position: relative;
  margin: 1rem 0 0;
}
.blog-card-event p:first-of-type {
  margin-top: 1.25rem;
}
.blog-card-event p:first-of-type:before {
  content: "";
  position: absolute;
  height: 5px;
  background: red;
  width: 35px;
  top: -0.75rem;
  border-radius: 3px;
}
.blog-card-event:hover .details-event {
  left: 0%;
}
@media (min-width: 640px) {
  .blog-card{
    width: 80% !important;
  }
  .blog-card-event {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card-event .meta-event {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card-event .description-event {
    flex-basis: 60%;
  }
  .blog-card-event .description-event:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card-event .alt-event {
    flex-direction: row-reverse;
  }
  .blog-card-event .alt-event .description-event:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details-event {
    padding-left: 25px;
  }
}

@media (max-width: 833px) {
  .blog-card{
    width: 80% !important;
  }
  .blog-card-event {
    flex-direction: row;
    max-width: 700px;
  }
  .blog-card-event .meta-event {
    flex-basis: 40%;
    height: auto;
  }
  .blog-card-event .description-event {
    flex-basis: 60%;
  }
  .blog-card-event .description-event:before {
    transform: skewX(-3deg);
    content: "";
    background: #fff;
    width: 30px;
    position: absolute;
    left: -10px;
    top: 0;
    bottom: 0;
    z-index: -1;
  }
  .blog-card-event .alt-event {
    flex-direction: row-reverse;
  }
  .blog-card-event .alt-event .description-event:before {
    left: inherit;
    right: -10px;
    transform: skew(3deg);
  }
  .blog-card.alt .details-event {
    padding-left: 25px;
  }
}

.blog-card{
  width: 98%;
}
.blog-card.blog-card-event {
  margin-right: 17%;
}

.blog-card.blog-card-event.alt.alt-event {
  margin-left: 16%;
}

.blog-card-event .alt-event .description-event:before {
  left: inherit;
  right: -10px;
  transform: skew(3deg);
}
.blog-card.alt .details-event {
  padding-left: 25px;
}